.catalog-slider
  position relative
  &__image
    & img
      display block
    &:hover + .catalog-slider__link
      color #B81F33
  &__link
    display inline-block
    margin-top 0.5rem
    margin-bottom 0
    line-height 1
    font-weight 700
    color #222222
    text-decoration none
    &:hover
      color #B81F33
  &__swiper
    margin 0 40px
    @media(max-width point-m - 1)
      margin 0 30px
  &__slide
    display flex
    flex-direction column
    align-items center
    text-align center
    & img
      width 100%
      object-fit cover    
  &__button
    position absolute
    top 50%
    translate 0 calc(-50% - 20px)
    padding-y 10px
    background-color transparent
    border none
    display flex
    transition .4s background-color, .4s box-shadow
    z-index 1
    &::after
      top 0
      width 1.75rem
      height 1.75rem
      border-left .5rem solid #ad0a31
      border-top .5rem solid #ad0a31
      transition border .4s 
      content ''
    &:hover
      transition none
      &::after
        border-left .5rem solid rgba(#ad0a31, 0.5)
        border-top .5rem solid rgba(#ad0a31, 0.5)
        transition none
    &--prev
      left 0
      padding-left 0
      &::after
        transform translateX(25%) rotate(-45deg)
    &--next
      right 0
      padding-right 0
      &::after
        transform translateX(-25%) rotate(135deg)
    &--disabled
    &--disabled:hover
    &--disabled:active
      &::after
        border-left .5rem solid rgba(#ad0a31, .25)
        border-top .5rem solid rgba(#ad0a31, .25)
        transition border .4s 
    @media(max-width point-m - 1)
      height calc(100% - 40px)
      width 30px
      &::after
        position absolute
        top 50%
        translate 0 -50%
        width 1.5rem
        height 1.5rem
