.list-blocks
  counter-reset listBlocks
  &:not(.grid)
    display flex
    justify-content center
    margin (-(basePadding))
    flex-wrap wrap
  &__item
    display flex
    flex-direction column
    align-items center
    &:not(.grid__cell)
      $maxWidth = 'calc(50% - ' + (basePadding*2) + ')'
      width 12rem
      max-width unquote($maxWidth)
      margin basePadding
    &::before
      counter-increment listBlocks
      content counter(listBlocks)
      font-size 3.75rem
      line-height 1.125
      font-family 'Georgia', sans
      color #dab686
      margin-bottom (basePadding/2)
  &__item-body
    flex-grow 1
    padding basePadding
    min-height 8.125rem
    display flex
    align-items center
    font-size font-s
    line-height line-s
    text-align center
    background-color #f1e7d3
    border-top #dab686 1px solid
    border-radius 0 0 (basePadding/3) (basePadding/3)
    ^[-1]--background-transparent &
      background-color transparent
    ^[-1]--text-align-left &
      text-align left
