.hair-extention-section.hair-extention-masters
  h2.hair-extention-subheader Наши мастера по наращиванию
  .hair-extention-masters__description
    p Работают сертифицированные мастера-технологи с многолетним опытом. Мастера нарастят волосы капсульным или летночным методом. После наращивания подстригут, сделают укладку и прическу в подарок.

  +grid({paddingy:true, justify:'center'})
    - 
      const masters = [
        {
          name: 'Ирина Богданова',
          img: 'masters-bogdanova',
          list: ['Топ-мастер по наращиванию', 'Парикмахер-универсал'],
        },
        {
          name: 'Екатерина Смирнова',
          img: 'masters-smirnova',
          list: ['Топ-мастер по наращиванию', 'Парикмахер-универсал'],
        },
        {
          name: 'Наталья Шаныгина',
          img: 'masters-shanigina',
          list: ['Топ-мастер по наращиванию', 'Парикмахер-универсал'],
        },
        {
          name: 'Виктория Пристанскова',
          img: 'masters-pristanskova',
          list: ['Топ-мастер по наращиванию', 'Парикмахер-колорист', 'Стилист', 'Барбер'],
        },
        {
          name: 'Дарья Иванова',
          img: 'masters-ivanova',
          list: ['Эксперт по наращиванию', 'Стилист', 'Визажист', 'Парикмахер-универсал'],
        },
      ]

    each item in masters
      +grid__item({'m':3, 's':4, 'xs':6}).hair-extention-masters__item
        .hair-extention-masters__image
          +img({
            name: item.img,
            path: '/images/hair-extention/masters/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt= item.name)
        .hair-extention-masters__inner
          p.hair-extention-masters__name !{item.name}
          ul.list-marked
            each service in item.list
              li= service
          a(href='/master.html').hair-extention-masters__link Подробнее 
