.hair-extention-result
  &__item
    margin-bottom (basePadding)
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
  p
    font-size font-s
    line-height line-s
    margin-bottom font-s
  &__image
    margin-bottom (basePadding)
    padding basePadding
    background-color #fff
    box-shadow 0 0 10px rgba(0,0,0,.1)
    img
      display block
      border 1px solid #dab686
      width 100%
  &__price
    font-size font-xl
    line-height line-xl
    margin-bottom font-s
    color #ad0a31
  &__plus
    color #ad0a31
