.banner-friday-products
  align-self flex-end
  justify-content center
  @media(min-width point-l)
    transform translateY(100%)
  &__grid
    @media(min-width point-l)
      padding-right 0
  &__text
    font-size font-xs
    line-height 1
  &__img
    display block
    margin 0 auto
