.banner-friday-products
  list-style none
  z-index 10
  &::after
    content ''
    position absolute
    top 0
    right -17%
    width 320px
    aspect-ratio 1/1
    background-image url('../images/svg-sprites/inner.svg#banner-friday-bg-3')
    background-repeat no-repeat
    z-index -5
    @media(max-width point-xl - 1)
      display none
  &__text
    text-align center
