.catalog-filter-range
  position relative
  margin-top 1.375rem
  // width 103%
  & .noUi-base
    width calc(100% - 1.3rem)
  &.noUi-target
    height 0.25rem
    background-color #CCCCCC
    border none
    box-shadow none
  & .noUi-connect
    background-color #7D7D7D
  &.noUi-horizontal .noUi-handle
    right -1.3rem
    top -0.625rem
    width 1.5rem
    height 1.5rem
    background-color #FBEDC9
    border-radius 50%
    border none
    box-shadow inset 0 0 0 4px #222222
    cursor pointer
    &::before
    &::after
      display none
