.checkout-item
  display flex
  padding-y (basePadding*2)
  line-height line-m
  border-top 0.5px solid #cccccc
  @media screen and (max-width point-m)
    flex-wrap wrap
  &__item
    padding-right basePadding
    &--info
      flex-grow 1
    &--price
      display flex
      margin-x -(basePadding/2)
      & > *
        padding-x (basePadding/2)
      @media screen and (max-width point-m)
        flex-grow 1
        align-items center
    &:last-child
      padding-right 0
  &__name
    margin-bottom (font-m/2)
  &__clarification
    margin-bottom font-m
    font-size font-s
    line-height line-s

  &__count
    flex-shrink 0
  &__price
    display flex
    flex-direction column
    text-align right
    width 10rem
    @media screen and (max-width point-m)
      width auto
      flex-grow 1
  &__total
    font-weight bold
  &__single-price
    font-size font-xs
    color #aaaaaa
  .vm-customfield-cart
    display flex
    align-items center
    padding-x (basePadding/2)
    margin-x -(basePadding)
    & > *
      padding-x (basePadding)
    & > [class^='product-field-type-']
      display flex
      align-items center
      margin-x -(basePadding/3)
      color #868686
      font-size font-s
      line-height line-s
      @media screen and (max-width point-m)
        margin-bottom (basePadding*2)
      & > *
        padding-x (basePadding/3)
