.header-main-bottom
  display flex
  flex-wrap wrap
  margin-x(-(basePadding))
  align-items center
  padding-y(basePadding)
  justify-content  space-between
  &__item
    padding-x(basePadding)
    &--search
      flex-grow 1
