article.consultation-item
  header.consultation-item__header
    h1.consultation-item__title Цена клеевого набора
  form.consultation-form.form-validate.form-horizontal(action='/info/cons', method='post', enctype='multipart/form-data')
    fieldset
      .tab-content
        .tab-pane.active
          fieldset.form-vertical
            div.consultation-form__input
              label#jform_section_expert-lbl.consultation-form__label.required(for='jform_section_expert')
                | Отвечает
                span.star  *
              div
                select#jform_section_expert.form__input(name='jform[section_expert]')
                  option(value='')
                  option(value='3' selected) Консультант компании
            div.consultation-form__input
              label#jform_section_id-lbl.consultation-form__label.required(for='jform_section_id')
                | Категория
                span.star  *
              div
                select#jform_section_id.form__input(name='jform[section_id]')
                  option(value='3') Славянские волосы на кератиновой капсуле
                  option(value='4') Славянские волосы в пучках
                  option(value='13') Славянские волосы в срезе
                  option(value='5') Южно-русские волосы
                  option(value='6') Инструменты для наращивания
                  option(value='7') Материалы для наращивания
                  option(value='8') Обучение наращиванию волос
                  option(value='9') Обучение постижерной работе
                  option(value='10') Изделия из волос
                  option(value='11') Продажа волос
                  option(value='12') Вопросы по наращиванию волос
                  option(value='2') О компании
            div.consultation-form__input
              label#jform_from_name-lblt.consultation-form__label.required(for='jform_from_name')
                | Автор
                span.star  *
              div
                input#jform_from_name.form__input.required(type='text', name='jform[from_name]', value='Елена', size='30', aria-required='true', required='required')
            div.consultation-form__input
              label#jform_from_email-lbl.consultation-form__label.required(for='jform_from_email')
                | Ваш e-mail
                span.star  *
              div
                input#jform_from_email.form__input.validate-email.required(type='email', name='jform[from_email]', value='shevas@atnet.ru', size='30', aria-required='true', required='required')
            div.consultation-form__input
              label#jform_from_title-lbl.consultation-form__label.required(for='jform_from_title')
                | Тема
                span.star  *
              div
                input#jform_from_title.form__input.required(type='text', name='jform[from_title]', value='Цена клеевого набора', size='30', aria-required='true', required='required')
            div.consultation-form__input
              label#jform_section_state-lbl.consultation-form__label.required(for='jform_section_state')
                | Состояние
                span.star  *
              div
                select#jform_section_state.form__input(name='jform[section_id]')
                  option(value='1') Опубликовано
                  option(value='2') Неопубликовано
            div.consultation-form__input
              label#jform_from_msg-lbl.consultation-form__label.required(for='jform_from_msg')
                | Текст вопроса
                span.star  *
              div
                textarea#jform_from_msg.form__input.required(name='jform[from_msg]', aria-required='true', required='required') Цена клеевого набора?)
            div.consultation-form__input
              label#jform_from_answer-lbl.consultation-form__label.required(for='jform_from_answer')
                | Ответ
                span.star  *
              div
                textarea#jform_from_answer.form__input.required(name='jform[from_answer]', aria-required='true', required='required')
            div.consultation-form__input
              strong Вложения: 
              a(href='https://volosy24.ru/components/com_consult/files/answer_1119_0.jpg') Фотография
              | , 
              a(href='https://volosy24.ru/components/com_consult/files/answer_1119_0.jpg') Фотография
            div
              strong
                a(href='#', onclick='csAddFile(); return false;') Прикрепить файл
              small  (GIF, PNG, JPG, JPEG, DOC, DOCX, TXT)
              | :
              br
              br
              #csUpFile0(style='display:none;')
                input(type='file', name='file0')
              #csUpFile1(style='display:none;')
                input(type='file', name='file1')
              #csUpFile2(style='display:none;')
                input(type='file', name='file2')
              #csUpFile3(style='display:none;')
                input(type='file', name='file3')
              #csUpFile4(style='display:none;')
                input(type='file', name='file4')
            div
              div
            div
              div
                input#jform_return(type='hidden', name='jform[return]', value='aW5mby9jb25zL3NsYXZ5YW5za2llLXZvbG9zeS1uYS1rZXJhdGlub3Zvai1rYXBzdWxl')
    input(type='hidden', name='task', value='')
    input(type='hidden', name='c028da7a767b3ea7d746be36f72c8739', value='1')
    // End Newsfeed
    .consultation-form__buttons.form-actions
      button.btn.btn-primary.validate(type='submit') Сохранить
      input(type='hidden', name='option', value='com_consult')
      input(type='hidden', name='task', value='addQuestion')
      input(type='hidden', name='c028da7a767b3ea7d746be36f72c8739', value='1')
