.banner-may
  &__inner
    background image-set(url('../images/banner-may/banner-may_l.webp') 1x, url('../images/banner-may/banner-may_l@2x.webp') 2x) center bottom no-repeat
    background-size cover
    z-index 1
    @media(max-width point-l - 1)
      background image-set(url('../images/banner-may/banner-may_m.webp') 1x, url('../images/banner-may/banner-may_m@2x.webp') 2x) center bottom no-repeat
      background-size cover
    @media(max-width point-m - 1)
      background image-set(url('../images/banner-may/banner-may_s.webp') 1x, url('../images/banner-may/banner-may_s@2x.webp') 2x) center no-repeat
      background-size cover
    @media(max-width point-s - 1)
      background image-set(url('../images/banner-may/banner-may_xs.webp') 1x, url('../images/banner-may/banner-may_xs@2x.webp') 2x) center no-repeat
      background-size cover
  &__duration
    text-align center
    background-color #F7EFDF
  &__promo
    color #F1EDE4
    background-color #CB072F
    z-index 3
  &__promocode
    &::before
      position absolute
      content ''
      top 50%
      left 0
      transform translateY(-50%)
      width 100%
      height 100%
      background-color #F1EDE4
      border-radius 24px
  &__promocode-text
    column-gap 0.5rem
    z-index 1
    & span
      color #CB072F
  &__discount
    color #B81F33
    &::before
    &::after
      content ''  
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      border-radius 50%
      filter blur(8px)
      background #FCE5AF
    &::before
      width 14rem
      height 14rem
      opacity 0.5
      z-index -1
    &::after
      width 35rem
      height 35rem
      opacity 0.3
      z-index -1
  &__text
    &::before
      content ''  
      position absolute
      width 1.3rem
      height 1.3rem
      top 0
      left -0.6rem
      border-radius 50%
      background #FCE5AF
      z-index -1
  &__container
    column-gap 2rem
    @media(max-width point-l - 1)
      column-gap 0
  &__images-left
    display flex
    column-gap 2rem
    @media(max-width point-l - 1)
      flex-basis 54%
    @media(max-width point-m - 1)
      justify-content space-between
  &__images-right
    justify-content center
    column-gap 3rem
    @media(min-width point-m) and (max-width point-l - 1)
      justify-content flex-end
    @media(max-width point-m - 1)
      justify-content space-between
      column-gap 1.5rem
  &__link
    border-radius 50%
    & img
      border-radius 50%
    &::before
      content ''  
      position absolute
      left 50%
      transform translate(-50%, 0)
      background var(--background-image) no-repeat 
      z-index -1
    &--undyed
      &::before
        --background-image url('../images/svg-sprites/home.svg#banner-may-undyed')
        width 14rem
        height 16rem
        top -1.5rem
        background-size contain
        @media(max-width point-l - 1)
          width 11rem
          height 12rem
          top -1rem
        @media(max-width point-m - 1)
          width 12rem
          height 13rem
    &--cut
      @media(max-width point-s - 1)
        transform translateX(3rem)
      &::before
        --background-image url('../images/svg-sprites/home.svg#banner-may-cut')
        width 9.8rem
        height 10rem
        top -2.8rem
        background-size contain
        @media(max-width point-l - 1)
          width 7.8rem
          height 8rem
          top -2.2rem
        @media(max-width point-m - 1)
          width 8.8rem
          height 9rem
          top -2.5rem
    &--ribbon
      &::before
        --background-image url('../images/svg-sprites/home.svg#banner-may-ribbon')
        width 16rem
        height 15rem
        top -2rem
        background-size contain
        @media(max-width point-l - 1)
          width 9rem
          --background-image url('../images/svg-sprites/home.svg#banner-may-ribbon_m')
        @media(max-width point-m - 1)
          width 11rem
          height 11rem
          top -2.5rem
    &--capsule
      &::before
        --background-image url('../images/svg-sprites/home.svg#banner-may-capsule')
        width 14.5rem
        height 12rem
        top -2.5rem
        background-size contain
        @media(max-width point-l - 1)
          width 11.5rem
          height 9.5rem
          top -2rem
        @media(max-width point-m - 1)
          width 13rem
          height 10.5rem
          top -2.2rem
    &--mini-ribbon
      &::before
        --background-image url('../images/svg-sprites/home.svg#banner-may-mini-ribbon')
        width 10rem
        height 11rem
        top -0.8rem
        background-size contain
        @media(max-width point-l - 1)
          width 8.5rem
          height 9rem
        @media(max-width point-m - 1)
          width 9.5rem
          height 10rem
          top -1rem
    &--cosmetics
      &::before
        --background-image url('../images/svg-sprites/home.svg#banner-may-cosmetics')
        width 19.5rem
        height 14.2rem
        top -4rem
        background-size contain
        @media(max-width point-l - 1)
          width 16.5rem
          height 12rem
          top -3.5rem
        @media(max-width point-m - 1)
          width 18.5rem
          height 13.5rem
          top -3.8rem
