.banner-may
  &.content
    padding 0
  display flex
  overflow hidden
  @media(max-width point-s - 1)
    flex-direction column
  &__inner
    width 100%
    padding-top 0.75rem
    padding-bottom 0.8rem
    overflow hidden
    @media(max-width point-s - 1)
      padding-top 1.25rem
  &__duration
    margin-bottom 0
    padding 0.875rem
    font-weight 700
    @media(min-width point-s)
      writing-mode vertical-lr
      transform rotate(-180deg)
      border-left 2px dashed #8B6347
    @media(max-width point-s - 1)
      padding 0.5rem
      border-bottom 2px dashed #8B6347
  &__intro
    display flex
    align-items center
    @media(max-width point-s - 1)
      flex-direction column
      align-items flex-start
  &__promo
    position relative
    padding 0.5rem 2.5rem
    font-weight 700
    font-size 1.75rem
    border-top-right-radius 1.5rem
    border-bottom-right-radius 1.5rem
    @media(max-width point-s - 1)
      padding-left 1rem
  &__promocode
    position relative
    margin-left -4rem
    padding 0.625rem 0.625rem 0.625rem 4.2rem 
    @media(max-width point-s - 1)
      align-self flex-end
      margin-top -0.5rem
      margin-right 0.875rem
  &__promocode-text
    position relative
    display flex
    align-items center
    font-weight 700
    font-size 0.875rem
    & span
      font-size 1.125rem
      font-weight 700
  &__discount
    position relative
    align-self center
    width min-content
    margin-top 2rem
    margin-bottom 0
    font-weight 700
    font-size 7rem
    line-height 1
    letter-spacing -0.05em
    @media(max-width point-l - 1)
      font-size 6.125rem
    @media(max-width point-m - 1)
      margin-top 1rem
      font-size 5rem
    & span
      font-weight 700
      font-size 5.3rem
      line-height 1.2
      @media(max-width point-l - 1)
        font-size 4.5rem
      @media(max-width point-m - 1)
        font-size 3.75rem
  &__text
    position relative
    font-weight 700
    font-size 1.75rem
    line-height 1.15
    @media(max-width point-l - 1)
      font-size 1rem
    @media(max-width point-m - 1)
      margin-left 2rem
  &__clarification
    flex-basis 37%
    @media(min-width point-l)
      margin-top -3rem
    @media(max-width point-m - 1)
      display flex
      flex-direction column
  &__container
    display flex
    @media(max-width point-m - 1)
      flex-direction column
      align-items center
      padding 2rem
  &__images-left
    flex-basis 56%
    display flex
    align-items flex-start
    padding-top 3.5rem
    padding-left 1.5rem
    @media(max-width point-l - 1)
      flex-basis 54%
      padding-top 1.5rem
    @media(max-width point-m - 1)
      width 100%
      padding 0
    @media(max-width point-s - 1)
      padding-top 0
  &__images-right
    display flex
    align-items flex-start
    flex-wrap wrap
    @media(min-width point-m)
      margin-top -3rem
      padding-right 1rem
    @media(min-width point-m) and (max-width point-l - 1)
      margin-left -5rem
      padding-right 2rem
    @media(max-width point-m - 1)
      width 100%
    @media(max-width point-m - 1)
      row-gap 1rem
  &__link
    position relative
    display inline-block
    & img
      width 6.25rem
      height 6.25rem
      @media(max-width point-l - 1)
        width 5rem
        height 5rem
      @media(max-width point-m - 1)
        width 5.625rem
        height 5.625rem
    &--undyed
      @media(min-width point-m) and (max-width point-l - 1)
        margin-top 2rem
      @media(max-width point-s - 1)
        margin-right -6rem
    &--cut
      @media(min-width point-m)
        margin-top auto
      @media(max-width point-m - 1)
        margin-top 3rem
      @media(max-width point-s - 1)
        margin-top 4rem
    &--ribbon
      margin-top -1rem
      @media(min-width point-m) and (max-width point-l - 1)
        margin-left -1.5rem
    &--mini-ribbon
      margin-top 1rem
      @media(max-width point-m - 1)
        margin-top 3rem
      @media(max-width point-s - 1)
        margin-top 0
    &--cosmetics
      @media(min-width point-m)
        margin-top 1rem
      @media(max-width point-s - 1)
        margin-top -2rem
        margin-left 36%
