.features-title
  font-size font-l
  font-weight bold
  padding basePadding (basePadding/3*5)
  background-color #f9eadd
  border-left 3px solid #ad0a31
  margin-bottom (basePadding*2)
  .grid--padding-y.grid--wide-padding > .grid__cell > &
    margin-bottom 0
  &--secondary
    background-color transparent
    box-shadow  4px 4px 10px rgba(#252525, 0.1)
    * + &
      margin-top (basePadding*2)
