mixin featuresTitle(settings)
  -
    settings = typeof settings == 'object' ? settings : {}
    let classList = [
      ( settings.type = settings.type ? `features-title--${settings.type}` : '' )
    ]
  .features-title( class != classList )
    block
