.hair-extention-section.hair-extention-count-price
  h2.hair-extention-subheader Как рассчитать стоимость
  p Рассмотрим пример того, как расчитать стоимость наращивания волос на капсулах и ленте. Для просчета вам нужно определиться с количеством капсул либо лент, которое подойдет вам. Среднее количество составит 100 капсул для капсульного наращивания и 40 лент для ленточного. Далее вам нужно определиться с длиной, цветом волос и посмотреть сколько будет стоить нужное количество капсул, либо лент. К получившейся сумме прибавить сумму работы мастера.
  .hair-extention-count-price__list
    .hair-extention-count-price__item
      p.hair-extention-count-price__subtitle Количество (капсул / лент)
      p Среднее нужное количество:<br>капсулы - 100 шт.<br>ленты - 40 шт.<br>трессы - 2 шт.
    .hair-extention-count-price__plus.hidden-m.hidden-s.hidden-xs
    .hair-extention-count-price__item
      p.hair-extention-count-price__subtitle Длина  и цвет волос
      p Стоимость волос (капсул / лент) разная зависит от длины и цвета.<br>Популярная длина волос - 55 см.
    .hair-extention-count-price__plus.hidden-m.hidden-s.hidden-xs
    .hair-extention-count-price__item
      p.hair-extention-count-price__subtitle Работа мастера
      p Стоимость работы мастера:<br>1 шт. капсула - 30 руб.<br>10 шт. лент - 500 руб.<br>1-2 шт. трессы - 4000 руб.
