.hair-extention-count-price
  &__list
    display flex
    align-items flex-start
    margin-top 24px
    justify-content center
    flex-wrap wrap
    @media screen and (max-width point-s)
      flex-direction column
      align-items center
  &__item
    flex 0 0 320px
    text-align center
    &::before
      content ''
      display block
      margin-bottom basePadding
      width 100%
      height 200px
      background-position center
      background-repeat no-repeat
      @media screen and (max-width point-m)
        margin-bottom (basePadding*1.5)
    &:nth-of-type(1)::before
      background-image url('/images/hair-extention/price-count-1.png')
    &:nth-of-type(3)::before
      background-image url('/images/hair-extention/price-count-2.png')
    &:nth-of-type(5)::before
      background-image url('/images/hair-extention/price-count-3.png')
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
  &__plus
    flex-basis 50px
    height 120px
    width 50px
    background url('/images/hair-extention/plus.png') no-repeat bottom
  &__subtitle
    font-size font-l
    margin-bottom basePadding
    font-weight bold
