include /blocks/slider/slider

.product-photos
  .product-photos__main
    a(href='/images/new-catalog/000-1.webp' data-fancybox-group='fancybox_product').fancybox_product
      +img({
        name: '000-1',   
        path: '/images/new-catalog/',
        formats: [
          { ext: 'jpg', orig: true },
          { ext: 'webp', mime: 'image/webp' },
        ],
      })(alt= 'Волосы для наращивания на капсуле' title= 'Волосы для наращивания на капсуле')
    img(src='/images/hair-length.jpg').product-photos__length
    .product-photos__ruler
      .product-photos__ruler-value
  .product-photos__additional
    +slider.product-photos__slider
      - for(let i = 0; i<4; i++)
        +slide.product-photos__slide
          a(href='/images/new-catalog/000-1.jpg' data-fancybox-group='fancybox_product').modal.fancybox_product
            +img({
              name: '000-1',
              path: '/images/new-catalog/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ]
            })(alt= '') 
    +slider.product-photos__video
      - for (let i = 0; i < 4; i++)
        +slide.product-photos__video-slide
          a(href='https://vk.com/video_ext.php?oid=-1969216&id=456239703&hd=2' data-fancybox).product-photos__video-layer
            img(src='/images/new-catalog/preview-example.jpg' loading='lazy' alt= '')

