.list-icons
  margin-bottom font-m
  font-size font-m
  line-height line-m
  &__item
    display flex
    align-items center
    min-height 3rem
    padding-left 4rem
    background-position left top
    background-repeat no-repeat
    background-size 2.75rem
    & + &
      margin-top (basePadding*2)
    &--search
      background-image url(../images/svg-sprites/rest.svg#search)
    &--link
      background-image url(../images/svg-sprites/rest.svg#link)
    &--star
      background-image url(../images/svg-sprites/rest.svg#star)
