.banner-tapes
  &.content
    padding-x 0
  &__inner
    position relative
    display flex
    flex-direction column
    padding-y 30px 42px
    padding-left 12px!important
    @media(min-width point-m)
      padding-left 80px!important
    &::before
      position absolute
  &__action-image
    position relative
    display block
    width 100%
    max-width 350px
    margin-bottom 24px
    @media(min-width point-m)
      max-width 374px
      margin-bottom 30px
      margin-left -30px
  &__promo
    position relative
    display flex
    gap 1rem
    margin-bottom 10px
  &__clarification
    font-size 18px
    margin-bottom 1rem
  &__discount
    display flex
    column-gap 0.5rem
    span
      flex-shrink 0
      font-size 58px
      font-weight 700
      letter-spacing 0.05
      @media(max-width point-m - 1)
        font-size 40px
  &__text
    font-size 20px
    max-width 80%
    padding-right 1rem
  &__image
    position relative
    display block
    width 100%
    // aspect-ratio 401/335
    object-fit contain
    max-height 62vw
  &__button
    position relative
    margin-top 1rem
    padding 0.75rem 2.5rem
    font-weight bold
    @media(max-width point-m - 1)
      margin-inline auto
  &__phone
    &.header-contacts__phone
      margin-bottom 0
    @media(max-width point-m - 1)
      margin-inline auto
