.banner-tapes
  background #f0e6dc
  &__inner
    align-items flex-start
    &::before
      inset 0
      content ''
      width 100%
      height 109%
      background linear-gradient(180deg, #d9c6ad 0%, #e7dacc 92%, rgba(235,224,212,0) 95%)
      z-index 2
      @media(min-width point-m)
        width 110%
        height 100%
        background linear-gradient(90deg, #D9C6AD 0%, #E7DACC 91%, rgba(235, 224, 212, 0) 100%)
  &__action-image
    z-index 3
  &__promo
    align-items center
    z-index 3
  &__discount
    color #B81F33
    letter-spacing 0.01em
  &__image
    z-index 1
  &__text
  &__clarification
    text-align left
  &__button
  &__clarification
  &__phone
    z-index 3
  .home-countdown
    z-index 3
