.training-reviews
  &__item
    border 1px solid #dab686
  &__header
    position relative
    padding 1rem
    padding-right 4.625rem
    background-color #fefcf7
    text-align right
    &::before
      content '“'
      position absolute
      top 0
      right .625rem
      font-weight 700
      color #dab686
      font-size 6.25rem
      line-height 6.25rem
      opacity .3
  &__inner
    display flex
    flex-direction column
    gap 0.25rem
    padding 1rem
  &__name
    font-weight 700
  &__rating
    display flex
    align-items center
    gap 6px
    margin-bottom 0.5rem
  &__rating-star-container
    display flex
    gap 0.25rem
  &__rating-star
    width 1rem
    height 1rem
    mask-image url(../images/svg-sprites/inner.svg#star)
    mask-repeat no-repeat
    mask-size cover
    mask-position center
    background-color #FFCC33
  &__rating-date
    color #4e4e4e
  &__image
    max-height 150px
  &__link
    margin-top 0.5rem
    width max-content
