section.training-reviews.training-section
  h2.training-section__header Отзыв об обучении
  +grid 
    +grid__item({ 'xs':12 })
      .training-reviews__item
        .training-reviews__header Отзыв оставлен на сайте 
          a(href='https://yandex.com/maps/org/hair_care_center/1770719437/reviews/?ll=30.312894%2C59.908089&z=15' target='_blank' rel='nofollow') Яндекс карты
        .training-reviews__inner
          .training-reviews__name Татьяна Ильина
          .training-reviews__rating
            .training-reviews__rating-star-container
              .training-reviews__rating-star
              .training-reviews__rating-star
              .training-reviews__rating-star
              .training-reviews__rating-star
              .training-reviews__rating-star
            .training-reviews__rating-date 9 ноября
          .training-reviews__text Проходила обучение по наращиванию волос у топ-мастера Дарьи, все прекрано объясняла и стояла надо мной до тех пор, пока у меня не получиться. Также хочется отдельно отметить доброжелательную и теплую атмосферу в коллективе. По окончанию курса вручили подарок, а именно стартовый набор для наращивания🥰, за что отдельная благодарность руководителю салона.
          a(href='/images/obuchenie/review-1.webp' data-fancybox).training-reviews__link
            +img({
              name: 'review-1',
              path: '/images/obuchenie/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ]
            })(alt= '').training-reviews__image
