.palette
  display flex
  flex-wrap wrap
  margin-x -(basePadding)
  &__item
    width 110px
    margin-x basePadding
    margin-bottom (basePadding*2)
    text-align center
    max-width calc(100%/3 - 1.5rem)
    img
      border 1px solid #DAB686
      border-radius (basePadding/3)
      padding (basePadding/3)
  &__number
    margin-bottom 0
    font-size font-s
    line-height line-s
  &__color
    margin-bottom 0
    font-size 0.75rem
    line-height 1.2
  &--prices
    margin 0
    & ^[0]__item
      width unset
      margin 0
      img
        border none
