@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  --arrow-position -0.5rem
  --arrow-size 2rem
  position relative
  overflow hidden
  &__slides
    position static
  &__wrapper
    display grid
    grid-auto-columns auto
    grid-template-rows auto
    grid-auto-flow column
    align-items center
  &__arrow
    --arrow-color var(--slider-arrow-color, #dab686)
    --arrow-transition-duration-out 0.4s
    cursor pointer
    background-color var(--arrow-color)
    mask-image url(../images/svg-sprites/inner.svg#arrow)
    mask-repeat no-repeat
    mask-position center
    mask-size 2.5rem
    transition background-color var(--arrow-transition-duration-out)
    position absolute
    top 50%
    transform translateY(-50%)
    width var(--arrow-size)
    height var(--arrow-size)
    z-index 100
    &--prev
      left var(--arrow-position)
      rotate 180deg
      margin-top -2rem
    &--next
      right var(--arrow-position)
    &:hover
      --arrow-color var(--slider-arrow-color-hover, #715644)
      --arrow-transition-duration-in 0.1s
      background-color var(--arrow-color)
      transition-duration var(--transition-duration-in)
    &--disabled
    &--disabled:hover
    &--disabled:active
      background-color #ccc
      cursor default
    @media(max-width point-s - 1)
      --arrow-size 3rem
      --arrow-position -1rem
      &--prev
        margin-top -3rem
