.accordion-item
  & + &
    margin-top 1rem
  display grid
  grid-template-rows min-content 0fr
  transition-property grid-template-rows
  transition-duration 0.4s
  background-color #dab68614
  border-radius 0.33rem
  &--active
    grid-template-rows min-content 1fr
    transition-duration 0.1s
    & ^[-1]__body
      padding-y 1rem
      transition-duration 0.1s
  &__header
    position relative
    padding-block 1rem
    padding-left 1.5rem
    padding-right 3rem
    cursor pointer
    h3
      margin-block 0
      font-size 1.125rem
      font-weight 400!important
  &__arrow
    position absolute
    top 50%
    right 1.25rem
    display block
    width 1.125rem
    height 1rem
    translate 0 -50%
    path
      stroke #bda68c
  &__body
    position relative
    padding-inline 1.5rem
    overflow hidden
    transition-property padding
    transition-duration 0.4s
    &::before
      position absolute
      top 0
      left 1rem
      right 1rem
      content ''
      height 1px
      background-color #bda68c
    .list-marked
      padding-left 1rem
