.hair-extention-sign
  display none
  &_show
    position fixed
    top 0
    left 0
    display flex
    justify-content center
    align-items flex-start
    width 100%
    height 100%
    z-index 1001
    background-color rgba(0,0,0,0.75)
    @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur())
      backdrop-filter: blur(2px)
  &__inner
    position relative
    width 100%
    border 1px solid #dab686
    border-radius 0.2rem
    padding (basePadding*2) 0
    text-align left
    overflow-y auto 
    max-width 44rem
    background linear-gradient(#f6eddb, #ead7bd)
    overflow-x hidden
    @media screen and (max-width point-m)
      padding-x basePadding
  &__close
    position absolute
    top (basePadding)
    right (basePadding)
    font-weight bold
    text-align center
    width (basePadding*3)
    height  (basePadding*3)
    border 2px solid #000
    border-radius 50%
    background-color #fff
    cursor pointer
    z-index 102
    display flex
    align-items center
    justify-content center
    &::before
      content ''
      width (basePadding*2)
      height (basePadding/3)
      background-color #000000
      position relative
      transform translateX(50%) rotate(45deg) scale(1.2)
    &::after
      content ''
      width (basePadding*2)
      height (basePadding/3)
      background-color #000000
      position relative
      transform translateX(-50%) rotate(135deg) scale(1.2)
    &:hover
      background-color #eee
  &__header
    font-size font-xl
    text-align center
    span
      font-weight bold
  // &__subheader
  //   font-size font-xl
  //   line-height line-xl
  //   margin-bottom font-m
  &__subtitle
    display flex
    justify-content center
    span
      margin-bottom (basePadding*2)
      position relative
      font-size font-s
      font-weight bold
      font-family fontHeader
      line-height 1
      padding basePadding (basePadding*2)
      background-color #fff
      border 1px solid #dab686
      border-radius 0.2rem
      color #ad0a31
      box-shadow 3px 3px 6px rgba(130, 81, 65, .14)
      align-self center
      display inline-block
      @media screen and (max-width point-m)
        margin-bottom (basePadding*2)
      &::before
      &::after
        content ''
        position absolute
        top 50%
        transform translateY(-50%)
        width 10rem
        max-width 100%
        height 1px
        background #dab686;
        @media screen and (max-width point-m)
          top auto
          bottom (-(basePadding))
          width 50%
          transform translateY(50%)
      &::before
        left -10rem
        background linear-gradient( to right, transparent, #dab686 )
        @media screen and (max-width point-m)
          content none
      &::after
        right -10rem
        background linear-gradient( to left, transparent, #dab686 )
        @media screen and (max-width point-m)
          content none
  &__buy
    padding (basePadding*2)
    border-top 1px solid #dab686
    @media screen and (max-width point-m)
      padding-x 0
  &__buy-image
    img
      border 0.25rem solid #ffffff
  &__image
    @media(min-width point-m)
      display flex
      align-items flex-end
