.hair-extention-sign#hair-extention-sign
  .hair-extention-sign__close
  .hair-extention-sign__inner
    h2.hair-extention-sign__header Запишитесь&nbsp;на <span></span> прямо&nbsp;сейчас!
    .hair-extention-sign__subtitle
      span Укладка и причёска в подарок!
    +grid
      +grid__item({'m':3,'xs':12}).hair-extention-sign__image.hidden-s.hidden-xs
        img(src="/images/extention-methods/module-1.png" style='width: 100%')
      +grid__item({'m':9,'xs':12})
    
        ul.list-marked
          li Опыт работы мастеров от 15 лет
          li 100% качество славянских волос
          li Все цвета и длины от 40 до 85 см в наличии
          li Опыт работы мастеров от 15 лет
          li 100% качество славянских волос
          li Все цвета и длины от 40 до 85 см в наличии
        include ../hair-extention-sign-form/hair-extention-sign-form
    //- .hair-extention-sign__buy
    //-   +grid({'justify':'flex-end'})
    //-     +grid__item({'m':9,'xs':12})
    //-       h2.hair-extention-sign__subheader Хотите купить волосы? 
    //-   +grid
    //-     +grid__item({'m':3,'xs':12}).hair-extention-sign__buy-image.hidden-s.hidden-xs
    //-       img(src='/images/extention-methods/module-2.jpg' style='width: 100%')
    //-     +grid__item({'m':9,'xs':12})
    //-       p Чтобы купить волосы на капсулах, лентах, трессе, в срезе, вы можете:
    //-       ul.list-marked
    //-         li Сделать заказ по телефону +7 (812) 612-37-36
    //-         li Заказать волосы через наш интернет-магазин
    //-         li Сделать заказ на сайте через онлайн консультанта
    //-         li Приехать в наш магазин в Санкт-Петебурге
    //-       +list-starred({'list':['Гарантия 30 дней','Доставка по РФ','Собственное производство','Низкая цена от производителя'],'settings':{'cols':{'m':2,'xs':1}}})
