.header-cart-item
  .header-cart-item__info
    .header-cart-item__title
      span.header-cart-item__count 1 &times; 
      | Волосы для наращивания в срезе
    .header-cart-item__price 9680 руб.
  .header-cart-item__attributes
    .vm-customfield-mod
      span.product-field-type-I Длина 40 см.
      span.product-field-type-M
        | Цвет 
        img(src='/images/stories/virtuemart/palette/1.jpg', alt='черный', title='черный')
        span.vm-img-desc 1, черный


    
