
.hair-extention-section.hair-extention-about
  +grid({'align':'flex-start'})
    +grid__item({m:6,xs:12})
      .hair-extention-about__photo
        img(src='/images/hair-extention-2/about.jpg')
    +grid__item({m:6,xs:12})
      .hair-extention-about__info
        h3 Отдельные кабинеты для каждого клиента
        p Обслуживаем клиентов в отдельных кабинетах. Вы остаетесь наедине с мастером, что позволяет раскрыться и не отвлекаясь на других людей заняться красотой и здоровьем ваших волос.
        .hair-extention-about__caption открылись в 
          b 2002 году
