.footer-links
  display flex
  flex-wrap wrap
  justify-content center
  margin-x (basePadding/2)
  &__item
    padding-x (basePadding/2)
    font-size font-xxs
    line-height line-xxs
    a
      color #cb072f
      &:hover
        color #ad0a31
