.hair-palette
  display flex
  justify-content center
  align-items center
  margin-bottom (basePadding*2)
  a
    display flex
    justify-content center
    align-items center
    height 16rem
    width 16rem
    background-image image-set(url('../images/hair-palette.webp') 1x, url('../images/hair-palette@2x.webp') 2x)
    background-size contain
    background-repeat no-repeat
    background-position center
    font-size font-xl
    text-decoration none
    span
      font-size (font-xl*2)
      margin-right (basePadding/2)
