@font-face
  font-family 'Fira Sans'
  src url("../fonts/FiraSans-Medium.woff") format("woff")
  font-weight 500
  font-style normal
  font-display swap

@font-face
  font-family 'Fira Sans'
  src url("../fonts/FiraSans-Regular.woff") format("woff")
  font-weight 400
  font-style normal
  font-display swap
  
  $backgroundGradient =  linear-gradient(#ede5bf, #d6b384)
.action-banner
  position relative
  display flex
  flex-direction column
  justify-content center
  min-height 288px
  padding 20px 70px
  text-decoration none
  background-color #E3D4B7
  background-image var(--background-image)
  background-repeat no-repeat
  background-position right
  @media (max-width point-m - 1)
    padding-inline 20px
    padding-y 2rem
    min-height 350px
    background-size cover
  & + &
    margin-top 20px
  &::before
    content ''
    @media (max-width point-m - 1)
      content ''
      position absolute
      inset 0
      z-index -1
      background-color rgba(255, 255, 255, .5)
  &__label
    position absolute
    top 10px
    right 0
    padding 6px 52px 6px 36px
    font-size 40px
    font-weight bold
    color #ffffff
    background-color rgba(#B81F33, .8)
    @media (max-width point-m - 1)
      display none
    &::before
    &::after
      content ''
      position absolute
      left -16px
      height 50%
      width 16px
      background-image linear-gradient(to left bottom, rgba(#B81F33, .8) 50%, transparent 50%)
    &::before
      top 0
    &::after
      bottom 0
      scale 1 -1
  &__title
    z-index 2
    max-width 350px
    font-size 24px
    line-height 1.5
    color #4e4e4e
    @media (max-width point-m - 1)
      font-size 20px
      font-weight bold
    & strong
      color #B81F33
    &--zhipci
      max-width 380px
      font-size 20px
  &__description
    z-index 2
    max-width 350px
    margin-top 4px
    font-size 24px
    line-height 1.5
    color #4e4e4e
    @media (max-width point-m - 1)
      font-weight bold
  &--installment
    --background-image image-set(url('../images/action-banner--installment.webp') 1x, url('../images/action-banner--installment@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--installment.webp') 1x, url('../images/action-banner--installment@2x.webp') 2x)
    & ^[-1]__title
      position relative
      max-width 400px
      padding-left 70px
      text-align right
      @media (max-width point-m - 1)
        padding-left 80px
        text-align left
      &::before
        content ''
        position absolute
        width 90px
        height 107px
        top 6px
        left 0
        background-image url(../images/action-banner--installment.svg)
        background-size cover
        @media (max-width point-m - 1)
          width 60px
          height 72px
      strong
        display block
        font-size 52px
        font-weight 500
        line-height 56px
        text-transform uppercase
        @media (max-width point-m - 1)
          font-size 32px
          line-height 34px
    & ^[-1]__description
      margin-top 36px
      font-weight 500
      color #B81F33
  &--october-22
    --background-image image-set(url('../images/action-banner--october-22.webp') 1x, url('../images/action-banner--october-22@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--october-22.webp') 1x, url('../images/action-banner--october-22@2x.webp') 2x)
    background-color #F5E8D5
    & ^[-1]__title strong
      display block
      @media (min-width point-m)
        font-size 40px
        line-height 56px
    & ^[-1]__description
      @media (min-width point-m)
        font-size 22px
      mark
        display inline-block
        margin-left 4px
        padding 3px 16px
        line-height 24px
        color #8B6347
        background-color #fff
        border-radius 4px
  &--master-discount-20
    --background-image image-set(url('../images/action-banner--master-discount-20.webp') 1x, url('../images/action-banner--master-discount-20@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--master-discount-20.webp') 1x, url('../images/action-banner--master-discount-20@2x.webp') 2x)
    background-color #EAE2D6
    & ^[-1]__title
      font-weight 500
      strong
        display block
        @media (min-width point-m)
          font-size 40px
          line-height 56px
  &--wholesale-discount-30
    --background-image image-set(url('../images/action-banner--wholesale-discount-30.webp') 1x, url('../images/action-banner--wholesale-discount-30@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--wholesale-discount-30.webp') 1x, url('../images/action-banner--wholesale-discount-30@2x.webp') 2x)
    background-color #F2EEE5
    & ^[-1]__title
      font-weight 500
      @media (min-width point-m)
        font-size 30px
      strong
        display block
        span
          font-weight 500
          @media (min-width point-m)
            font-size 40px
            line-height 56px
  
  &--wholesale-discount-23
    --background-image image-set(url('../images/action-banner--wholesale-discount-23.webp') 1x, url('../images/action-banner--wholesale-discount-23@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--wholesale-discount-23.webp') 1x, url('../images/action-banner--wholesale-discount-23@2x.webp') 2x)
    justify-content flex-start
    background-color #F2EEE5
    font-family 'Fira Sans', Arial, Helvetica, sans-serif
    z-index -2
    & ^[-1]__title
      margin-top 8px
      font-weight 500
      line-height 1
      color #222222
      & strong
        font-size 36px
        line-height 1.4
        font-weight 500
        @media (max-width point-m - 1)
          font-size 28px
        & span
          font-size 45px
          line-height 1.1
          font-weight 500
          @media (max-width point-m - 1)
            font-size 38px
    & ^[-1]__description
      margin-top 11px
      color #222222
      font-size 20px
      line-height 1.5
      @media (max-width point-m - 1)
        font-size 18px
        font-weight 400
      & span 
        padding 2px 10px
        color #B81F33
        background-color #FFFFFF
        border-radius 4px

  &--creative
    --background-image image-set(url('../images/action-banner--creative.webp') 1x, url('../images/action-banner--creative@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--creative.webp') 1x, url('../images/action-banner--creative@2x.webp') 2x)
    justify-content flex-start
    background-color #F2EEE5
    background-size cover
    font-family 'Fira Sans', Arial, Helvetica, sans-serif
    z-index -2
    & ^[-1]__title
      & strong
        font-size 40px
        line-height 1.4
        font-weight 500
        @media (max-width point-m - 1)
          font-size 30px
          line-height 1.8
      & p
        margin-bottom 0
        font-size 22px
        line-height 1.1
        font-weight 500
        color #222222
        text-decoration none
        @media (max-width point-m - 1)
          font-size 20px
    & ^[-1]__description
      margin-top 11px
      color #222222
      font-size 18px
      line-height 1.7
      @media (max-width point-m - 1)
        font-weight 400
      & span 
        padding 3px 16px
        font-size 22px
        color #B81F33
        background-color #FFFFFF
        border-radius 4px
        opacity 0.9
        @media (max-width point-m - 1)
          font-size 20px

  &--wholesale-permanent
    --background-image image-set(url('../images/action-banner--october-22.webp') 1x, url('../images/action-banner--october-22@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--october-22.webp') 1x, url('../images/action-banner--october-22@2x.webp') 2x)
    justify-content flex-start
    background-color #F2EEE5
    background-size cover
    font-family 'Fira Sans', Arial, Helvetica, sans-serif
    z-index -2
    & ^[-1]__title
      margin-top 38px
      max-width 370px
      font-size 22px
      line-height 1.2
      font-weight 500
      color #222222
      @media (max-width point-m - 1)
        margin-top 15px
        font-size 20px
    & ^[-1]__description
      margin-top 9px
      font-size 31px
      line-height 1.2
      font-weight 500
      color #222222
      @media (max-width point-m - 1)
        font-size 28px
      & strong
        color #B81F33
        font-weight 500
      & span 
        font-size 48px
        line-height 1
        font-weight 500
        @media (max-width point-m - 1)
          font-size 38px

  &--birthday-certificate
    --background-image image-set(url('../images/action-banner--birthday-certificate.webp') 1x, url('../images/action-banner--birthday-certificate@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--birthday-certificate.webp') 1x, url('../images/action-banner--birthday-certificate@2x.webp') 2x)
    color #3D3D3D
    background-color #F2EEE5
    background-size cover
    font-family 'Fira Sans', Arial, Helvetica, sans-serif
    z-index 2
    & ^[-1]__title
      font-size 20px
      line-height 1.4
      font-weight 400
      @media (max-width point-m - 1)
        font-size 18px
      & strong 
        color #3D3D3D
    & ^[-1]__description
      margin-top 12px
      font-size 14px
      line-height 1.3
      @media (max-width point-m - 1)
        font-weight 400

  &--zhipci
    --background-image image-set(url('../images/action-banner--zhipci.webp') 1x, url('../images/action-banner--zhipci@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--zhipci.webp') 1x, url('../images/action-banner--zhipci@2x.webp') 2x)
    color #3D3D3D
    background-color #F2EEE5
    background-size cover
    font-family 'Fira Sans', Arial, Helvetica, sans-serif
    z-index 2
    & ^[-1]__title
      font-size 20px
      line-height 1.4
      font-weight 400
      @media (max-width point-m - 1)
        font-size 18px
      & strong 
        color #3D3D3D
    & ^[-1]__description
      margin-top 12px
      font-size 14px
      line-height 1.3
      @media (max-width point-m - 1)
        font-weight 400

  &--zhipci3v1
    --background-image image-set(url('../images/action-banner--zhipci3v1.webp') 1x, url('../images/action-banner--zhipci3v1@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--zhipci3v1.webp') 1x, url('../images/action-banner--zhipci3v1@2x.webp') 2x)
    color #3D3D3D
    background-color #F2EEE5
    background-size cover
    font-family 'Fira Sans', Arial, Helvetica, sans-serif
    z-index 2
    & ^[-1]__title
      font-size 20px
      line-height 1.4
      font-weight 400
      & strong 
        color #3D3D3D
      @media (max-width point-m - 1)
        font-size 18px
    & ^[-1]__description
      margin-top 12px
      font-size 14px
      line-height 1.3
      & strong
        color #B81F33
        font-weight 500
        font-size 40px
      @media (max-width point-m - 1)
        font-weight 400

  &--karda
    --background-image image-set(url('../images/action-banner--karda.webp') 1x, url('../images/action-banner--karda@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--karda.webp') 1x, url('../images/action-banner--karda@2x.webp') 2x)
    color #3D3D3D
    background-color #F2EEE5
    background-size cover
    font-family 'Fira Sans', Arial, Helvetica, sans-serif
    z-index 2
    & ^[-1]__title
      font-size 20px
      line-height 1.4
      font-weight 400
      & strong 
        color #3D3D3D
        font-weight 500
      & span
        color #B81F33
        font-weight 500
        font-size 40px
      @media (max-width point-m - 1)
        font-size 18px
    & ^[-1]__description
      margin-top 12px
      font-size 14px
      line-height 1.3
      @media (max-width point-m - 1)
        font-weight 400

  &--first-order-discount-15
    --background-image image-set(url('../images/action-banner--first-order-discount-15.webp') 1x, url('../images/action-banner--first-order-discount-15@2x.webp') 2x)
    --background-image -webkit-image-set(url('../images/action-banner--first-order-discount-15.webp') 1x, url('../images/action-banner--first-order-discount-15@2x.webp') 2x)
    background-color #F4EBDE
    & ^[-1]__title
      font-weight 500
      strong
        display flex
        align-items flex-start
        gap 12px
        span
          font-weight 500
          @media (min-width point-m)
            font-size 64px
            line-height 64px
            letter-spacing -8px
  &--childrens-hair
    --background-image \
      linear-gradient(30deg, #C8B184 6%, #DAC191 25%, transparent),\
      image-set(url('../images/action-banner--childrens-hair.webp') 1x, url('../images/action-banner--childrens-hair@2x.webp') 2x)
    --background-image \
      linear-gradient(30deg, #C8B184 6%, #DAC191 25%, transparent),\
      -webkit-image-set(url('../images/action-banner--childrens-hair.webp') 1x, url('../images/action-banner--childrens-hair@2x.webp') 2x)
    & ^[-1]__title
      max-width 450px
      font-weight 500
      color #ffffff
      @media (min-width point-m)
        font-size 28px
      strong span
        font-weight 500
        @media (min-width point-m)
          font-size 36px
    &::before
      @media (max-width point-m - 1)
        content none
  &--mini
    --background-image \
      image-set(url('../images/action-banner--mini.webp') 1x, url('../images/action-banner--mini@2x.webp') 2x)
    background-color #F4E7D6
    & ^[-1]__title
      font-size 20px
      line-height 1.4
      color #4e4e4e
    & ^[-1]__description
      margin-top 10px
      font-size 16px
      line-height 1.4
      color #222
  &--training
    --background-image \
      image-set(url('../images/action-banner--training.webp') 1x, url('../images/action-banner--training@2x.webp') 2x)
    --background-image \
      -webkit-image-set(url('../images/action-banner--training.webp') 1x, url('../images/action-banner--training@2x.webp') 2x)
    background-position 40% top
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 50%
      height 50%
      background-image image-set(url('../images/action-banner--training_before.webp') 1x, url('../images/action-banner--training_before@2x.webp') 2x)
      background-repeat no-repeat
      background-size contain
      @media (max-width point-m - 1)
        background-color transparent
    &::after
      content ''
      position absolute
      top 40%
      right 10%
      width 59px
      height 59px
      background-image url(../images/svg-sprites/common.svg#action-banner-gift)
      background-repeat no-repeat
      background-size contain
      @media (max-width point-m - 1)
        display none
    & ^[-1]__title
      font-size 1.25rem
      line-height 2rem
      color #222222
      strong
        color inherit
  &__button
    margin-top 1.5rem
    padding .75rem 2.5rem
    align-self flex-start
    z-index 2
  &__counter
    z-index 2
    margin-top 20px
    color #202020
    font-size font-xs
    .countdownHolder
      display flex
      margin-top font-xs
      .position
        display inline-block
        height line-xxl
        overflow hidden
        position relative
        width line-xxl*(3/4)
      .digit
        background #b0986e
        box-shadow none
        position: absolute;
        display: block
        width line-xxl*(3/4)
        line-height line-xxl
        font-size font-xxl
        border-radius: 0.2rem
        text-align: center
        color: #fff
        letter-spacing: -1px
        @media screen and (max-width point-s)
          line-height line-xl
          font-size font-xl

      .digit.static
        background #b0986e
        box-shadow none
        display block
      .countDays::after
        font-size 12px
        content 'дней'
        display block
        text-align center
      .countHours::after
        font-size 12px
        content 'часов'
        display block
        text-align center
      .countMinutes::after
        font-size 12px
        content 'минут'
        display block
        text-align center
      .countSeconds::after
        font-size 12px
        content 'секунд'
        display block
        text-align center
      .countDiv
        display flex
        align-items center
        &::after
          margin-x .25rem
          line-height line-xxl
          font-size font-xxl
          content ':'
