-
  var calc2 = {
    header: '<strong>Я знаю необходимое количество материалов</strong>',
    items: [
      {
        type: 'select',
        name: 'Вид наращивания',
        options: ['капсульное', 'ленточное']
      },
      {
        type: 'select',
        name: 'Квалификация мастера',
        options: ['cтандарт', 'топ-мастер', 'эксперт']
      },
      {
        type: 'select',
        name: 'Длина волос',
        options: ['40 см', '50 см', '60 см', '70 см']
      },
      {
        type: 'text',
        name: 'Кол-во капсул',
      },
    ]
  }
