.banner-shopping
  &__inner
    align-items center
    text-align center
    background-image image-set(url('../images/banner-shopping.webp') 1x, url('../images/banner-shopping@2x.webp') 2x)
    background-repeat no-repeat
    background-size cover
    background-position right 15% center
    @media(max-width point-m - 1)
      background-image image-set(url('../images/banner-shopping_xs.webp') 1x, url('../images/banner-shopping_xs@2x.webp') 2x)
  &__title
    color #B81F33
  &__info
    z-index 1
    &::before
    &::after
      position absolute
      content ''
      top 50%
      left 50%
      transform translate(-50%, -50%)
      z-index -1
    &::before
      width 138px
      aspect-ratio 1 / 1
      background linear-gradient(180deg, rgba(245, 237, 221, 0.8) 0%, rgba(227, 212, 183, 0.8) 100%)
      box-shadow 0px 14.2857px 32.1429px #A68D61
      border-radius 50%
    &::after
      width 187px
      height 169px
      background-image url('../images/svg-sprites/home.svg#promocode')
      background-position center
      background-repeat no-repeat
  &__text
  &__text-bottom
    color #4E4E4E
  &__promocode
    color #F1EDE4
    text-align center
    background-color #8B6347
    text-transform uppercase
