.banner-shopping
  &__inner
    display flex
    flex-direction column
    padding-y 2rem
  &__title
    margin-bottom 1.5rem
    font-size 2rem
    line-height 1.5
    font-weight bold
    &--sales
      font-weight 900
    @media(max-width point-m - 1)
      font-size line-m
      &--sales
        font-size 2rem
  &__info
    position relative
    margin-bottom 1.75rem
    padding 3rem 1rem
  &__text
    font-size 0.875rem
    line-height 1
  &__text-bottom
    margin-bottom 0.625rem
    font-size font-xs
    line-height 1.2
  &__promocode
    padding 0.3rem
    font-weight 700
    font-size 0.85rem
    line-height 1
  &__button
    margin-top 6px
    padding 0.75rem 2.5rem
    font-weight bold
  &__title--sales
  &__text
  &__promocode
    margin-bottom 0.4rem
