-
  var questions = [
    {
      "name":"Гарантии и частота коррекции при капсульном наращивании",
      "question":[
        "Если работа выполнена качественно, используется качественный тугоплавкий кератин, а клиент соблюдает все рекомендации по уходу, то никаких проблем с \"потерей\" капсул и волос быть не должно. Качественно сделанная капсула очень туго сформирована, в ней не должно оставаться воздушных пузырьков, которые могут привести к преждевременному разрушению капсулы.",
        "Также необходимо избегать попадания на капсулы бальзамов, кондиционеров или масок для волос во время мытья. Все эти средства содержат смягчающие и разглаживающие вещества, которые могут \"помочь\" кератиновой капсуле сползти. В обычном режиме коррекция требуется по мере отрастания своих волос через 2-3 месяца.",
        "Коррекция требуется через 2-3 месяца. Желательно делать ее вовремя, так как по мере отрастания своих волос кератиновые капсулы опускаются ниже, и участок волос между корнями и капсулой удлиняется. Именно в этом месте, поскольку прочесать волосы там качественно невозможно, начинаются проблемы со спутыванием. После снятия наращенных волос оттуда вычесывается много своих, так как выпавшие естественным образом волоски задерживаются в кератиновой капсуле, а также потому, что именно на этом участке волосы в любом случае больше путаются."
      ]
    },
    {
      "name":"Как определить, какое количество прядей нужно приобрести для капсульного наращивания?",
      "question":[
        ""
      ]
    },
    {
      "name":"Как определить, какое количество лент нужно приобрести для ленточного наращивания?",
      "question":[
        ""
      ]
    },
    {
      "name":"Как подобрать длину волос?",
      "question":[
        ""
      ]
    },
    {
      "name":"Как ухаживать за наращенными волосами?",
      "question":[
        ""
      ]
    },
    {
      "name":"Есть ли скидки для постоянных клиентов?",
      "question":[
        ""
      ]
    }
  ]
.hair-extention-section.hair-extention-questions
  h2.hair-extention-subheader Часто задаваемые вопросы
  each question, index in questions
    -var questionId = 'question-' + index 
    .hair-extention-question
      if (index == 0)
        input(type='radio' name='question' id= questionId checked).hair-extention-question__radio
      else
        input(type='radio' name='question' id= questionId).hair-extention-question__radio
      label(for= questionId).hair-extention-question__label !{question.name}
      .hair-extention-question__body
        each par in question.question
          p !{par}
