.consultation-other-questions
  display flex
  flex-direction column
  row-gap 1rem
  margin-bottom 1.5rem
  padding (basePadding*2)
  background-color #fafafa
  &__title
    margin-bottom (basePadding/2)
    a
      font-weight bold
  