//- -
//-   var asideMenu = {
//-     'name':'',
//-     'items': {
//-       'name':'',
//-       'url':'',
//-       'children':{
//-         { 'name':'', 'url':'' }
//-       }
//-     }
//-   }

mixin consultation-categories(menu = {})

  .consultation-categories
    //- if menu.name
    //-   +aside-header({'title':menu.name}).consultation-categories__title
    ul.consultation-categories__list.list-marked
      each item in menu
        li.consultation-categories__item
          a(href= item.url) !{item.name}
          |  !{item.count}
