.catalog-mobile-filter
  display flex
  align-items center
  justify-content space-between
  column-gap 1.2rem
  &__block
    text-align center
    --filter-inner-translate unquote('calc(-100% - ' + basePadding + ')')
    --filter-inner-duration 0.3s
    --filter-overlay-position 0
    &--active
      --filter-inner-translate 0
      --filter-inner-duration 0.2s
      --filter-overlay-position -100%
    @media(max-width point-m - 1)
      width 50%
  &__button
    position relative
    padding 0
    font-size 1rem
    font-weight 600
    color #ad0a31
    background-color transparent
    border none
    border-bottom 1px dotted #ad0a31
    &::before
      content ''
      position absolute
      top 52%
      left -20px
      transform translate(0, -50%)
      width 1rem
      height 1rem
      mask-image url(../images/svg-sprites/inner.svg#filter)
      mask-repeat no-repeat
      mask-size cover
      mask-position center
      background-color #ad0a31
    @media(min-width point-m)
      display none
