.header-cart
  &__item
    color #999999
    &--cart
      background-size 2rem auto
      position relative
      & > a, & > span
        &.active
          background-color #cf052b
          color #ffffff
          border-radius 0.25rem 0.25rem 0 0
          &:hover
            color #f0f0f0
      &::before
        width 2rem
        height 2rem
        display block
        content ''
        position absolute
        top 0
        transform translateY(-6.75%)
        left 0
        background-size contain
        background-position left
        background-repeat no-repeat
        margin-right (basePadding/2)
        transition filter .4s
        background-image url('../images/cart.png')
        @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
          background-image url('../images/cart@2.png')
    & > a
      color #999999
      &:hover
        color #000000
