.header-cart
  .header-cart__item.header-cart__item--cart#gkCart
    a(href='/shop/cart/')#btnCart В корзине
    if !menuMobile
      include ../header-cart-module/header-cart-module
  .header-cart__item#gkItems (
    strong 0
    |  товаров)
