mixin blockMarked(title, settings)
  -
    settings = settings ? settings : {}
    let classList = [
      ( settings.type ? `block-marked--${settings.type}` : '' ),
    ]
  .block-marked(class != classList)
    if title
      .block-marked__title !{title}
    .block-marked__body
      block
