.training-courses
  padding (basePadding*3) (basePadding*2)
  background url('/images/obuchenie/courses-background.jpg')
  margin-bottom (basePadding*4)
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
    padding basePadding
  &__list
    counter-reset trainingCoursesList
.training-course
  text-align center
  counter-increment trainingCoursesList
  &__image
    position relative
    margin-bottom basePadding
    border-top 0.25rem solid #ad0a31
    border-bottom 0.25rem solid #ad0a31
    img
      display block
      width 100%
  &__counter
    position absolute
    top 0
    right 0
    display block
    padding  0 basePadding (basePadding/5)
    font-size font-l
    line-height line-l
    color #fff
    background-color #ad0a31
    border-radius 0 0 0 0.25rem
    &::after
      content counter(trainingCoursesList)
      font-size font-xxxl
      font-weight bold
      margin-left 0.25rem
  &__title
    font-size font-xl
    line-height line-xl
  &__subtitle
    display inline-block
    padding-top (basePadding/3)
    font-size font-l
    font-weight bold
    color #ad0a31
    border-top 2px solid #b0986e
