.banner-friday-item
  position relative
  padding-bottom 6rem
  overflow hidden
  @media(max-width point-l - 1)
    padding-bottom 1rem
  &__title
    position relative
    margin-top 1.5rem
    margin-bottom 2.5rem
    font-weight 900
    text-transform uppercase
    @media (max-width point-m - 1)
      margin-bottom 1.875rem
    @media (max-width point-s - 1)
      margin-bottom 1.25rem
      font-size font-s
  &__discount
    position relative
    font-weight 900
    text-transform uppercase
    font-size 2rem
    line-height line-xxl
    @media(max-width point-s - 1)
      font-size 1.875rem
  &__percent
    margin-bottom 0
    font-weight 900
    font-size 2rem
    line-height line-xxl
    & span
      font-weight 700
      font-size 1rem
  &__info
    position relative
    display flex
    flex-direction column
    align-items center
    margin-left 60px
    margin-top -12px
    margin-bottom 1.5rem
    width 203px
    height 60px
  &__promocode
    margin-bottom 0.2rem
    font-size font-xs
    line-height 1
  &__promocode-text
    margin-bottom 0.5rem
    padding 0 0.5rem
    font-weight 700
    text-transform uppercase
  &__list
    position relative
    display flex
    flex-direction column
    justify-content center
    order 2
    margin-top 2rem
    @media (min-width point-m) and (max-width point-l - 1)
      flex-direction row
    @media (max-width point-m - 1)
      align-items center
  &__item 
    position relative
    & + & 
      margin-top 0.5rem
    @media (min-width point-m) and (max-width point-l - 1)
      & + & 
        margin-top 0
        margin-left 1.5rem
  &__order-discount
    font-weight 700
    font-size font-xxl
    line-height 1
  &__order
    font-size font-s
