.banner-friday-item
  color #ffffff
  background-color #000000
  background-image linear-gradient(180deg, rgba(0, 0, 0, 0) 26.03%, rgba(0, 0, 0, 0.8) 57.95%, #000000 79.32%), image-set(url('../images/banner-friday.webp') 1x, url('../images/banner-friday@2x.webp') 2x)
  background-repeat no-repeat
  background-size contain
  background-position left 55% top
  z-index 0
  @media(max-width point-m - 1)
    background-position left 11% top
    background-size auto 55%
  @media(max-width point-s - 1)
    background-position right 1% top
    background-size auto 43%
    background-image linear-gradient(180deg, rgba(0, 0, 0, 0) 26.03%, rgba(0, 0, 0, 0.8) 57.95%, #000000 79.32%), image-set(url('../images/banner-friday-mob.webp') 1x, url('../images/banner-friday-mob@2x.webp') 2x)
  &::after
    content ''
    position absolute
    top -16%
    right -3%
    width 500px
    aspect-ratio 1/1
    background-image url('../images/svg-sprites/inner.svg#banner-friday-bg-2')
    background-repeat no-repeat
    z-index -5
    @media(max-width point-xl - 1)
      display none
  &__title
    color transparent
    background-clip text
    background-image linear-gradient(90deg, rgba(227, 212, 183, 0.28) 2.19%, rgba(241, 237, 228, 0.14) 96.22%)
    &::before
      content ''
      position absolute
      top -28px
      left -123px
      width 221px
      aspect-ratio 1/1
      background-image url('../images/svg-sprites/inner.svg#banner-friday-bg-1')
      background-repeat no-repeat
      background-size cover
      @media(max-width point-xl - 1)
        display none
    &::after
      content '12.11-26.11'
      display block
      position absolute
      top 50%
      left 250px
      width 116px
      height 100%
      color #FFFFFF
      font-size 0.75rem
      font-weight 700
      text-align center
      border 0.6px solid #FFFFFF
      opacity 50%
      transform translateY(-50%) rotate(15.22deg)
      @media (max-width point-m - 1)
        left 175px
      @media (max-width point-s - 1)
        width 85px
        left 160px
  &__percent
    color #E51032
  &__info
    justify-content flex-end
    background-image url('../images/svg-sprites/inner.svg#banner-friday-rect')
    background-repeat no-repeat
    background-size cover
    background-position center
    filter drop-shadow(0px 4px 8px #67121E)
    z-index -1
  &__promocode
    opacity 30%
  &__promocode-text
    background-color #151515
    border-radius 4px
  &__list
    order 2
    list-style none
    &::before
      content ''
      position absolute
      top 70%
      left -83%
      width 200px
      aspect-ratio 1/1
      background-image url('../images/svg-sprites/inner.svg#banner-friday-bg-4')
      background-repeat no-repeat
  &__item 
    &::before
      content ''
      position absolute
      bottom -6px
      left -6px
      width 43px
      aspect-ratio 1/1
      border-radius 50%
      background-color #212121
      z-index -1
    &:nth-of-type(2)
      &::before
        bottom -15px
        left -7px
        width 50px
        background-color #616161
        z-index -2
    &:last-of-type
      &::before
        bottom -24px
        left -8px
        width 55px
        background-color #4B4B4B
    @media(max-width point-l - 1)
      &::before
        top 50%
        transform translateY(-50%)
  &__order-discount
    z-index 3
