.product-properties
  &__item
    margin-bottom (basePadding*2)
    &--cur-balance
      & ^[-2]__value
        display inline-block
        padding 5px 20px
        font-size 1.5rem
        font-weight bold
        background-color #fff
        &.curBalance_description
          margin-top .5rem
          padding 0
          font-size font-s
          line-height line-s
          background-color transparent
  &__title
    display flex
    flex-wrap wrap
    gap (basePadding/2)
    align-items baseline
    font-size font-m
    line-height line-m
    margin-bottom (font-m)
    font-weight bold
  &__availability
    grid-column 2/3
    --quantity-color #008000
    display flex
    flex-wrap wrap
    gap (basePadding/2) basePadding
    align-items flex-end
    font-size .75rem
    &--not-available
      --quantity-color #D9001B
  &__color-list
    display grid
    grid-template-columns min-content 1fr
    grid-template-rows repeat(2, min-content)
    column-gap (basePadding*2.2)
    row-gap (basePadding*2)
    @media(max-width point-s - 1)
      align-items start
  &__list
  &__main-color
    .other-customfield
      --box-shadow-color #FF3300
      position relative
      display flex
      flex-direction column
      align-items center
      &--available
        --box-shadow-color green
        .other-customfield-dec
          box-shadow 0 0 1px 1px var(--box-shadow-color)
      img
        width 100%
    .other-customfield-dec
      display block
      position absolute
  &__list
    grid-column 2/3
    display flex
    flex-wrap wrap
    gap (basePadding/1.4)
    // padding-bottom 1rem
    @media(max-width point-s - 1)
      grid-column 1/-1
    @media(max-width point-l - 1)
      gap (basePadding/1.1)
    .other-customfield
      width 28px
      height 28px
      @media(max-width point-l - 1)
        width 44px
        height 44px
      .other-customfield-dec
        width 32px
        height 32px
        top -2px
        left -2px
        @media(max-width point-l - 1)
          width 48px
          height 48px
      input[type='radio']
        display none
        &:checked ~ .other-customfield-dec
          box-shadow 0 0 5px 2px var(--box-shadow-color)
      .vm-img-desc
        font-size font-xs
        max-width 100%
        color green
        text-overflow ellipsis
  &__main-color
    grid-column 1/2
    grid-row 1/-1
    @media(max-width point-s - 1)
      grid-row 1/2
    .other-customfield
      width 90px
      height 90px
      .other-customfield-dec
        width 96px
        height 96px
        top -3px
        left -3px
  &__color-description
    margin-top 0.5rem
    margin-bottom 0
    font-size 0.75rem
    line-height 1.2
    color #222
    text-align center
  &__more
    width 100%
    margin-x (basePadding/4)
  &__quantity
    font-size font-s
    color var(--quantity-color)
    strong
      color #000
  &__deliver-today
    padding-left 2.5rem
    line-height 1.5rem
    background-image url(../images/svg-sprites/inner.svg#delivertoday)
    background-position left center
    background-repeat no-repeat
    background-size 2rem
  &__preorder-details
  &__preorder-details.fancybox-content
    display none
    max-width 30rem
  &__link
    display inline-block
    padding-x 0.5rem
.product-quantity
  display flex
  align-items center
  margin-x -(basePadding/2)
  &__counter
    display flex
    align-items center
    margin-x (basePadding/2)
    .quantity-controls
      width 1.5rem
      line-height font-xl
      font-size font-xl
      padding 0.2rem
      border none
      color #ffffff
      background-color #666666
      -webkit-appearance none
      -webkit-border-radius 0
    .quantity-input
      width 3rem
      height line-xl
      padding (basePadding/3)
      margin-x (basePadding/3)
      text-align center
  &__desc
    font-size font-xs
    margin (basePadding/4)
