.checkout-form
  padding (basePadding*2)
  background-color #f9f3e3
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
    margin-bottom (basePadding*2)
  &__subtitle
    font-size  1.25rem
    line-height 1.875rem
    margin  1.25rem 0 1rem
    font-family fontHeader
    margin-top (basePadding*2)
    margin-bottom .5rem
    &:first-child
      margin-top 0
  &__input
    display flex
    flex-direction column
    margin-bottom basePadding
    label
      font-weight bold
      margin-bottom (font-m/2)
    textarea
      resize none
  &__radio
    > label
      font-weight bold
      margin-right basePadding
    > input[type='radio']
      vertical-align baseline
    & + &
      margin-top .75rem
    .description
      margin-top .25rem
      font-size font-s
      line-height line-s
  &__delivery
    margin-top (basePadding)
    &--true
      margin-top (basePadding*2)
    &--false
      font-size font-m
      line-height line-m
      margin-y font-m
      display none
  #checkout-delivery-no
    &:checked
      & ~ .checkout-form__delivery--false
        display flex
      & ~ .checkout-form__delivery--true
        display none
