form.checkout-form
  .checkout-form__subtitle Выберите способ получения:
  .checkout-form__radio
    input(type='radio' name='delivery' value='delivery-no' checked)#checkout-delivery-no
    label(for='checkout-delivery-no') Самовывоз из магазина
    input(type='radio' name='delivery' value='delivery-yes' )#checkout-delivery-yes
    label(for='checkout-delivery-yes') С доставкой
    .checkout-form__input.checkout-form__delivery.checkout-form__delivery--true
      label(for='checkout-address') Адрес доставки
      textarea(name='address_1' cols='15' rows='6' placeholder='Город, улица, дом, квартира').form__input#checkout-address
  .checkout-form__subtitle Выберите вариант оплаты:
  .checkout-form__radio
    .payment_method.payment_method_2
      input(type="radio" name="virtuemart_paymentmethod_id" id="payment_id_2" value="2" checked)
      label(for="payment_id_2"): strong Наличными или картой в магазине
      .description Оплата при получении
  .checkout-form__radio
    .payment_method.payment_method_6
      input(type="radio" name="virtuemart_paymentmethod_id" id="payment_id_6" value="6")
      label(for="payment_id_6"): strong Онлайн оплата на сайте
      .description Банковские карты, электронные деньги, терминалы, салоны связи, интернет-банки
  .checkout-form__radio
    .payment_method.payment_method_7
      input(type="radio" name="virtuemart_paymentmethod_id" id="payment_id_7" value="7")
      label(for="payment_id_7"): strong Уточнить у менеджера
      .description Менеджер перезвонит и предложит удобный способ оплаты
  .checkout-form__radio
    .payment_method.payment_method_5
      input(type="radio" name="virtuemart_paymentmethod_id" id="payment_id_5" value="5")
      label(for="payment_id_5"): strong На счет юридического лица
      .description Вышлем инструкцию для быстрой оплаты из Сбербанк онлайн
  .checkout-form__subtitle Информация о покупателе:
  .checkout-form__input
    label(for='checkout-name') Как вас зовут
    input(type='text' name='first_name' placeholder='Имя и фамилия')#checkout-name.form__input
  .checkout-form__input
    label(for='checkout-email') E-mail
    input(type='email' name='first_name')#checkout-email.form__input
  .checkout-form__input
    label(for='checkout-phone') Телефон
    input(type='tel' name='first_name')#checkout-phone.form__input
  .checkout-form__submit
    button(type='submit').btn Оформить
