.checkout-table
  include ../checkout-item/checkout-item
  .checkout-table__total
    .checkout-table__total-discount Ваша скидка 15%:
      strong –5763 руб.
    .checkout-table__total-inner Итого: 
      strong 9 680 руб.
