.catalog-sort
  display flex
  align-items center
  column-gap 1.375rem
  & label
    color #222222
  &__select
    padding 0.375rem 0.5rem
    font-size 1rem
    border 1px solid #CCCCCC
    border-radius 2px
    @media(max-width point-m - 1)
      width 100%
