.header-mobile
  position relative
  &__phone
    margin-top .5rem
    font-size font-l
  & .logo
    a
      width 9.625rem
      height 1.75rem
  &__logo-text
    margin-top .25rem
    font-size font-xs
