.catalog-filter-aside
  & .aside-header
    margin-bottom 1.875rem
  @media(max-width point-m - 1)
    &.page-cols__aside
      order 0

.catalog-filter 
  display flex
  flex-direction column
  @media(min-width point-m)
    row-gap 1.875rem
  @media(max-width point-m - 1)
    position fixed
    top 0
    left 0
    height 100%
    background-color #fff
    transform translate(var(--filter-inner-translate, -100%))
    transition transform var(--filter-inner-duration) ease
    z-index 100003
  @media(min-width point-s) and (max-width point-m - 1)
    width 60%
    &::before
      content ''
      position absolute
      left 0
      right var(--filter-overlay-position)
      height 100%
      background-color #3a3f44
      opacity 0.7
      z-index -1
  &__inner
    display flex
    flex-direction column
    row-gap 1.875rem
    @media(max-width point-m - 1)
      column-gap 1rem
      row-gap 1.5rem
      width 100%
      height 100%
      padding-x 1.5rem
      padding-top 1rem
      padding-bottom 7rem
      background-color #fff
      z-index 1001
      overflow-y auto
  &__header
    display flex
    justify-content space-between
    align-items center
    @media(min-width point-m)
      display none
  &__header-title
    display flex
    align-items center
    font-size 1rem
    font-weight 600
    color #ad0a31
    &::before
      content ''
      display inline-block
      width 1rem
      height 1rem
      margin-right 0.3rem
      mask-image url(../images/svg-sprites/inner.svg#filter)
      mask-repeat no-repeat
      mask-size cover
      mask-position center
      background-color #ad0a31
  &__item 
    display flex
    flex-direction column
    gap 0.8rem
    text-align left
    @media(min-width point-m)
      align-items flex-start
    &--availability
      flex-direction row
      align-items center
    &--color
      @media(max-width point-m - 1)
        grid-column 1/-1
  &__show-hide
    display none
    &--active
      display block
  &__label
    align-self flex-start
    font-size 0.875rem
    font-weight 700
    color #222222
    &--show-hide
      border-bottom 1px dashed #222222
      padding-bottom 1px
  &__field
    padding 0.375rem 0.5rem
    border 1px solid #CCCCCC
    border-radius 2px
    &--wide
      width 95%
      @media(max-width point-m - 1)
        width 100%
    &--number
      width 5.25rem
      font-weight 700
      text-align center
      &::-webkit-outer-spin-button
      &::-webkit-inner-spin-button
        -webkit-appearance none
      &
      &:hover
      &:focus 
        appearance none
        -moz-appearance textfield
      @media(max-width point-m - 1)
        width 100%
      @media(max-width point-l - 1) and (min-width point-m)
        width 4rem
  &__checkbox
    position absolute
    z-index -1
    opacity 0
    & + label
      display inline-flex
      align-items center
      user-select none
    & + label::before
      content ''
      display inline-block
      width 1.5rem
      height 1.5rem
      flex-shrink 0
      flex-grow 0
      border 1px solid #CCCCCC
      border-radius 2px
      margin-right 0.5rem
      background-repeat no-repeat
      background-position center
      background-size 1rem 0.6rem
    &:checked + label::before
      background-color #FBEDC9
      background-image url(../images/svg-sprites/inner.svg#tick)
  &__price
    display flex
    align-items center
    column-gap 0.5rem
    margin-top 0.625rem
    & ^[-1]__label
      align-self auto
    @media(max-width point-m - 1)
      justify-content center
  &__color-list
    display flex
    flex-wrap wrap
    gap 0.375rem
  &__color
    position relative
    & img
      display block
      @media(max-width point-m - 1)
        width 44px
        height 44px
  &__color-field
    display none
    &:checked ~ .catalog-filter__color-dec
      box-shadow: inset 0px 0px 0px 2px #CB072F,inset 0px 0px 0px 4px white
  &__color-dec
    position absolute
    display block
    top 0
    left 0
    width 36px
    height 36px
    @media(max-width point-m - 1)
      width 44px
      height 44px
  &__buttons
    width 95%
    @media(max-width point-m - 1)
      display flex
      position absolute
      bottom 0
      gap 0.5rem
      width 100%
      padding 1rem 1.5rem
      background-color #fff
      z-index 1001
      & > button
        width 50%
    @media(min-width point-s) and (max-width point-m - 1)
      flex-direction column
      & > button
        width 100%
  &__search-btn
    padding 0.5rem
    box-shadow 0 0 0 1px #B81F33
    @media(min-width point-m)
      display none
  &__reset-btn
    width 100%
    color #B81F33
    background-color transparent
    box-shadow 0 0 0 1px #B81F33
    padding 0.5rem
  &__close-btn
    width 2rem
    height 2rem
    padding 1rem
    mask-image url(../images/svg-sprites/inner.svg#cross)
    mask-repeat no-repeat
    mask-size contain
    mask-position center
    background-color #222222
    border none
