.wholesale-price
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items center
  column-gap 1rem
  font-size font-m
  line-height line-m
  margin-bottom (basePadding*2)
  &__main
    font-size font-xxl
    line-height line-xxl
  &__btn
    padding 0.5rem 2rem
