@keyframes blink
  0%
    left -100%
  25%
    left 100%
  100%
    left 100%

.top-appointment
  background-color #ad0a31
  color white
  z-index 10000
  overflow hidden
  &::before
    content ""
    position absolute
    left 200%
    top -50%
    width 100%
    height 300px
    background linear-gradient(180deg, rgba(156, 40, 40, .2) 0, #ad0a31 20%, #e07693 45%, #e07693 55%, #ad0a31 80%, rgba(156, 40, 40, .2) 100%)
    transform matrix(.47, -.97, .77, .53, 0, 0)
    animation blink 12s infinite ease-in-out
    z-index -1
  .content
    text-align center
