- var menuMobile = true

.mobile-menu
  .mobile-menu__open
    label(for='mobile-menu__switcher')
  input(type="checkbox").mobile-menu__switcher#mobile-menu__switcher
  .mobile-menu__inner
    +grid.mobile-menu__top
      +grid__item({'xs':2})
        .mobile-menu__close
          label(for='mobile-menu__switcher')
      +grid__item({'xs':10}).mobile-menu__info
        .mobile-menu__phone.comagic_phone +7(499) 766-24-88
        include ../header-cart/header-cart
    include ../mobile-nav/mobile-nav
