.mobile-menu
  &__open
    label
      background linear-gradient(#000 0.4rem, transparent 0.4rem, transparent 0.8rem, #000 0.8rem, #000 1.2rem, transparent 1.2rem, transparent 1.6rem, #000 1.6rem);
  &__close
    label
      background linear-gradient(transparent 0.8rem, #000 0.8rem, #000 1.2rem, transparent 1.2rem),linear-gradient(to right, transparent 0.8rem, #000 0.8rem, #000 1.2rem, transparent 1.2rem);
      transform rotate(45deg)
  &__inner
    display flex
    flex-direction column
    width 100%
    min-height 100vh
    padding-x basePadding
    background-color #ffffff
    transition transform .4s
  &__switcher
    &:checked
      ~ .mobile-menu__inner
        transform translateX(0)
  &__top
    border-bottom 1px solid #cccccc
    margin-bottom 0
    .grid__cell
      padding-bottom 0
  &__info
    display flex
    flex-direction column
    justify-content center
  &__phone
    margin-bottom basePadding
    padding-left line-s
    position relative
    background url('../images/phone.png') no-repeat left center
    background-size font-s
    white-space no-wrap
  .header-cart
    margin-x(0)
