mixin whyWe(list)
  +grid({justify: 'center'}).why-we
    each item in list
      +grid__item({m:4,s:6,xs:12}).why-we__item
        +grid({'align':'flex-start'})
          +grid__item({m:12,xs:12}).why-we__image
            img(src= item.image alt= item.title title= item.title)
          +grid__item({m:12,xs:12}).why-we__description
            .why-we__title !{item.title}
            each par in item.desc
              p !{par}
          
          
