.catalog-pagination 
  display flex
  flex-wrap wrap
  column-gap 0.25rem
  row-gap 0.75rem
  margin-bottom 2rem
  &__link
    padding 0.2rem 0.5rem
    font-size 1rem
    font-weight 700
    color #7D7D7D
    text-decoration none
    &:hover
      color #222222
    &--active 
      color #FFFFFF
      background-color #8B6347
      &:hover
        color #FFFFFF
        background-color #8B6347
    &--prev
      margin-right 0.75rem
      padding-x 0
    &--next
      margin-left 0.75rem
      padding-x 0
