.hair-extention-assortment
  &__image
    margin-bottom basePadding
    padding basePadding
    background-color #fff
    border 1px solid #dab686
    @media screen and (max-width point-m)
      margin-x (-(basePadding))
    img
      display block
      max-width 100%
      width 100%
  &__subheader
    font-size font-l
    font-weight bold
