.product-buy
  .product-buy__price.product-price Общая стоимость
    .PricesalesPrice(style='display : block;')
      span.PricesalesPrice 9680 руб.
  .product-buy__buttons
    span.addtocart-button.vsreze.product-buy__button
      input(type='submit' name='addtocart' value='Добавить в корзину' title='Добавить в корзину').addtocart-button.btn
