.wholesale-vip
  background-color #ebe5db
  padding (basePadding*2)
  margin-bottom (basePadding*4)
  &__discount
    font-size font-s
    line-height line-s
    margin-bottom font-s
    text-align center
    font-weight bold
    strong
      font-size (font-s*2)
      display block
      line-height (line-l*2)
  &__link
    text-align center
    margin-bottom font-m
  &__map
    width 100%
    padding-bottom 48%
    position relative
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
    iframe
      width 100%
      height 100%
      position absolute
      top 0
      left 0
  &__clarification
    font-size font-s
    text-align center
    font-weight bold
