.wholesale-vip
  +grid
    +grid__item({'xs':12}).wholesale-vip__item
      h2 VIP скидка для регионов
    +grid__item({'m':8,'xs':12}).wholesale-vip__item
      p 
        strong Уважаемые мастера наращивания, владельцы и управляющие салонами красоты!
      p Компания Волосы24 готова предоставить вам индивидуальные условия и подарить максимальную скидку на оптовые заказы если в городе, в котором вы работаете, у нас еще нет партнёра.
    +grid__item({'m':4, 'xs':12}).wholesale-vip__item
      .wholesale-vip__discount
        | Продукция с максимальной скидкой
        strong 35%
        | (закуп от 65 000 рублей)
      .wholesale-vip__link
        a(href='#wholesale-cities').modal 50 городов России участвуют
    +grid__item({'m':8,'xs':12}).wholesale-vip__item.hidden-s.hidden-xs
      .wholesale-vip__map
        iframe(src="//ru.batchgeo.com/map/8c23e234f0d47cacca3fdd9c2f3fe496" width='100%' height='600' style="border:1px solid #aaa;")
    +grid__item({'m':4,'xs':12}).wholesale-vip__item
      include ../wholesale-vip-form/wholesale-vip-form
      .wholesale-vip__clarification Скидка предоставляется на 6 месяцев
      include ../wholesale-cities/wholesale-cities
