.cart-table
  &__total
    border-bottom 1px dotted #DAB686
  &__total-inner
    display flex
    justify-content flex-end
    align-items baseline
    padding-y (basePadding)
    line-height line-m
    strong
      margin-left .5rem
      font-size font-xl
  &__checkout
    display flex
    justify-content flex-end
    padding-y (basePadding*2)
    .btn
      font-size font-xl
      line-height line-xl
      padding (basePadding/3) (basePadding*2)
  &__form
    padding-y (basePadding)
    .form__input
      width 100%
    .btn
      height 100%
