mixin figure(settings={})
  figure.figure 
    +img({
      name: settings.img,
      path: settings.path,
      formats: [
        { ext: 'png', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ]
    })(alt= settings.alt title= settings.alt).figure__image
    figcaption.figure__caption !{settings.alt}
