.socials-widget
  display flex
  column-gap 0.5rem
  justify-content center
  margin-bottom 0.75rem
  opacity 1
  pointer-events auto
  transition opacity 1s ease
  @media(max-width point-m - 1)
    position fixed
    right 30px
    top 50%
    // translate 0 -50%
    flex-direction column
    row-gap 0.5rem
    z-index 999
  &--hidden
    opacity 0
    pointer-events none
    transition-duration 0.2s 
  &__link
    width 1.6rem
    height 1.6rem
    background-repeat no-repeat
    background-position center
    background-size contain
    &:hover
      opacity 0.8
    &--wa
      background-image url('../images/svg-sprites/rest.svg#whatsapp')
    &--tg
      background-image url('../images/svg-sprites/rest.svg#telegram')
    @media(max-width point-m - 1)
      width 3.75rem
      height 3.75rem
      box-shadow 0 1px 7px rgba(0,0,0,0.09), 0 2px 14px rgba(0,0,0,0.19)
      border-radius 50%
