.tooltip
  --border-width 5px
  position fixed
  max-width min-content
  padding 0.2rem
  font-size 0.6rem
  text-align center
  color #fff
  background-color #555
  border-radius 6px
  z-index 100
  @media(max-width point-m - 1)
    padding 0.3rem
    font-size 0.7rem
  &::after
    content ''
    position absolute
    top 100%
    left 50%
    transform translate(-50%, 0)
    border-width var(--border-width)
    border-style solid
    border-color #555 transparent transparent transparent
  &--top
    &::after
      top -9px
      border-color transparent transparent #555 transparent 
