.home-catalog
  &__item
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
  &__image
    display block
    margin-bottom 0.75rem
    width 100%
  &__title
    text-align center
    display block
    font-size font-m
    line-height line-l
