-
  var reviews = [
    {
      "topic":"Видеоотзыв от Анны Кудимовой из \"Дома-2\"",
      'src':'https://vk.com/video_ext.php?oid=12685241&id=171390828&hash=75794a76eddd773f'
    },
    {
      "topic":"Видеоотзыв от Анны Кручининой из \"Дома-2\"",
      'src':'https://vk.com/video_ext.php?oid=12685241&id=171390834&hash=f84b86ffe3eaf11c'
    },
    {
      "topic":"Видеоотзыв от Кати Крупской",
      'src':'https://vk.com/video_ext.php?oid=12685241&id=171446695&hash=b90ea1a2e4fe7660'
    }
  ]
.hair-extention-reviews#hair-extention-section__video-reviews
  h2.hair-extention-subheader Отзывы клиенток
  +grid({justify: 'center'})
    +grid__item({m:10, xs:12})
      each review in reviews
        .hair-extention-review
          .hair-extention-review__title !{review.topic}
          .youtube-responsive
            .youtube-responsive__iframe
              iframe(src= review.src allowfullscreen)
