.fancybox-slide--ajax
  display flex
  align-items center
  justify-content center
  &::before
    content none
  & > div:not([class])
    width 20rem
    max-width 100%
    padding 1rem
    background-color #fff
