.footer-inner
  padding (basePadding*2)
  background-color #f7f0ca
  background-image linear-gradient(to bottom, #f7f0ca 0%, #e6cda7 100%)
  border 1px solid #dab686
  border-bottom none
  border-radius 0.33rem 0.33rem 0 0
  &__top
    margin-bottom (basePadding*2)
  &__contacts
    display flex
    flex-direction column
