.consultation-similar
  .consultation-similar__title Похожие вопросы
  ul.list-marked.consultation-similar__list
    li.consultation-similar__item
      a(href='') Загорать в солярии одновременно с приемом витаминов
    li.consultation-similar__item
      a(href='') Помогите,пожалуйста, советом-правильное ли лечение?
    li.consultation-similar__item
      a(href='') Как применять препарат Трикомин в связке с миноксидилом
    li.consultation-similar__item
      a(href='') Препарат генеролон для лечения волос
    li.consultation-similar__item
      a(href='') ламинирование в домашних условиях, наращенные волосы,
