+grid.wholesale-product.product-layout
  +grid__item({'m':4,'xs':12}).product-layout__left  
    //- include ../wholesale-photo/wholesale-photo
    .product-photos
      .product-photos__main
        a(href='/images/new-catalog/000-1.webp' data-fancybox-group='fancybox_product').fancybox_product
          +img({
            name: '000-1',   
            path: '/images/new-catalog/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
          })(alt= 'Волосы для наращивания на капсуле' title= 'Волосы для наращивания на капсуле')
        img(src='/images/hair-length.jpg').product-photos__length
        .product-photos__ruler
          .product-photos__ruler-value
      .product-photos__additional
        - for(let i = 0; i<1; i++)
          a(href='/images/new-catalog/000-1.jpg' data-fancybox-group='fancybox_product').catalog-slider__image.modal.fancybox_product
            +img({
              name: '000-1',
              path: '/images/new-catalog/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ]
            })(alt= 'Волосы для наращивания на капсуле')

  +grid__item({'m':8,'xs':12}).product-layout__right
    form(method='post' action='')
      include ../wholesale-price/wholesale-price
      include ../wholesale-properties/wholesale-properties
      //- include ../wholesale-product-clarification/wholesale-product-clarification
