+grid({align: center,nopadding:true}).banner-industrial-coloring
  +grid__item({s:4,xs:12}).hidden-xs
    .banner-industrial-coloring__picture
  +grid__item({s:8,xs:12})
    .banner-industrial-coloring__info
      h1 Качественное промышленное окрашивание волос в 54 оттенка
      p
        a(href='#industrial-coloring-form' data-fancybox).btn Заказать окрашивание волос
