.catalog-product-buy
  display flex
  align-items center
  column-gap 1rem
  row-gap 1rem
  justify-content center
  @media(max-width point-l - 1)
    flex-wrap wrap
  @media(max-width point-s - 1)
    row-gap 0.75rem
  &__value
    display flex
    align-items center
    column-gap 0.25rem
  &__change
    position relative
    display block
    width 1.5rem
    height 1.5rem
    border none
    background-color transparent
    transition opacity .4s
    @media(max-width point-l - 1)
      width 2rem
      height 2rem
    &:hover
      opacity 0.75
      transition-duration 0.1s
    &:active
      opacity 1
      transition-duration 0.1s
    &::before
      position absolute
      content ''
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 0.75rem
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      background-color #222222  
    &--dec
      &::before
        height 0.125rem
        mask-image url(../images/svg-sprites/inner.svg#minus)
    &--inc
      &::before
        height 0.75rem
        mask-image url(../images/svg-sprites/inner.svg#plus)
  &__field
    padding 0.375rem
    width 3.75rem
    font-weight 700
    text-align center
    border 1px solid #CCCCCC
    border-radius 2px
    &::-webkit-outer-spin-button
    &::-webkit-inner-spin-button
      -webkit-appearance none
    &
    &:hover
    &:focus 
      appearance none
      -moz-appearance textfield
  &__button
    width 100%
    padding 0.5rem 0.8rem
