.catalog
  display grid
  position relative
  grid-template-columns repeat(3, 1fr)
  justify-items center
  margin-bottom 1rem
  @media(min-width point-l)
    column-gap 1.5rem
  @media(max-width point-s - 1)
    grid-template-columns repeat(2, 1fr)
  &__item
    margin 0px 0px -1px -1px
    @media(min-width point-l)
      &:nth-child(n + 4) .catalog-product
        margin-top -3rem
        height calc(100% + 3rem)
      &:nth-child(-n + 3) .catalog-product
        border-top 1px solid #ccc
      &:nth-child(-n + 3) .catalog-product:hover
        border-top none
    &--hidden
      display none
  &__button
    grid-column 1/-1
    margin-top 1rem
    padding 0.5rem 0.8rem

