.home-header
  text-align center
  &__main
    margin-top (basePadding*3)
    margin-bottom 0
    font-weight bold
    a
      border-bottom 0
  &__sub
    margin-bottom (basePadding*3)
    margin-top (basePadding/2)
    font-size 1.4rem
    line-height 2.1rem
    font-family fontHeader
    &:first-child
      margin-top 0
  &__list
    font-size font-l
    line-height line-l
    margin-bottom (basePadding*2)
  &__list-item
    position relative
    &.grid__cell
      padding-top (basePadding + 4rem)
  .btn
    padding basePadding 2.5rem
