.home-header
  text-align center
  &__main
    margin-top (basePadding*3)
    margin-bottom 0
    font-weight bold
    a
      color #000000
      text-decoration-style solid
      text-decoraion underline
      border-bottom 0
  &__sub
    margin-bottom (basePadding*3)
    margin-top (basePadding/2)
    font-size 1.4rem
    line-height 2.1rem
    font-family fontHeader
    &:first-child
      margin-top 0
  &__list
    font-size font-l
    line-height line-l
    margin-bottom (basePadding*2)
  &__list-item
    position relative
    &.grid__cell
      padding-top (basePadding + 4rem)
    &::before
      content ''
      position absolute
      top basePadding
      left 50%
      width 3rem
      height 3rem
      background-image var(--item-icon), radial-gradient(circle, #f9e5dc 66%, transparent 66%)
      background-repeat no-repeat
      background-position center, right bottom
      background-size 3rem, 2.125rem 2.125rem
      transform translateX(-50%)
    &--palette
      --item-icon url(../images/svg-sprites/home.svg#home-header__list-item--palette)
    &--money
      --item-icon url(../images/svg-sprites/home.svg#home-header__list-item--money)
    &--warehouse
      --item-icon url(../images/svg-sprites/home.svg#home-header__list-item--warehouse)
    &--cart
      --item-icon url(../images/svg-sprites/home.svg#home-header__list-item--cart)
  .btn
    padding basePadding 2.5rem
