extends /blocks/layout/layout
include /blocks/banner-friday-item/banner-friday-item
include /blocks/catalog-slider/catalog-slider 

block head
  - isHomePage = true

block content
  -
    const order = [
      {text: '-20%', span: ' при заказе от 10 000 руб.'},
      {text: '-25%', span: ' при заказе от 30 000 руб.'},
      {text: '-30%', span: ' при заказе от 65 000 руб.'}
    ]
    const products = [
      {
        title: 'Волосы для наращивания на капсуле',
        image: 'product-1',
        href: '/shop/volosy-dlya-narashchivaniya/slavyanskie/na-kapsulah/',
      },
      {
        title: 'Волосы для наращивания в срезе',
        image: 'product-2',
        href: '/shop/volosy-dlya-narashchivaniya/slavyanskie/srezy/',
      },
      {
        title: 'Волосы для наращивания на ленте',
        image: 'product-3',
        href: '/shop/volosy-dlya-narashchivaniya/na-lente/',
      },
      {
        title: 'Волосы для наращивания на мини-лентах',
        image: 'product-4',
        href: '/shop/volosy-dlya-narashchivaniya/microlenty/',
      },
      {
        title: 'Инструменты и материалы для наращивания волос',
        image: 'product-5',
        href: '/shop/instrumenty-i-materialy-dlia-narashchivaniia-volos/',
      },
    ]
  .container
    +grid.content.banner-feedback
      +grid__item({ m:7, s: 10 }).banner-feedback__inner
        .banner-feedback__title Вы нам отзыв - #[br] мы вам скидку
        .banner-feedback__text на любой товар за оставленный отзыв при покупке в магазине
        .banner-feedback__clarification * предложение действует до конца февраля

  .container
    .content.banner-tapes
      +grid({ nopadding:true }).banner-tapes__grid
        +grid__item({ m:7 }).banner-tapes__inner.header-contacts
          +img({
            name: 'action-1',
            path: '/images/banner-tapes/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
          })(alt= 'Акция' ).banner-tapes__action-image
          .banner-tapes__promo
            .banner-tapes__discount #[span -15%]
            .banner-tapes__text на волосы при 1ом наращивании у наших мастеров* 
          .banner-tapes__clarification #[small *при покупке от 140 прядей]
          .banner-tapes__clarification Нарасти волосы по&nbsp;последним технологиям абсолютно незаметно с&nbsp;выгодой до&nbsp;5&nbsp;500&nbsp;₽
          .banner-tapes__clarification Нарасти волосы по&nbsp;последним технологиям абсолютно незаметно с&nbsp;выгодой до&nbsp;5&nbsp;500&nbsp;₽
          .home-countdown.countdownHolder

          //- a(href='tel:+79817245628').banner-tapes__phone.header-contacts__phone +7 (981) 724-56-28
          //- a(onclick="Comagic.openSitePhonePanel()").button.banner-tapes__button Записаться
          a(href='#hair-extention-sign' data-name="наращивание").button.banner-tapes__button.hair-extention-header__button Записаться
          //- include ../blocks/hair-extention-2/hair-extention-sign/hair-extention-sign 

        +grid__item({ m:5 })
          +img({
            name: 'tapes-1',
            path: '/images/banner-tapes/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Ленты' ).banner-tapes__image

  .container
    .content.banner-tapes
      +grid({ nopadding:true }).banner-tapes__grid
        +grid__item({ m:6 }).banner-tapes__inner
          +img({
            name: 'action',
            path: '/images/banner-tapes/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
          })(alt= 'Акция' ).banner-tapes__action-image
          .banner-tapes__promo
            .banner-tapes__discount #[span -15%]
            .banner-tapes__text по промокоду #[strong BLACKFRIDAY]
          .banner-tapes__clarification *в акции участвуют волосы, материалы и инструменты для наращивания при покупке от 20 000 ₽
          a(href='/shop/').button.banner-tapes__button Товары по акции
          

        +grid__item({ m:6 })
          +img({
            name: 'tapes',
            path: '/images/banner-tapes/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Ленты' ).banner-tapes__image

  .container 
    .content.banner-may
      p.banner-may__duration с 1 марта по 15 марта
      .banner-may__inner
        .banner-may__intro
          span.banner-may__promo Весенняя акция
          span.banner-may__promocode
            span.banner-may__promocode-text по промокоду #[span Vesna24]
        .banner-may__container
          .banner-may__images-left 
            a(href='/shop/volosy-dlya-narashchivaniya/slavyanskie/detskie/').banner-may__link.banner-may__link--undyed
              img(src="/images/banner-may/undyed.webp" loading="lazy" decoding="async" alt="Неокрашенные волосы в срезе" title="Неокрашенные волосы в срезе" width="100" height="100")
            a(href='/shop/volosy-dlya-narashchivaniya/slavyanskie/srezy/').banner-may__link.banner-may__link--cut
              img(src="/images/banner-may/cut.webp" loading="lazy" decoding="async" alt="Волосы для наращивания в срезе" title="Волосы для наращивания в срезе" width="100" height="100")
            a(href='/shop/volosy-dlya-narashchivaniya/slavyanskie/na-lente/').banner-may__link.banner-may__link--ribbon
              img(src="/images/banner-may/ribbon.webp" loading="lazy" decoding="async" alt="Волосы для наращивания на ленте" title="Волосы для наращивания на ленте" width="100" height="100")
          .banner-may__clarification
            p.banner-may__discount -15#[span %]
            p.banner-may__text на всё при заказе от 20 000 ₽
          .banner-may__images-right 
            a(href='/shop/volosy-dlya-narashchivaniya/slavyanskie/na-kapsulah/').banner-may__link.banner-may__link--capsule
              img(src="/images/banner-may/capsule.webp" loading="lazy" decoding="async" alt="Волосы для наращивания на капсуле" title="Волосы для наращивания на капсуле" width="100" height="100")
            a(href='/shop/volosy-dlya-narashchivaniya/slavyanskie/microlenty/').banner-may__link.banner-may__link--mini-ribbon
              img(src="/images/banner-may/mini-ribbon.webp" loading="lazy" decoding="async" alt="Волосы для наращивания на мини-лентах" title="Волосы для наращивания на мини-лентах" width="100" height="100")
            a(href='/shop/kosmetika-dlya-ukhoda-za-naroshchennymi-volosami/').banner-may__link.banner-may__link--cosmetics
              img(src="/images/banner-may/cosmetics.webp" loading="lazy" decoding="async" alt="Косметика для ухода за нарощенными волосами" title="Косметика для ухода за нарощенными волосами" width="100" height="100")


  .container 
    .content.banner-march
      p.banner-march__duration с 5 по 20 марта
      .banner-march__clarification #[strong Дарим скидку #[span 8%]] на&nbsp;коррекцию наращивания&nbsp;и #[br] #[span 8%] на&nbsp;волосы при покупке от&nbsp;#[strong 8&nbsp;000&nbsp;₽] #[br] #[span 10%] от&nbsp;#[strong 15&nbsp;000&nbsp;₽] #[br] #[span 12%] от&nbsp;#[strong 20&nbsp;000&nbsp;₽]
      span.banner-march__promocode по промокоду

  .container
    .content.banner-love
      .banner-love__bg
      .banner-love__inner
        p.banner-love__title В честь дня всех влюблённых
        .banner-love__container
          .text-align--center.banner-love__left
            p.banner-love__discount 14% 
            p.banner-love__promocode Скидка по промокоду #[span Love2023]
          .text-align--center.banner-love__right
            p.banner-love__duration с 10.02 по 23.02
            a(href='/aktsii/').btn.banner-love__btn Подробности акции

  .container
    .content.banner-new-year
      .banner-new-year__inner
        p.banner-new-year__title В&nbsp;преддверии #[span 2023] года...
        p.banner-new-year__discount Дарим скидку #[span 17%] #[br] при покупке от&nbsp;15&nbsp;000&nbsp;₽
        p.banner-new-year__promocode по&nbsp;промокоду #[span NY2023]
        p.banner-new-year__duration Предложение действует только до&nbsp;30&nbsp;декабря

  .container
    .content
      +blockMarked()
        p(style='text-align: center;') Только с 10.11 по 11.11 <span style="color: #b81f33; font-weight: bold;">ВСЕМИРНЫЙ ДЕНЬ ШОППИНГА</span> <br> <strong>-20%</strong> по промокоду <span style="color: #b81f33; font-weight: bold;"><strong>SHOPDAY</strong></span> на все волосы, материалы и инструменты для наращивания
  .container.banner-shopping
    .content.banner-shopping__inner
      p.banner-shopping__title 06.11-15.11 #[br] ВСЕМИРНЫЙ ДЕНЬ ШОППИНГА
      .banner-shopping__info
        p.banner-shopping__title.banner-shopping__title--sales -15%
        p.banner-shopping__text по промокоду
        p.banner-shopping__promocode Shopday
      p.banner-shopping__text-bottom *в акции участвуют волосы, материалы и инструменты для наращивания при покупке от 20 000 ₽
      a(href='/shop/volosy-dlya-narashchivaniya/').button.banner-shopping__button.hair-extention-header__button Подобрать волосы
      //- a(href='#hair-extention-sign' data-name="капсульное наращивание").button.banner-shopping__button.hair-extention-header__button Записаться
  //- include ../blocks/hair-extention-2/hair-extention-sign/hair-extention-sign 

  .container
    +grid.content.banner-friday-item
      +grid__item({ l:4 })
        p.banner-friday-item__title чёрная пятница
        p.banner-friday-item__discount Суперскидка
        p.banner-friday-item__percent 20%
        .banner-friday-item__info
          p.banner-friday-item__promocode по промокоду
          p.banner-friday-item__promocode-text Blackfriday

      +grid__item({ l:4 }).banner-friday-item__list
        each i in order
          +bannerFridayItem(i.text, i.span)

      +grid__item({ l:8})
        +grid.banner-friday-products
          each item in products
            +grid__item({ l:2, m:2, s:4, xs:6 }).banner-friday-products__grid
              li.banner-friday-products__item
                a(href= item.href)
                  +img({
                    name: item.image,
                    path: '/images/banner-friday/',
                    formats: [
                      { ext: 'png', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                    density: [
                      { values: [ 1, 2 ] }
                    ]
                  })(alt= item.title title= item.title).banner-friday-products__img
                p.banner-friday-products__text= item.title
