extends /blocks/layout/layout

include /blocks/consultation/consultation-categories/consultation-categories
include /blocks/consultation/consultation-list-item/consultation-list-item

block content
  .container
    .content
      include /data/consultation-questions
      -
        var categories =
          [
            {'name': 'Славянские волосы на кератиновой капсуле', 'count': '(78)', 'url': ''},
            {'name': 'Славянские волосы в пучках', 'count': '(12)', 'url': ''},
            {'name': 'Славянские волосы в срезе', 'count': '(4)', 'url': ''},
            {'name': 'Южно-русские волосы', 'count': '(7)', 'url': ''},
            {'name': 'Инструменты для наращивания', 'count': '(6)', 'url': ''},
            {'name': 'Материалы для наращивания', 'count': '(17)', 'url': ''},
            {'name': 'Обучение наращиванию волос', 'count': '(128)', 'url': ''},
            {'name': 'Обучение постижерной работе', 'count': '(2)', 'url': ''},
            {'name': 'Изделия из волос', 'count': '(59)', 'url': ''},
            {'name': 'Продажа волос', 'count': '(77)', 'url': ''},
            {'name': 'Вопросы по наращиванию волос', 'count': '(408)', 'url': ''},
            {'name': 'О компании', 'count': '(30)', 'url': ''},
          ]
      +breadcrumbs({'parents':['Главная'], 'current':'Консультация'})
      +grid().page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
        +grid__item({'m':9,'xs':12}).page-cols__main
          ul.list-marked
            li
              a(href='') Консультанты
            li
              a(href='') Категории
          h1 Категории
          +consultation-categories(categories)
          include ../blocks/consultation/consultation-form/consultation-form
          h3 Новые вопросы
          each i in [0,1,2,3]
            +consListItem(consultationQuestions[i]) 
