extends /blocks/layout/layout

block content
  .container
    .content
      h1 Форма для внесения остатков
      form(action='' method='').form.wholesale-properties
        .wholesale-properties__item
          label(for='productName').wholesale-properties__title Название товара
          input( type='text' value='' name='')#productName.form__input
        .wholesale-properties__item
          label(for='productQuantity').wholesale-properties__title Количество
          input( type='number' value='' name='')#productQuantity.form__input
        .wholesale-properties__item
          label(for='productFile').wholesale-properties__title Загрузка файла
          input( type='file' value='' name='')#productFile.form__input
        .wholesale-properties__item
          button(type='submit' name='').btn Отправить
        p.text-marked.text-marked--color--green Форма отправлена успешно
        p.text-marked.text-marked--color--red Ошибка в форме
