extends /blocks/layout/layout

block head
  - isHomePage = true

block content
  .container
    .content
      ul.list-marked        
        li: a(href='home.html') Главная — home.html 
        li: a(href='action-banners.html') Баннеры акции — action-banners.html
        li: a(href='banners.html') Баннеры на главную — banners.html
        li: a(href='posadochnaya-podpiska.html') posadochnaya-podpiska.html
        li: a(href='method.html') method.html
        li: a(href='consult-consultant.html') consult-consultant.html
        li: a(href='optovikam.html') optovikam.html
        li: a(href='pokupka-volos.html') pokupka-volos.html
        li: a(href='catalog.html') catalog.html
        li: a(href='consult.html') consult.html
        li: a(href='checkout.html') checkout.html
        li: a(href='about.html') about.html
        li: a(href='services.html') services.html
        li: a(href='narashivanie.html') narashivanie.html
        li: a(href='narashivanie-2.html') narashivanie-2.html
        li: a(href='consult-category.html') consult-category.html
        li: a(href='obuchenie-postizhernym-rabotam.html') obuchenie-postizhernym-rabotam.html
        li: a(href='posadochnaya-podpiska-spasibo.html') posadochnaya-podpiska-spasibo.html
        li: a(href='consult-item.html') consult-item.html
        li: a(href='base-layout.html') base-layout.html
        li: a(href='contacts.html') contacts.html
        li: a(href='staff.html') staff.html
        li: a(href='narashchivanie-volos-ombre.html') narashchivanie-volos-ombre.html
        li: a(href='wholesale-prices.html') wholesale-prices.html
        li: a(href='retail-price.html') retail-price.html
        li: a(href='info.html') info.html
        li: a(href='obuchenie.html') obuchenie.html
        li: a(href='payment-delivery.html') payment-delivery.html
        li: a(href='product.html') product.html
        li: a(href='product-not-hair.html') product-not-hair.html
        li: a(href='promyshlennoe-okrashivanie-volos.html') promyshlennoe-okrashivanie-volos.html
        li: a(href='consult-item-new.html') consult-item-new.html
        li: a(href='distributors.html') distributors.html
        li: a(href='cart.html') cart.html
        li: a(href='action-banners.html') Баннеры акций — action-banners.html
        li: a(href='new-catalog.html') Новый каталог — new-catalog.html
        li: a(href='show-room.html') Страница шоу-рум — show-room.html
        li: a(href='form.html') Форма для внесения остатков — form.html
        li: a(href='master.html') Страница мастера
      h2 Статьи
      ul.list-marked          
        li: a(href='stati/kapsuliatciia-volos.html') Капсуляция — kapsuliatciia-volos.html  
        li: a(href='stati/ruchnoe-tressirovanie.html') Ручное трессирование — ruchnoe-tressirovanie.html
        li: a(href='stati/promyshlennoe-lentirovanie-volos.html') Промышленное лентирование волос — promyshlennoe-lentirovanie-volos.html
        li: a(href='stati/keratinovoe-narashchivanie-volos.html') Кератиновое наращивание волос — keratinovoe-narashchivanie-volos.html
        li: a(href='stati/narashchivanie-volos-na-zakolkakh.html') Наращивание волос на&nbsp;заколках — narashchivanie-volos-na-zakolkakh.html
        li: a(href='stati/narashchivanie-volos-na-kosichku.html') Наращивание на косичках — narashchivanie-volos-na-kosichku.html
        li: a(href='stati/anglijskoe-narashchivanie-volos.html') Английское наращивание волос — anglijskoe-narashchivanie-volos.html
        li: a(href='stati/chastichnoe-narashchivanie-volos.html') Частичное наращивание волос — chastichnoe-narashchivanie-volos.html
        li: a(href='stati/bio-narashchivanie-volos.html') Бионаращивание волос — bio-narashchivanie-volos.html
        li: a(href='stati/vremennoe-narashchivanie-volos.html') Временное наращивание волос — vremennoe-narashchivanie-volos.html
        li: a(href='stati/narashchivanie-volos-melirovanie.html') Наращивание волос мелирование — narashchivanie-volos-melirovanie.html
        li: a(href='stati/frantsuzskoe-narashchivanie-volos.html') Французское наращивание волос — frantsuzskoe-narashchivanie-volos.html
        li: a(href='stati/narashchivanie-volos-gelem.html') Наращивание волос гелем — narashchivanie-volos-gelem.html
        li: a(href='stati/tsvetnoe-narashchivanie-volos.html') Цветное наращивание волос — tsvetnoe-narashchivanie-volos.html
        li: a(href='stati/brazilskoe-narashchivanie-volos.html') Бразильское наращивание волос — brazilskoe-narashchivanie-volos.html
