extends /blocks/layout/layout

block content  
  | <script type="text/javascript">// <![CDATA[
  |  jQuery(function()
  |                  {
  |                    jQuery('.countdownHolder').each(function(i, elem) {
  |                      jQuery(elem).countdown(
  |                      {
  |                        timestamp: new Date(2024, 11, 01)
  |                      });
  |                    })
  |                  });
  | </script>
  .container   
    .content
      h1 Дарья Иванова
      +grid({paddingy:true}).master-info 
        +grid__item({'m':4, 'xs':12}).master-info__image
          +img({
              name: 'masters-ivanova',
              path: '/images/hair-extention/masters/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ]
            })(alt= 'Дарья Иванова')
        +grid__item({'m':8, 'xs':12})
          .master-info__announcement
            ul.list-marked 
              li Эксперт по наращиванию
              li Стилист
              li Визажист
              li Парикмахер-универсал
            .master-info__experience
              .master-info__text опыт работы
              .master-info__year 19 
              .master-info__text лет 

          h3 Образование
          ul.list-marked 
            li Gala studio - мастер по наращиванию волос - капсульная технология (2005 г.)
            li Hair talk - мастер ленточного наращивания волос (2015 г.)
            li "On-line-salon"- голливудское наращивание (2016 г.)
            li Академия "Loreal" - колористика, женские стрижки (2017 г.)
            li "StillStylist"-Индивидуальное обучение классическим мужским стрижкам (2017 г.)
            li Курсы повышения квалификации:
            li "Студия Крона" - вечерние, свадебные прически (2015 г.)
            li "Студия Крона" - визаж (2015 г.)
          h3 Опыт работы
          ul.list-marked 
            li Студия загара "Golden brize"- мастер по наращиванию волос (2007-2009 гг.)
            li Салон красоты "Стиляги" (2009-2010 гг.)
            li "Hair Care Center" (2013 г.)
          h3 Дополнительная информация
          p Дарья — человек творчества, отдана beauty-индустрии всей душой. Постоянно повышает квалификацию, внимательно отслеживает последние новинки, чтобы как можно скорее их освоить. Мастер говорит, что ей хотелось бы знать всё.
          p Именно поэтому часто проходит тренинги, мастер-классы и другие обучающие мероприятия в академии Loreal, студии «Аркос», школе красоты stillStylist, студии красоты Salonline24.
          p Заботится о своих клиентах, для нее важно, чтобы каждый ушел довольным работой, с хорошим настроением, поэтому выкладывается по максимуму. О ней отзываются как о тактичном мастере, который легко находит общий язык со всеми.
          p Дарья может создать:
          ul.list-marked 
            li Все методы наращивания волос — капсульное, ленточное, голливудское.
            li Эффектный цвет волос: знакома со всей линией косметики Loreal.
            li Удачный образ: раскрывает красоту целостно, дает советы по имиджу.
            li Подходящую прическу: учтет форму лица, тип волос и предпочтения в укладке.
            li Идеально ровные волосы методом кератинового выпрямления.
            li Make-up для любого случая: владеет всеми техниками визажа, кроме аквагрима.
          p Запишитесь к этому мастеру, чтобы раскрыть и подчеркнуть свою красоту!
          +blockMarked('',{type:'beige'})
            +textMarked({ tag:'p', size:'l', color:'beige' }).text-align--center #[strong Акция! Дарим скидку -15%]
            p Только месяц в нашем салоне наращивание от мастера эксперта Ольги всего #[strong 70 ₽] капсула вместо 85 ₽*! Оцени работы и нарасти роскошные натуральные волосы любой длины быстро и абсолютно незаметно.
            p Успей записаться в ноябре со скидкой!
            +textMarked({ tag:'p', size:'s' }) * в стоимость наращивания #[strong входит капсуляция] волос от мастера
            +grid({ 'align': 'center', justify:'center', paddingy:true })
              +grid__item({ l:6, xs:12 })
                .home-countdown.countdownHolder
              +grid__item({ l:6, m:6, xs:12 })
                a(href='/' data-name="наращивание").button.button--big.hair-extention-sign-bottom__button Записаться
          
          +blockMarked('',{type:'beige'})
            +textMarked({ tag:'p', size:'l', color:'beige' }).text-align--center #[strong Акция! Дарим скидку -15%]
            p Только месяц в нашем салоне наращивание от ТОП мастера Елены всего #[strong 45 ₽] вместо 55 ₽ за капсулу*! Оцени работы и нарасти роскошные натуральные волосы любой длины быстро и абсолютно незаметно.
            p Успей записаться в ноябре со скидкой!
            +textMarked({ tag:'p', size:'s' }) * в стоимость наращивания #[strong не входит] капсуляция волос
            +grid({ 'align': 'center', justify:'center', paddingy:true })
              +grid__item({ l:6, xs:12 })
                .home-countdown.countdownHolder
              +grid__item({ l:6, m:6, xs:12 })
                a(href='/' data-name="наращивание").button.button--big.hair-extention-sign-bottom__button Записаться
      include ../blocks/hair-extention/hair-extention-sign/hair-extention-sign

      h2 Работы
      - 
        const works = [
          { 
            img: 'ivanova-34',
            text: 'Коррекция капсульного наращивания, 222 пряди',
          },
          { 
            img: 'ivanova-33',
            text: 'Наращивание и капсуляция<br><strong>Волосы категории премиум 45 см, тон 91, 107 гр. Цена 19 460 ₽. Наращивание и капсуляция 210 прядей 15 285 ₽</strong>',
          },
          { 
            img: 'ivanova-32',
            text: 'Наращивание',
          },
          { 
            img: 'ivanova-31',
            text: 'Наращивание',
          },
          { 
            img: 'ivanova-30',
            text: 'Наращивание<br><strong>Цена волос — 22 232 ₽, работа — 8 800 ₽</strong>',
          },
          { 
            img: 'ivanova-29',
            text: 'Наращивание<br><strong>Цена волос — 25 110 ₽, работа — 9 900 ₽</strong>',
          },
          { 
            img: 'ivanova-28',
            text: 'Коррекция капсульного наращивания, 152 пряди<br><strong>Капсуляция — 2310 ₽, работа — 13680 ₽</strong>',
          },
          { 
            img: 'ivanova-27',
            text: 'Наращивание, волосы в срезе люкс, 40 и 45 см<br><strong>Волосы — 18900 ₽. Капсуляция 350 прядей — 5250 ₽. Работа: наращивание (около 350 прядей) — 18150 ₽ и окрашивание (Matrix) — 3900 ₽</strong>',
          },
          { 
            img: 'ivanova-26',
            text: 'Наращивание, неокрашенные волосы в срезе 50-55 см, 85 гр<br><strong>Неокрашенный срез — 31493 ₽. Капсуляция части среза (140 прядей) — 2100 ₽. Наращивание (120 микропрядей) — 6600 ₽.</strong>',
          },
          { 
            img: 'ivanova-25',
            text: 'Нарашивание, волосы в срезе премиум 65 см, цвет 4в, 111 гр<br><strong>Волосы со скидкой — 25717 ₽. Капсуляция (140 прядей) — 2100 ₽. Наращивание (140 прядей) — 7700 ₽.</strong>',
          },
          { 
            img: 'ivanova-24',
            text: 'Горячее капсульное наращивание, 174 пряди, длина 65 см<br><strong>Капсуляция и наращивание — 12170 ₽, волосы премиум 174 пряди — 31199 ₽</strong>',
          },
          { 
            img: 'ivanova-23',
            text: 'Горячее капсульное наращивание<br><strong>Волосы — 12800 ₽, работа — 14420 ₽</strong>',
          },
          { 
            img: 'ivanova-22',
            text: 'Наращивание, 100гр, 55-60 см, 240 прядей<br><strong>Волосы детские неокрашенные - 33000 ₽, работа - 13200 ₽</strong>',
          },
          { 
            img: 'ivanova-21',
            text: 'Горячее капсульное наращивание',
          },
          { 
            img: 'ivanova-20',
            text: 'Горячее капсульное наращивание<br><strong>Длина волос 55 см, 310 капсул. Волосы и работа - 47250 ₽</strong>',
          },
          { 
            img: 'ivanova-19',
            text: 'Горячее капсульное наращивание<br><strong>Длина 50см - 33000 ₽, капсуляция 353 пряди - 5295 ₽, работа - 8080 ₽</strong>',
          },
          { 
            img: 'ivanova-18',
            text: 'Горячее капсульное наращивание<br><strong>Волосы и капсуляция - 25680 ₽, работа - 8000 ₽</strong>',
          },
          { 
            img: 'ivanova-17',
            text: 'Загущение собственных волос<br><strong>126 прядей - 13800 ₽, работа - 5040 ₽</strong>',
          },
          { 
            img: 'ivanova-15',
            text: 'Горячее капсульное наращивание волос',
          },
          { 
            img: 'ivanova-14',
            text: 'Горячее капсульное наращивание волос',
          },
          { 
            img: 'ivanova-13',
            text: 'Горячее капсульное наращивание волос',
          },
          { 
            img: 'ivanova-12',
            text: 'Горячее капсульное наращивание волос',
          },
          { 
            img: 'ivanova-11',
            text: 'Горячее капсульное наращивание волос',
          },
          { 
            img: 'ivanova-10',
            text: 'Горячее капсульное наращивание волос',
          },
          { 
            img: 'ivanova-9',
            text: 'Горячее капсульное наращивание волос',
          },
          { 
            img: 'ivanova-8',
            text: 'Горячее капсульное наращивание волос',
          },
          { 
            img: 'ivanova-7',
            text: 'Горячее капсульное наращивание волос',
          },
          { 
            img: 'ivanova-6',
            text: 'Наращивание волос, 100гр, длина 60см<br><strong>200 микропрядей - 22700 ₽, работа - 6160 ₽</strong>',
          },
          { 
            img: 'ivanova-5',
            text: 'Капсульное наращивание волос, категория люкс, 155гр, длина 55см<br><strong>151 капсула - 24360 ₽, капсуляция и наращивание - 8305 ₽</strong>',
          },
          { 
            img: 'ivanova-4',
            text: 'Горячее капсульное наращивание',
          },
          { 
            img: 'ivanova-3',
            text: 'Капсульное наращивание волос для придания объема волосам и длины<br><strong>250 капсул — 7500 ₽ (без стоимости волос)</strong>',
          },
          { 
            img: 'ivanova-2',
            text: 'Капсульное наращивание волос для придания объема волосам и длины<br><strong>180 капсул — 5400 ₽ (без стоимости волос)</strong>',
          },
          { 
            img: 'ivanova-1',
            text: 'Капсульное наращивание волос<br><strong>120 капсул - 3600 ₽</strong>',
          },
        ]
      +grid({paddingy:true})
        each item in works
          +grid__item({'m':3, 'xs':6})
            a(href=`/images/hair-extention/works/${item.img}.webp` data-fancybox)
              +img({
                name: item.img,
                path: '/images/hair-extention/works/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt= item.text )
            p !{item.text}
