extends /blocks/layout/layout

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная','Информация','Методы наращивания волос'], 'current':'Временное наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Временное наращивание волос
          p Под временным наращиванием волос преимущественно подразумеваются пряди на заколках, благодаря которым они и крепятся к естественной шевелюре. Данная технология позволяет подобрать любые по своей структуре и оттенку волосы: волнистые, кудрявые, прямые. Пряди могут состоять как из натуральных, так и из искусственных волос, но первый вариант все же лучше. Ведь натуральный материал для наращивания невозможно отличить от шевелюры человека, если он совпадают по оттенку и структуре. К тому же натуральные пряди, использующиеся в ходе временного наращивания волос, можно подстригать, окрашивать, выпрямлять, завивать, использовать по отношению к ним привычные косметические средства.
          +grid({'justify':'center'})
            +grid__item({'tag':'figure','m':6,'xs':12}).figure
              img.figure__image(src='/images/info/narashchivanie-volos/metodiki/vremennoe-narashchivanie-volos/vrem-narachev-2.jpg' alt='Пряди на заколках' title='Пряди на заколках')
              figcaption.figure__caption Пряди на заколках
          h2 Как проходит временное наращивание волос?
          +grid({'justify':'center'})
            +grid__item({'tag':'figure','m':7,'xs':12}).figure
              img.figure__image(src='/images/info/narashchivanie-volos/metodiki/vremennoe-narashchivanie-volos/vrem1.jpg' alt='Один из примеров временного наращивания волос' title='Один из примеров временного наращивания волос')
              figcaption.figure__caption Один из примеров временного наращивания волос
          p Для начала шевелюру тщательно промывают, расчесывают. Далее, несколько ниже затылка, делают горизонтальный пробор, зафиксировав пряди в нужном положении. А затем, собственно, и начинается временное наращивание волос.
          include /blocks/hair-extention-module/hair-extention-module
          p Пряди на заколках могут быть представлены наборами или же отдельными локонами. Локоны, входящие в набор, в зависимости от ширины предназначаются для разных участков головы (висков, затылка). Чтобы выполнить временное наращивание волос, следует приподнять верхний слой шевелюры, зафиксировав его зажимами. Далее под ним подкалывают накладные пряди на клипсах, начиная манипуляции с области затылка. Самыми последними крепятся тонкие пряди в участке висков. В том случае, если у вас гладкие и прямые волосы, то в области прикрепления прядей стараются начесать шевелюру, чтобы избежать сползания накладных локонов.
          h2 Особенности временного наращивания волос
          p Временное наращивание волос позволяет создавать самые разнообразные прически. Так, накладные хвосты могут послужить основой для каскадов, вечерних причесок. Можно плести косички, создавать ободок, а накладные челки смогут существенно обновить образ. Набор локонов поможет в создании превосходной свадебной прически, французской косы, колоска, а также ниспадающего водопада из завитых волос. Само собой разумеется, что умелое сочетание разных оттенков накладных прядей позволяет, без использования химических средств, выполнить колорирование, тонирование либо мелирование волос.
          h2 Уход за наращенными волосами
          p Временное наращивание волос предполагает, что накладные пряди потребуется мыть специальным шампунем, а затем наносить на них бальзам. Что касается выбора шампуня, то следует отдавать предпочтение увлажняющим, а также тем, которые создаются для нормального типа волос. Как только шевелюра будет вымыта, нужно подождать, пока она высохнет, и только потом положено ее расчесывать. В мокром же состоянии волосы нельзя расчесывать ни в коем случае, поскольку это приведет к их выдергиванию. Также шевелюру положено подпитывать соответствующими бальзамами и спреями.
          p Обратившись в компанию Волосы 24, вы можете рассчитывать как на услугу наращивания, так и на покупку только качественных волос нашего собственного производства.
          include /blocks/methods-sign/methods-sign
