extends /blocks/layout/layout

block content  

  .container
    .content
      +breadcrumbs({'parents':['Главная', 'Информация'], 'current':'Палитра волос'})
      h1 Палитра волос
      .palette
        - for(i = 0; i < 30; i++)
          .palette__item
            a(data-fancybox='gallery-01' href="https://volosy24.ru/images/stories/virtuemart/product/sample_na_capsule_1.jpg")
              img(data-tooltip='светло-каштановый (холодный оттенок)' src="https://volosy24.ru/images/palette/1.jpg" alt="")
            p.palette__number= i + 1
            p.palette__color.hidden-hd.hidden-xl.hidden-l светло-каштановый (холодный оттенок)
