extends /blocks/layout/layout

block content
  .container
    .content
      h1 Наращивание волос омбре
      h2.hide-in-leading Актуальность наращивания омбре
      p На&nbsp;сегодняшний момент очень популярной тенденцией в&nbsp;окрашивании является эффект отросших корней, особенно это актуально для девушек со&nbsp;светлыми оттенками волос и&nbsp;блондинок. 

      p Существует множество техник такого окрашивания: сомбре, омбре, брондирование, балаяж, шатуш, окрашивание корней с&nbsp;затемнением.
      p К&nbsp;сожалению, отрастить осветленные и&nbsp;блондированные волосы бывает тяжело в&nbsp;силу их&nbsp;повреждения и&nbsp;ломкости, поэтому желание иметь длинные волосы может быть решено путем наращивания омбре на&nbsp;темные волосы.
      +youtube-responsive('vyKhfiXUm2A', 'Процесс наращивания волос омбре на темные волосы')
      h2 Особенности подбора волос 
      p При подборе волос для наращивания в&nbsp;этом случае могут возникнут сложности и&nbsp;множество вопросов.

      p Как известно, при подборе волос для наращивания мы&nbsp;всегда подбираем в&nbsp;цвета кончиков и&nbsp;длины волос. Здесь присутствует элементы творчества, ведь от&nbsp;того, как мастер подберет волосы для наращивания, результат может быть очень разным.
      figure.figure
        img(src='/images/info/stati/narashchivanie-volos-ombre/na-ehtape-narashchivaniya-tressov-ombre.jpg' alt='На этапе наращивания трессов омбре' title='На этапе наращивания трессов омбре').figure__image
        figcaption.figure__caption Волосы для наращивания с эффектом отросших корней
      p Если у&nbsp;девушки волосы окрашены, например, техникой омбре, когда кончики своих волос светлые и&nbsp;практически все одного цвета. В&nbsp;этом случае мы&nbsp;можем смело подбирать волосы в&nbsp;цвета длины и&nbsp;кончиков, чаще всего это будет 1-2 светлых цвета. В&nbsp;некоторых случаях мы&nbsp;можем использовать для наращивания обычные однотонные волосы. 

      p Но&nbsp;бывают и&nbsp;такие варианты омбре, когда однотонные обычные волосы для наращивания нам не&nbsp;очень подойдут. В&nbsp;этом случаем мы&nbsp;будем под клиента подбирать и&nbsp;изготавливать волосы в&nbsp;те&nbsp;цвета и&nbsp;с&nbsp;той растяжкой, что есть на&nbsp;голове у&nbsp;девушки.
      h2 Предложения нашей компании 
      p Наша компания занимается изготовлением волос омбре под заказ именно для таких случаев. Наши клиенты сообщают нам параметры, по&nbsp;которым необходимо изготовить волосы омбре: какие цвета, длины растяжек каждого цвета нужны и&nbsp;мы&nbsp;индивидуально производим такие волосы. 

      p В&nbsp;итоге, нарастив волосы, результат будет потрясающим, и&nbsp;прическа будет выглядеть максимально естественно и&nbsp;никто и&nbsp;не&nbsp;заметит, что волосы у&nbsp;девушки нарощены. Нарощенные волосы максимально &laquo;сольются&raquo; со&nbsp;своими и&nbsp;клиентка обретет такие долгожданные длинные волосы.
      figure.figure
        img(src='/images/info/stati/narashchivanie-volos-ombre/volosy-dlya-narashchivaniya-s-ehffektom-otrosshih-kornej.jpg' alt='Волосы для наращивания с эффектом отросших корней' title='Волосы для наращивания с эффектом отросших корней').figure__image
        figcaption.figure__caption Волосы для наращивания с эффектом отросших корней
      h3 Предлагаем пряди с&nbsp;эффектом отросших корней

      p Бывают ситуации, когда основная длина волос светлая, а&nbsp;у&nbsp;корней они затемнены. В&nbsp;этом случае для получения наилучшего результата, более естественного мы&nbsp;ввели в&nbsp;свой ассортимент новинку: волосы для наращивания с&nbsp;эффектом отросших корней. 

      p Такие волосы чаще всего также изготавливаются под заказ, чтобы наиболее точно выкрасить волосы под цвета клиента. На&nbsp;голове такие нарощенные волосы &laquo;вливаются&raquo; в&nbsp;общую массу волос сохраняя общий эффект отросших корней и&nbsp;они не&nbsp;выделяются голове.
      h3 Надежный поставщик к&nbsp;вашим услугам

      p Конечно&nbsp;же, работа по&nbsp;наращиванию волос омбре у&nbsp;клиенток со&nbsp;сложным окрашиванием, более трудная в&nbsp;плане первоначального подбора волос, цветов. Но&nbsp;можно получить прекрасный результат, выбрав надежного поставщика, который сможет изготовить для Вас волосы по&nbsp;нужным параметрам и&nbsp;предоставив Вам волосы высокого качества.

      p У&nbsp;нас&nbsp;Вы всегда найдете большой выбор волос стандартных цветов и&nbsp;получите возможность изготовить индивидуальные варианты цветов под заказ. У&nbsp;нас имеются выгодные предложения для мастеров, салонов и&nbsp;профессиональных магазинов: купить волосы омбре для наращивания будет комфортно для всех.
