extends /blocks/layout/layout

block content
  include /blocks/tabs/tabs 
  include /blocks/socials-inline/socials-inline
  .container
    .content  
      +breadcrumbs({'parents':['Главная'], 'current':'Оптовикам'})
      include ../blocks/wholesale/wholesale-header/wholesale-header
      include ../blocks/wholesale/wholesale-discounts/wholesale-discounts
      include ../blocks/wholesale/wholesale-product/wholesale-product
      .wholesale-section
        +tabs
          +tab({'name':'Подобрать категорию'})#product-choose-category
            p #[strong Люкс] - волосы изготавливают из качественного сырья. По структуре такие волосы могут быть прямыми, пористыми (склонными к пушистости), волнистыми в зависимости от природной структуры (вся структура натуральная). Такие волосы потребуют чуть больше ухода и времени на укладку (их можно выпрямлять, завивать). При хорошем уходе срок службы таких волос в среднем составит 3-6 коррекций. По структуре приближен к славянскому типу волос. Это волосы double drawn, кончики у этих волос плотные, густые. При продаже, на витрине, волос имеет ту структуру, которая сохранится во время ношения волос. Но волнистые волосы, чтобы имели красивый локон потребуют укладки, как и все волнистые волосы. Перед продажей все волосы моются и сушатся естественным образом без укладки какими-либо средствами (без фенов, плоек и без специальных средств).
            p #[strong Премиум] - самая дорогая категория волос. Делается из дорогого и высококачественного сырья. Эти волосы по структуре прямые и гладкие. Срок носки таких волос (при хорошем уходе около 5-8 коррекций). По структуре волос приближен к славянскому типу волос. При ношении волосы сохранят ту структуру, которая будет в момент покупки. Это волосы double drawn, кончики у этих волос плотные, густые.

          +tab({'name':'Подобрать длину'})#product-choose-length
            h3 Инструкция по&nbsp;выбору длины волос для наращивания
            +grid({justify: 'center'})
              +grid__item({m:8,xs:12})
                p Для начала измерьте длину собственных волос: один конец ленты приложите к&nbsp;верхушке ушей, другой&nbsp;&mdash; к&nbsp;кончикам самых нижних прядей. Если ваша цель&nbsp;&mdash; только увеличение объема, тогда вам подойдут пряди той&nbsp;же длины, что и&nbsp;ваши волосы. В&nbsp;другом случае воспользуйтесь рекомендациями.
                ol.list-numbered
                  li Больше, чем в&nbsp;2&nbsp;раза от&nbsp;исходной длины волосы не&nbsp;удлиняют. Наращиваете волосы впервые? Выберите длину 40-50&nbsp;см (примерно до&nbsp;уровня лопаток). В&nbsp;результате получите естественный вид шевелюры. Аналогично поступите, если у&nbsp;вас короткая стрижка.
                  li Ориентируйтесь на&nbsp;свой рост. Например, 45&nbsp;см&nbsp;&mdash; это пряди до&nbsp;средины спины при росте 170&nbsp;см, и&nbsp;чуть выше талии при росте 160&nbsp;см. 
                  li Подбирайте длину, ориентируясь на&nbsp;форму лица. Длинные волосы подойдут обладательницам овальной, квадратной, сердцевидной формы лица. Волосы&nbsp;же средней длины лучше подбирать обладательницам круглой и&nbsp;удлиненной формы лица. 
                  li Учтите особенности ухода. Уход усложняется с&nbsp;увеличением длины. К&nbsp;тому&nbsp;же длина волос более 60&nbsp;см в&nbsp;повседневной жизни непрактична.
              +grid__item({m:4,s:8,xs:12}): img(src='/images/podbor_dliny.jpg' alt='Как подобрать длину волос')

          +tab({'name':'Подобрать цвет'})#product-choose-color
            h2 Подобрать цвет
            h3 Подобрать цвет по&nbsp;фотографии
            p Вы&nbsp;можете отправить нам фотографию волос с&nbsp;помощью 
              a(href='#form-color' data-fancybox) специальной формы
              | , либо в&nbsp;мессенджере или социальной сети: 
            +socialsInline()
            p Лучше сделать 
              strong несколько фотографий
              |  при разном 
              strong освещении
              |  для сравнения.
            h3 Подобрать цвет по&nbsp;бесплатной палитре Estel
            +grid
              +grid__item({m:9,xs:12})
                p Вы&nbsp;можете выбрать понравившийся вам цвет из&nbsp;образцов 
                  strong палитры красок Estel
                  | . А&nbsp;потом либо сообщить нам номер из&nbsp;палитры, на&nbsp;основе которого мы&nbsp;подберем вам цвет. Либо самому с&nbsp;помощью 
                  a(href='#colours-table' data-fancybox) таблицы
                  |  найти соответствие цвета образца Estel и&nbsp;нашей палитры.
                p Палитру Estel можно найти в&nbsp;
                  strong профессиональных магазинах
                  |  или в&nbsp;
                  strong отделах косметики
                  |  продовольственных магазинов 
                  strong (не&nbsp;нужно покупать)
                  | . Также данная палитра есть в&nbsp;большинстве салонов, где используют данный краситель.
                #colours-table(style='display: none')
                  -
                    const ct = [
                      ['1/0', '1'],
                      ['3/0', '1в'],
                      ['4/7', '2'],
                      ['5/3', '3'],
                      ['6/0', '3в'],
                      ['6/3', '4'],
                      ['7/75', '5'],
                      ['7/3', '8'],
                      ['8/3', '12'],
                      ['9/7', '16'],
                      ['9/0', '19'],
                      ['10/0', '24'],
                      ['8/34', '33'],
                      ['8/74', '33в'],
                      ['7/71', '61'],
                      ['8/1', '77'],
                      ['8/1', '810'],
                      ['10/7', '83'],
                      ['9/1', '87'],
                      ['9/73', '97'],
                      ['7/34', '135'],
                      ['8/74', '135в'],
                      ['10/8', '201'],
                      ['0/00N', '602'],
                      ['0/00A', '000'],
                    ]
                  table.table-price
                    tr
                      th Палитра Estel essex
                      th Палитра «Волосы 24»
                    each row in ct
                      tr
                        each i in row
                          td !{i}
              +grid__item({m:3,xs:12})
                p: img(src='/images/palette-estel.jpg' alt='Палитра Estel')
            h3 Подобрать цвет на&nbsp;основе вашего текущего цвета нарощенных волос
            p Если вы&nbsp;уже приобретали у&nbsp;нас волосы, вы&nbsp;можете просто сообщить нам 
              strong ваши данные
              | . Мы&nbsp;проверим по&nbsp;базе и&nbsp;узнаем номер цвета.
            h3 В&nbsp;нашем магазине
            p Предлагаем вам посетить наш магазин по&nbsp;адресу&nbsp;
              strong г. Санкт-Петербург, наб. Обводного канала, д.&nbsp;108
              | . В&nbsp;наличии огромный ассортимент. Наши менеджеры с&nbsp;большим опытом подберут вам цвет, которые будет идеально соответстовать вашим ожиданиям.
            h3 По&nbsp;телефону или видео консультации
            p 
              a(href='tel:+78126123736') Звоните
              |  нам или оставьте 
              a(href='#' onclick='event.preventDefault(); Comagic.openSitePhonePanel()') заявку на&nbsp;обратный звонок
              | .
            p Звоните нам по&nbsp;видео связи:  
            +socialsInline({facebook: false, vk: false, instagram: false})
            p Наш сотрудник подскажет возможные варианты и&nbsp;поможет выбрать цвет.
            #form-color(style='display: none')
              form.form.consultation-form
                h3 Определить цвет по фото
                .consultation-form__input
                  .consultation-form__label
                    label Фотографии
                  .consultation-form__input-text
                    input(type='file' name='photo')
                  .consultation-form__input-text
                    input(type='file' name='photo')
                  .consultation-form__input-text
                    input(type='file' name='photo')
                .consultation-form__input
                  .consultation-form__label
                    label Телефон
                  .consultation-form__input-text
                    input(type='phone' name='phone').form__input#form-color__phone
                .consultation-form__buttons
                  button(type='submit').btn Отправить
              //- p Мы свяжемся с вами, как только фотографии будут получены, и согласуем с вами выбор.

      include ../blocks/wholesale/wholesale-get-price/wholesale-get-price 
      include ../blocks/wholesale/wholesale-advantages/wholesale-advantages
      include ../blocks/wholesale/wholesale-vip/wholesale-vip
      include ../blocks/wholesale/wholesale-about/wholesale-about
      include ../blocks/wholesale/wholesale-become/wholesale-become
      //- include ../blocks/wholesale/wholesale-get-price/wholesale-get-price
      include ../blocks/wholesale/wholesale-feedback/wholesale-feedback
      include ../blocks/wholesale/wholesale-order/wholesale-order
      include ../blocks/wholesale/wholesale-samples/wholesale-samples
      
