extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Оптовикам'})
      +pageSection
        include ../blocks/banner-buy-hair/banner-buy-hair
      +pageSection
        +pageSubheader('Ваши выгоды')
        +grid({paddingy:true})
          +grid__item({m:6,xs:12})
            +featuresTitle() Вознаграждение
            p У нас вы получите хорошее вознаграждение за ваши длинные волосы, вместо того чтобы просто срезать их и оставить «на полу» парикмахерской.
          +grid__item({m:6,xs:12})
            +featuresTitle() Экономия времени
            p Появится больше времени на любимые занятия, друзей и семью.
          +grid__item({m:6,xs:12})
            +featuresTitle() Экономия денег на стрижках и процедурах
            p Экономия денег на стрижках, процедурах, окрасках, шампунях и бальзамах. Для коротких волос всего этого нужно гораздо меньше.
          +grid__item({m:6,xs:12})
            +featuresTitle() Смена имиджа
            p С короткой прической вы преобразитесь, будете совсем другой - молодой и энергичной!
        +pageSection
        +pageSubheader('Преимущества работы с нами')
      
        +grid({paddingy:true, justify: 'center'})
          +grid__item({m:4,s:6,xs:12})
            +featuresTitle({type:'secondary'}) Высокие цены
          +grid__item({m:4,s:6,xs:12})
            +featuresTitle({type:'secondary'}) Оплачиваем волосы сразу
          +grid__item({m:4,s:6,xs:12})
            +featuresTitle({type:'secondary'}) Принимаем волосы у взрослых и детей
          +grid__item({m:4,s:6,xs:12})
            +featuresTitle({type:'secondary'}) Покупаем срез полным объемом
          +grid__item({m:4,s:6,xs:12})
            +featuresTitle({type:'secondary'}) Стильная стрижка – бесплатно
          +grid__item({m:4,s:6,xs:12})
            +featuresTitle({type:'secondary'}) Скупка волос по почте
          +grid__item({m:4,s:6,xs:12})
            +featuresTitle({type:'secondary'}) Оплачиваем проезд городским транспортом по городу
      +pageSection
        +pageSubheader('Оцените стоимость')
        h3 Вы из Санкт-Петербурга
        p Свяжитесь с нами по телефону +79817245628 , и мы примем вас уже сегодня! Наши консультанты с радостью ответят на все вопросы относительно процесса продажи и стоимости волос, помогут выгодно продать волосы.
        h3 Вы из другого города
        p Можете прислать нам фотографии волос любым удобным для вас способом, а также получить бесплатную консультацию и рекомендации по подготовке волос к продаже.
        p Отправьте фото со спины распущенных волос или среза рядом с сантиметровой лентой:
        ul.list-marked
          li на номер +79817245628 в WhatsApp/Viber/Telegramm
          li на адрес электронной почты 
            a(href='mailto:mail@hairdesign.ru ') mail@hairdesign.ru
          li в социальные сети
            .footer-socials(style='display: inline-block')
              ul.footer-socials__list
                li.footer-socials__item.footer-socials__item--vk
                  a(href='https://vk.com/volosy24' target='_blank')
                li.footer-socials__item.footer-socials__item--inst
                  a(href='https://www.instagram.com/volosy24/' target='_blank')
        h4 Покупка волос с пересылкой по почте
        p Или курьерской службой, после предоставления фото, согласования стоимости и при соблюдении правил срезания локонов.
        +grid({paddingy:true})
          +grid__item({m:6,xs:12})
            +blockMarked('',{type:'accept'})
              h3 Какие волосы мы принимаем?
              p Длина – от 40 см.
              p Некрашенные
              p Женские, мужские, детские
          +grid__item({m:6,xs:12})
            +blockMarked('',{type:'deny'})
              h3 Какие волосы мы не принимаем?
              p Спутанные и перевернутые (верх – низ)
              p Парики, шиньоны, накладные пряди, волосы купленные в магазине
              p В плохом состоянии — после термической или химической обработки
        +pageSection
          +featuresTitle({type:'secondary'}) 
            p Желательно <strong>не срезать волосы заранее</strong> дома или в парикмахерской, а приехать к нам – наш эксперт посмотрит ваши волосы на голове. В этом случае стоимость волос будет выше, т.к. вы представляете товар «живьем».
            p Если вы хотите состричь волосы у нас в салоне, <strong>модельная стрижка бесплатно</strong>!
            +grid({paddingy:true})
              +grid__item({m:5,s:10,xs:12})
                +blockMarked('',{type: 'simple'})
                  +grid()
                    +grid__item({xs:6})
                      img(src='/images/pokupka-volos/sell-hair-beforeafter-1-1.jpg' alt='')
                      
                    +grid__item({xs:6})
                      img(src='/images/pokupka-volos/sell-hair-beforeafter-1-2.jpg' alt='')
              
              +grid__item({m:5,s:10,xs:12})
                +blockMarked('',{type: 'simple'})
                  +grid()
                    +grid__item({xs:6})
                      img(src='/images/pokupka-volos/sell-hair-beforeafter-2-1.jpg' alt='')
                      
                    +grid__item({xs:6})
                      img(src='/images/pokupka-volos/sell-hair-beforeafter-2-2.jpg' alt='')
                      
            p(style='margin-top: 1rem') Если вы все же решитесь самостоятельно отстричь волосы, то далее наши рекомендации.
      +pageSection
        +pageSubheader('Какие правильно срезать волосы?')

        -
          let list = [
            `
              <ul class='list-marked'>
                <li>Заранее помыть голову без использования масок, кондиционеров и бальзамов, только шампунем</li>
                <li>Высушить</li>
                <li>Чистые и сухие волосы разделяются на 2-4 зоны и закрепляются тугими хвостиками - если длина волос разная ИЛИ заплетается тугая коса с использованием двух резинок (у основания косы и на конце) - если большой объём и длина.</li>
                <li>Волосы срезаются, над резинками</li>
                <li>Срезанные волосы складываются в одноразовое бумажное полотенце не нарушая направление роста волос (т.е. так, как были срезаны)</li>
              </ul>
            `,
            `
              <p>В случае если <strong>волосы уже отстрижены</strong> – заплетите их в косу, чтобы они не спутались и туго перетяните их резинкой, чтобы избежать вычеса.</p>
              <p>Не используйте средства для укладки, не сушите феном и не подвергайте никакому воздействию, лучше просто заплетите в косу.</p>
            `
          ]
        +listBlocks(list, {type: 'grid', background:'transparent', width:{m:6,xs:12}, textAlign: 'left'})
        +grid({paddingy:true})
          +grid__item({m:2,s:3,xs:6})
            a(href='/images/pokupka-volos/how-to-1.jpg' data-fancybox='sell-hair-how-to')
              img(src='/images/pokupka-volos/how-to-1_thumb.jpg' alt='')
          +grid__item({m:2,s:3,xs:6})
            a(href='/images/pokupka-volos/how-to-2.jpg' data-fancybox='sell-hair-how-to')
              img(src='/images/pokupka-volos/how-to-2_thumb.jpg' alt='')
          +grid__item({m:2,s:3,xs:6})
            a(href='/images/pokupka-volos/how-to-3.jpg' data-fancybox='sell-hair-how-to')
              img(src='/images/pokupka-volos/how-to-3_thumb.jpg' alt='')
          +grid__item({m:2,s:3,xs:6})
            a(href='/images/pokupka-volos/how-to-4.jpg' data-fancybox='sell-hair-how-to')
              img(src='/images/pokupka-volos/how-to-4_thumb.jpg' alt='')
          +grid__item({m:2,s:3,xs:6})
            a(href='/images/pokupka-volos/how-to-5.jpg' data-fancybox='sell-hair-how-to')
              img(src='/images/pokupka-volos/how-to-5_thumb.jpg' alt='')
          +grid__item({m:2,s:3,xs:6})
            a(href='/images/pokupka-volos/how-to-6.jpg' data-fancybox='sell-hair-how-to')
              img(src='/images/pokupka-volos/how-to-6_thumb.jpg' alt='')
        
      +pageSection
        +pageSubheader('Цены')
        +grid({paddingy:true})
          +grid__item({m:6,xs:12})
            - let title = `<strong>Волосы неокрашенные</strong><br>(шатен, коричневый, чёрный)*`
            +blockMarked(title)
              ul.list-marked
                li 30-40 см — 10 руб./г (100г — 1000 рублей);
                li 40-50 см — 15 руб./г (100г — 1500 рублей);
                li 50 см и более — 20 руб./г (100г — 2000 рублей)
          +grid__item({m:6,xs:12})
            - let title = `<strong>Волосы неокрашенные</strong><br>(блонд, светло-русые, русые)*`
            +blockMarked(title)
              ul.list-marked
                li 30-40 см — 15 руб./г (100г — 1500 рублей);
                li 40-50 см — 35 руб./г (100г — 3500 рублей);
                li 50-60 см — 45 руб./г (100г — 4500 рублей);
                li 60см и более — 55 руб./г (100г — 5500 рублей).
              small Это наиболее дорогие волосы, на продаже которых вы сможете заработать существенные суммы!
        p
          small *Стоимость может быть уменьшена по причине их плохого состояния: значительное количество посечённых кончиков, сухие или очень пористые волосы.
      +pageSection
        +pageSubheader('Остались вопросы?')
        +pageSection
          +grid({paddingy: true})
            +grid__item({m:6,xs:12})
              +grid({justify:'center', paddingy:true, align: 'center'})
                +grid__item({m:2,xs:4})
                  include ../styles/svg/telephone.svg
                +grid__item({m:8,xs:12})
                  p Позвоните нам по телефону<br><strong>+79817245628</strong>
            +grid__item({m:6,xs:12})
              +grid({justify:'center', paddingy:true, align: 'center'})
                +grid__item({m:2,xs:4})
                  include ../styles/svg/conversation.svg
                +grid__item({m:8,xs:12})
                  p Напишите нам на номер <strong>+79817245628</strong><br>в WhatsApp/Viber/Telegram
        p Наши консультанты с радостью ответят на все вопросы относительно процесса продажи и стоимости волос.
