extends /blocks/layout/layout

include /blocks/list-features/list-features
include /blocks/highlighted-subtitle/highlighted-subtitle
include /blocks/landing-section/landing-section
include /blocks/landing-feedback/landing-feedback

block content
  .container: .content
    include /blocks/landing-header/landing-header 
    +landiongSection: +grid({ 'align': 'center' })
      +grid__item({ l: 6, xs: 12 }): include /blocks/landing-book/landing-book
      +grid__item({ l: 6, xs: 12 })
        <script src="//web.webformscr.com/apps/fc3/build/loader.js" async sp-form-id="4afc8c31c6760dc1a8685fe0506e5dd0bfd8dd3f16a898623bc070ca8656878e"></script>
    +landiongSection: +grid({ 'justify': 'center' })
      +grid__item({ l: 6, xs: 12 })
        script
          | const time = Date.now();
          | console.log(time);
          | jQuery(function(){
          |   jQuery('#countdown-1').countdown({timestamp: time + 3600000});
          | });
        .landing-counter Доступ к странице будет закрыт через:
          .countdownHolder#countdown-1
    +landiongSection: +grid({ paddingy: true })
      +grid__item({m: 4, xs: 12})
        +highlightedSubtitle('Что мне даст эта инструкция?')
        +listFeatures({
          list: [
            {body: 'Четкое понимание, как сделать услугу наращивания высокорентабельной'},
            {body: 'Знания, как сделать процесс оказания услуги профессиональным, быстрым, эффективным'},
            {body: 'Преимущество перед конкурентами'},
            {body: 'Основные секреты продажи услуги наращивания'},
            {body: 'Алгоритм сокращения расходов'},
            {body: 'Способы увеличить количество клиентов, средний чек'},
          ],
          settings: {
            cols: { xs: 1 },
          }
        })
      +grid__item({m: 8, xs: 12})
        +highlightedSubtitle('Что содержит инструкция?')
        +listFeatures({
          list: [
            {body: 'Как подбирать мастеров по наращиванию, каким, опытом, знаниями, качествами должен обладать мастер'},
            {body: 'Нужно ли иметь запас волос в салоне. Как спланировать запас волос на складе, ассортимент.'},
            {body: 'Как правильно выбрать поставщика волос и волосы для наращивания.'},
            {body: 'Как сократить расходы'},
            {body: 'Как эффективно привлекать клиентов. Какие рекламные инструменты будут работать.'},
            {body: 'Как улучшить лояльность за счет сервиса в салоне'},
            {body: 'Как увеличить средний чек'},
            {body: 'Как ускорить процесс наращивания и поставить его на поток'},
            {body: 'Основные моменты процесса продажи услуги'},
            {body: 'Какие инструменты и расходные материалы лучше выбрать'},
            {body: 'Какие методы наращивания более рентабельны'},
            {body: 'Возврат клиентов за счет работы с клиентской базой'},
          ],
          settings: {
            cols: { m: 2, xs: 1 },
          }
        })
    +landiongSection
      h2.text-align--center: strong Отзывы об инструкции
      +landingFeedback({author: 'Татьяна Сумская', occ: 'Руководитель салона Орхидея', photo: 'https://dummyimage.com/300x300'})
        p Я только открыла инструкцию: было много вопросов, сложностей, не хватало опыта. Ваша инструкция, очень помогла! Спасибо за Ваши идеи! Постепенно стали их внедрять, и результаты уже радуют.
      +landingFeedback({author: 'Анна Приходько', occ: 'Управляющий студии наращивания LongHair', photo: 'https://dummyimage.com/300x300'})
        p С интересом прочитал ваше руководство. Хотел бы поблагодарить за свежий взгляд, актуальные рекомендации. Очень полезная информация!
