extends /blocks/layout/layout
include /blocks/catalog-slider/catalog-slider 
include /blocks/catalog-pagination/catalog-pagination 

block content  
  .container
    .content
      +breadcrumbs({'parents':['Главная', 'О компании'], 'current':'Шоу-рум'})
      h1 Приглашаем вас в салон Волосы24
      +pageSection 
        +grid({ 'justify': 'center' }) 
          +grid__item({ m:8 })
            p Мы&nbsp;всегда рады гостям и&nbsp;готовы говорить о&nbsp;волосах бесконечно, потому что это дело, которым мы&nbsp;живем и&nbsp;вкладываем всю душу. Такой непростой товар как волосы вызывает много вопросов и&nbsp;личное присутствие позволит вам развеять все сомнения. Мы&nbsp;ответим на&nbsp;все вопросы и&nbsp;покажем наш богатый ассортимент.
            p К&nbsp;сожалению, цветопередача экранов устройств несколько искажает оттенки, поэтому если вы&nbsp;проживаете в&nbsp;Санкт-Петербурге, визит перед покупкой будет удачным решением. Кроме того, вы&nbsp;сможете лучше понять разницу в&nbsp;качестве категорий премиум, люкс и&nbsp;стандарт. А&nbsp;значит подобрать именно тот вариант, который вам подойдет лучше всех.
            p Салон находится в&nbsp;самом центре Санкт-Петербурга, в&nbsp;5&nbsp;минутах ходьбы от&nbsp;м.Фрунзенская.
          +grid__item({ m:4 })
            +img({
              name: 'ivanova',   
              path: '/images/show-room/',
              formats: [
                { ext: 'jpg', orig: true },
                { ext: 'webp', mime: 'image/webp' },
              ],
            })(alt='Мастер Дарья Иванова')
            +textMarked({ tag: 'span', size: 's' }) Дарья Иванова, мастер по наращиванию и парикмахер-универсал, стаж 18 лет
        
        h2 #[strong Преимущества посещения] 
        -
          const advantages = [
            'Приехав к&nbsp;нам лично, можно оценить качество волос на&nbsp;ощупь, наиболее точно подобрать цвет и&nbsp;структуру волос. Ознакомьтесь с&nbsp;вариантами крепления волос для наращивания и&nbsp;подберите для себя наиболее подходящий, если наращиваете впервые.', 
            'По&nbsp;предварительной записи можно получить бесплатную консультацию у&nbsp;мастера по&nbsp;наращиванию волос или без записи в&nbsp;часы работы задать вопросы продавцу-консультанту.',
            'Закажите подготовку волос к&nbsp;наращиванию (капсулирование, лентирование, изготовление волос на&nbsp;трессах). Также возможно изготовить накладки на&nbsp;заколках для самостоятельного использования.',
            'Попробуйте бесплатно тестеры косметики для ухода за&nbsp;наращенными волосами. Мастера дадут советы и&nbsp;рекомендации по&nbsp;уходу за&nbsp;волосами, чтобы вы&nbsp;как можно дольше наслаждались новым образом.',
            'Подберите расческу для наращенных волос, которая обеспечит бережный уход и&nbsp;поможет надолго сохранить здоровье и&nbsp;качество волос.'
          ]
        +grid({ 'justify': 'center' })
          - for (let i = 1; i <= advantages.length; i++)
            +grid__item({ m:4, s:6 }) 
              +grid({ 'align': 'center' }) 
                +grid__item
                  p.text-align--center 
                    +img({
                      name: `advantage-${[i]}`,   
                      path: '/images/show-room/',
                      formats: [
                        { ext: 'png', orig: true },
                      ],
                    })(alt='' width='80' height='80')
                +grid__item
                  p !{advantages[i - 1]}
          
      +pageSection 
        h2 Фотографии офиса «Волосы 24» в Санкт-Петербурге
        -
          const gallery = {
            images: [
              { url:'/images/show-room/office-1.jpg',
                alt:'Фотография офиса «Волосы 24» в Санкт-Петербурге',
                link: {
                  url:'/images/show-room/office-1.jpg',
                }
              },
              { url:'/images/show-room/office-2.jpg',
                alt:'Фотография офиса «Волосы 24» в Санкт-Петербурге',
                link: {
                  url:'/images/show-room/office-2.jpg',
                }
              },
              { url:'/images/show-room/office-3.jpg',
                alt:'Фотография офиса «Волосы 24» в Санкт-Петербурге',
                link: {
                  url:'/images/show-room/office-3.jpg',
                }
              },
              { url:'/images/show-room/office-4.jpg',
                alt:'Фотография офиса «Волосы 24» в Санкт-Петербурге',
                link: {
                  url:'/images/show-room/office-4.jpg',
                }
              },
            ],
            settings:{size:'small'},
          }
        +gallery(gallery)(data-fancybox='')
      
      +pageSection 
        +grid
          +grid__item({ m:7 })
            h2 3D-тур по офису «Волосы 24» в Санкт-Петербурге
            .youtube-responsive
              .youtube-responsive__iframe
                iframe(src='https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1486634358815!6m8!1m7!1sK35p8NtUkMUAAAQvxa493A!2m2!1d59.90796101212884!2d30.31258920335586!3f221.86485814753792!4f-14.060279966658854!5f0.7820865974627469', width='712', height='420', style='border:0', allowfullscreen='')
          +grid__item({ m:5 })
            h2 Схема проезда
            iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Acdad9a230378227a96b00619424ec7d2e57804d002e8ef30815d6782af61363d&amp;source=constructor" width="100%" height="344" frameborder="0")
      +pageSection 
        h2 ООО &laquo;Волосы&nbsp;24&raquo;
        p Контактный телефон: #[a(href='tel:+79618094188') 8-961-809-41-88]
        p E-mail: #[a(href='mailto:market@volosy24.ru') market@volosy24.ru]
        p #[a(href='#' data-mrc-sh-title='requisites') Реквизиты ООО &laquo;Волосы&nbsp;24&raquo;]
        table(data-mrc-sh-body='requisites').contacts-requisites
          tbody
            tr
              td(colspan='2') Юридический и фактический адрес: 196084, Санкт-Петербург, наб. Обводного канала д. 108, офис 30Н.
            tr
              td(colspan='2') Генеральный директор: Лейтес Ольга Владимировна.
            tr
              td(colspan='2')
                | p/c № 40702810632060002273 
                br
                | Филиал «Санкт-Петербургский» ОАО «АЛЬФА-БАНК», Санкт-Петербург 
                br
                | к/с 30101810600000000786 
                br
            tr
              td(colspan='2') БИК 044030786
            tr
              td ИНН 7814473312
              td КПП 783901001
            tr
              td ОКАТО 40270567000
              td ОКПО 67395858
            tr
              td ОКТМО 40327000
              td ОКОГУ 49013
            tr
              td ОКФС 16
              td ОКОПФ 65
            tr
              td ОГРН 1107847221547
              td
