extends /blocks/layout/layout


block content
  .container
    .content
      +grid
        +grid__item({'m':9,'xs':12})
          p В компании работают десятки сотрудников: это и производственный отдел, и мастера по наращиванию, и специалисты по продажам, администраторы. В этом разделе мы познакомим вас с сотрудниками, которых вы увидите, придя к нам в гости.
          h2 Основатель компании
          div(itemscope itemtype="http://schema.org/ImageObject")
            p(itemprop="description")
              strong(itemprop="name") Ольга Владимировна Лейтес
              |  — основатель и директор торгово-производственной компании Волосы 24. Вложила много знаний и усилий в создание и развитие компании, чтобы выйти на сегодняшний уровень.
            p В 2006 году Ольга Владимировна со своей напарницей решили освоить новую профессию и обучиться постижерному искусству. Обучившись за границей и вернувшись в Россию, принялись за изготовление продукции из натуральных волос: париков, накладок и систем волос для людей, страдающих облысением. Этот бизнес создавался для души и он до сих пор работает совместно с другим брендом "Центр Дизайна Волос", который был основан ранее Ольгой Владимировной.
            p В 2008 году в связи с появлением большого спроса на горячее наращивание волос у российских девушек, было принято решение выделить это направление в отдельный бизнес. Так появилась компания "Волосы 24".
            +grid({'align':'center'}).staff-head
              +grid__item({'m':5,'xs':12}).staff-head__photo
                img(src='/images/staff/leytes.jpg', alt='Ольга Владимировна Лейтес', title='Ольга Владимировна Лейтес' itemprop="contentUrl" )
              +grid__item({'m':6,'xs':12}).staff-head__text
                blockquote «Сегодня я могу с гордостью сказать, что мастера по наращиванию и салоны красоты по достоинству оценили наши усилия произвести продукцию высокого качества для российских клиенток. Волосы нашего бренда используют мастера по наращиванию и за пределами России. Более половину наших производственных объемов мы отправляем ежемесячно европейским оптовикам и в страны Ближнего Востока, и это заставляет нас держать высокую планку качества волос, окраски и капсуляции. Нам приходится делать всё возможное для того, чтобы конкурировать с итальянскими, шведскими и другими производителями ЕЭС.»
                cite Ольга Владимировна
          h2 Специалисты по оптовым и розничным продажам
          p
            | Наши девушки с радостью ответят на все имеющиеся у Вас вопросы. Хорошо разбираются в продукции, соберут заказ и отправят удобным для Вас способом.
          +grid.staff-specialist(itemscope itemtype="http://schema.org/ImageObject")
            +grid__item({'m':4,'xs':12}).staff-specialist__photo
              img(src='/images/staff/tipikina.jpg', alt='Типикина Юлия', title='Типикина Юлия' itemprop="contentUrl")
            +grid__item({'m':8,'xs':12}).staff-specialist__text
              .staff-specialist__title.staff-specialist__title--eng(itemprop="name") Типикина Юлия
              p(itemprop="description") Работает с розничными клиентами и с иностранными клиентами (англоговорящими). Вдумчивый, спокойный и внимательный человек, который всегда вас выслушает и сделает все возможное, чтобы вы остались довольными сотрудничеством с компанией “Волосы 24”.
          +grid.staff-specialist(itemscope itemtype="http://schema.org/ImageObject")
            +grid__item({'m':4,'xs':12}).staff-specialist__photo
              img(src='/images/staff/dorozhkova.jpg', alt='Дорожкова Дарья', title='Дорожкова Дарья' itemprop="contentUrl")
            +grid__item({'m':8,'xs':12}).staff-specialist__text
              .staff-specialist__title(itemprop="name") Дорожкова Дарья
              p(itemprop="description") Наш “видео-блогер” и лицо компании. Дарья работает в компании с 2015 года. За это время она заключила огромное количество договоров по сотрудничеству с оптовыми клиентами по всей России. Всегда улыбчивая и доброжелательная, Даша никогда не откажет вам в помощи или совете в своей профессиональной области.
          h2 Мастера по наращиванию волос
          p Работают сертифицированные мастера-парикмахеры с многолетним опытом. Владеют техниками капсульного, ленточного и голливудского наращивания волос. При необходимости предварительно окрасят ваши волосы. После наращивания придадут форму и сделают укладку.
          +grid.staff-masters
            +grid__item({'m':3,'xs':6}).staff-masters__item(itemscope itemtype="http://schema.org/ImageObject")
              img.staff-masters__image(src='/images/hair-extention/masters-bogdanova.jpg', alt='Ирина Богданова', title='Ирина Богданова' itemprop="contentUrl")
              p
                strong Ирина Богданова
              p(itemprop="description") Типы наращивания:
              ul.list-marked(itemprop="description")
                li голливудское
                li капсульное
                li ленточное
            +grid__item({'m':3,'xs':6}).staff-masters__item(itemscope itemtype="http://schema.org/ImageObject")
              img.staff-masters__image(src='/images/hair-extention/masters-ivanova.jpg', alt='Иванова Дарья', title='Иванова Дарья' itemprop="contentUrl")
              p
                strong Иванова Дарья
              p Типы наращивания:
              ul.list-marked
                li голливудское
                li капсульное
                li ленточное
            +grid__item({'m':3,'xs':6}).staff-masters__item(itemscope itemtype="http://schema.org/ImageObject")
              img.staff-masters__image(src='/images/hair-extention/masters-smirnova.jpg', alt='Екатерина Смирнова', title='Екатерина Смирнова' itemprop="contentUrl")
              p
                strong Екатерина Смирнова
              p Типы наращивания:
              ul.list-marked
                li капсульное
                li ленточное
            +grid__item({'m':3,'xs':6}).staff-masters__item(itemscope itemtype="http://schema.org/ImageObject")
              img.staff-masters__image(src='/images/hair-extention/masters-mihaylova.jpg', alt='Наталья Михайлова', title='Наталья Михайлова' itemprop="contentUrl")
              p
                strong Наталья Михайлова
              p Типы наращивания:
              ul.list-marked
                li капсульное
                li ленточное
          h2 Ответственный за производство
          p
            img(src='/images/staff/leytes-p.jpg', alt='Лейтес Павел Борисович', title='Лейтес Павел Борисович', style='max-width: 100%' itemprop="contentUrl")
          p
            strong Лейтес Павел Борисович
            |  — руководит производственным процессом на нашем заводе, отвечает за вопросы  качества продукции, исполнения заказов и т.п. К Павлу можно обращаться по вопросам окрашивания сырья.
          h2 Сотрудники рассказывают о работе компании
          p
            | Посмотрите промо ролик компании. Наши сотрудники рассказывают о компании, ассортименте продукции, процессе производства, а также о наших гарантиях.
          +youtube-responsive(eanpNxnXNLo)
          h2 Что еще интересного из жизни компании
          +grid.staff-other
            +grid__item({'m':4,'xs':12}).staff-other__item
              a(href='/o-kompanii/garantii/')
                img.staff-other__image(src='/images/staff/other-1.jpg', alt='', title='')
                p Как мы придумали гарантийную коробочку (по закону РФ гарантии нет)
            +grid__item({'m':4,'xs':12}).staff-other__item
              a(href='/o-kompanii/proizvodstvo-kompanii-volosy-24/')
                img.staff-other__image(src='/images/staff/other-2.jpg', alt='Как мы производим волосы для наращивания', title='Как мы производим волосы для наращивания')
                p Как мы производим волосы для наращивания
            +grid__item({'m':4,'xs':12}).staff-other__item
              a(href='/obuchenie/obuchenie-narashchivaniiu-volos/')
                img.staff-other__image(src='/images/staff/other-3.jpg', alt='Как обучаем наращиванию волос', title='Как обучаем наращиванию волос')
                p Как обучаем наращиванию волос
