.training-details
  ul
    list-style none
  &__list
    counter-reset trainingCoursesDetailsList
    > li
      counter-increment trainingCoursesDetailsList
  &__item
    position relative
    padding (basePadding*2)
    margin-bottom (basePadding*2)
    background url('/images/obuchenie/bg.png')
    border-top 0.25rem solid #ad0a31
    @media screen and (max-width point-m)
      margin-x (-(basePadding))
      padding-x basePadding
  &__count
    position absolute
    top 0
    right 0
    display block
    padding  0 basePadding (basePadding/5)
    font-size font-l
    line-height line-l
    color #fff
    background-color #ad0a31
    border-radius 0 0 0 0.25rem
    &::after
      content counter(trainingCoursesDetailsList)
      font-size font-xxxl
      font-weight bold
      margin-left 0.25rem
  &__title
    margin-top 0
  &-gallery
    display flex
    margin-bottom (basePadding*2)
    padding-x basePadding
    &__image
      padding basePadding
      margin-x basePadding
      background-color #ffffff
      border 1px solid #dab686
      @media screen and (max-width point-m)
        margin-bottom basePadding
      img
        margin 0
        display block
        width 100%
  &__description
    margin-bottom basePadding
  &__section
    margin-bottom (basePadding*2)
    h3
      font-weight normal
      background #fff
      border 2px solid #ad0a31
      display flex
      span
        display inline-block
        padding 0 (basePadding/2)
        margin-right (basePadding/2)
        text-align center
        width 6rem
        color #fff
        background-color #ad0a31
    h4:first-child
      margin-top 0
      margin-bottom 0.5625rem
  &__subsections
    margin-bottom 24px
  &__subsection
    margin-bottom 24px
    ul
      padding-left 24px
      list-style disc
    li
      line-height 22px
  &__sertificate
    text-align center
