.footer-address
  .footer-address__item
    b г. Санкт-Петербург,
    | <br>наб. Обводного канала д.&nbsp;108
    | <br>ежедневно с 10 до 21
  .footer-address__item
    b г. Москва:
    | <br>Средний Тишинский пер., д.&nbsp;10
    | <br>Пн.-Пт.: 11.00-19.00,<br>Сб.-Вс.: 11.00-17.00
