.banner-schedule
  text-decoration none!important
  background-image url(../images/banner-schedule/bg.webp)
  background-repeat no-repeat
  background-position center
  background-size cover
  &__title
    color #ad0a31
