.banner-march
  &.content
    padding 2rem 2rem 2rem 4.8rem
  display flex
  flex-direction column
  align-items flex-start
  @media(max-width point-m - 1)
    &.content
      padding 2rem 1.25rem 2rem 4.5rem
  @media(max-width point-s - 1)
    &.content
      padding 2rem 1.25rem 2rem 3.5rem
  &__duration
    margin-bottom 1rem
    font-size 1rem
    font-weight 700
    @media(max-width point-m - 1)
      margin-bottom 0.5rem
  &__promocode
    position relative
    padding-right 0.3rem
    font-weight 700
  &__clarification
    margin-bottom 3.25rem
    margin-left 1rem
    font-size 1.5rem
    line-height 1.5
    @media(max-width point-m - 1)
      margin-bottom 2rem
      font-size 1.25rem
    & span
      font-weight 700
