.header-main-top
  border 1px solid #dab686
  border-top none
  display flex
  align-items center
  margin 0 -0.75rem
  justify-content space-between
  &__item
    padding 0.75rem
  &__address
    font-size 0.8rem
    line-height 1.2rem
    text-align center
