.hair-extention-section.hair-extention-preparation
  h2.hair-extention-subheader Подготовительный этап наращивания
  +grid
    +grid__item({'m':6,'xs':12}).hair-extention-preparation__item
      h3 Очищение волос и кожи головы
      p Перед наращиванием, мастер обязательно хорошо промоет ваши волосы и кожу головы. Будет использоваться шампунь глубокой очистки. Необходимо полностью удалить все остатки салоотделения, обезжирить кожу и прикорневую часть волос, к которой будут прикрепляться капсулы или ленты.
    +grid__item({'m':6,'xs':12}).hair-extention-preparation__item
      h3 Обновление цвета собственных волос
      p Если вы регулярно окрашиваете ваши собственные волосы, то желательно до процедуры наращивания обновить цвет ваших собственных волос. Чтобы между вашими собственными волосами и наращенными переход не был заметен, то цвет добавляемых волос должен полностью соответствовать вашему.
  +grid
    +grid__item({'m':6,'xs':12}).hair-extention-preparation__item
      h3 Выбор длины для наращивания волос
      p При выборе длины надо учитывать несколько факторов:
      ul.list-marked
        li исходная длина
        li исходная густота своих волос
        li ваш рост (из эстетических соображений)
        li образ жизни (длинные волосы требуют больше времени для ухода)
      p.hair-extention-preparation__subtitle Если свои волосы до плеч:
      p
        strong При капсульном наращивании:
      p Если свои волосы до плеч, а вы хотите волос ниже талии, надо будет выбрать пряди разных длин, чтобы переход от коротких волос к длинных был постепенным, естественным. Чем больше разница в длине между своими волосами и желаемым результатом, тем больше прядей придется нарастить - возможно, более 200.
      p
        strong При ленточном наращивании:
      ul.list-marked
        li Данный метод наращивания позволяет увеличить длины волос от 40 и до 70 см.
        li Если свои волосы короткие и густые, а концы ровные, то потребуется большое количество волос на лентах
        li Если волосы средней длины и концы профилированы, в этом случае можно выбрать длинные волосы для наращивания
        li Важно помнить, что чем больше разница между вашими  родными и нарощенными волосами, тем большее количество волос может потребоваться
      p
        strong При голливудском наращивании:
      ul.list-marked
        li Если волосы густые, то вам может понадобиться в среднем 100-140 грамм волос
        li Если концы отфилированы, то в среднем нужно будет 60-100 грамм волос
        li Если волосы негустые, то в среднем потребуется 40-90 грамм волос
        li Размеры и густота трессов определяется мастером индивидуально под вас
    +grid__item({'m':6,'xs':12}).hair-extention-preparation__item
      h3 Подсчет капсул, лент и тресс которое необходимо
      p Количество капсул, лент и тресс которое необходимо в вашем конкретном случае, зависит от нескольких факторов:
      ul.list-marked
        li густота ваших собственных волос
        li типа стрижки
        li желаемый результат
      p.hair-extention-preparation__subtitle Если вы носите стрижку "каре":
      p
        strong При капсульном наращивании
        |  - вам понадобится:
      ul.list-marked
        li если волосы густые, то вам потребуется от 160 прядей
        li если концы ваших волос отфилированы, то вам потребуется от 100 до 140 прядей
        li если волосы тонкие и ослабленные, то вам потребуется от 80 до 100 прядей
      p
        strong При ленточном наращивании:
      ul.list-marked
        li Если волосы негустые, и вы наращиваете волосы для объема, то может потребоваться в среднем около 20 лент
        li При средней густоте волос и не слишком густых кончиках своих волос, вам может потребоваться около 40 лент
        li Если волосы густые, то может потребоваться больше 40 лент
      p
        strong При голливудском наращивании:
      ul.list-marked
        li В случае, если Ваши волосы негустые, и вы наращиваете волосы для объема, тогда может потребоваться 1 или 2 тресса общим весом 40-70 гр.
        li Если волосы не очень густые и кончики профилированы, может потребоваться 1-2 тресса, общим весом 50-100 грамм
        li Когда свои волосы густые и хочется удлинить, нужно в среднем 2 тресса весом 80-130 грамм
