.aside-menu
  margin-bottom (basePadding*2)
  a
    text-decoration none
    transition color .4s, text-decoration .4s
    &:hover
      text-decoration underline
  &__list
    margin-bottom font-xs
    font-size font-s
    line-height line-s
    & ^[-1]__item
      margin-bottom (font-xs)
    &--sub
      margin-top (font-xs/4)
      & ^[-2]__item
        margin-bottom (font-xs/4)
  &__item
    margin-bottom (font-xs/4)
    list-style none
    padding-left (basePadding)
    position relative
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 0
      height 0
      border 0.25rem solid transparent
      border-left 0.25rem solid #cccccc
      transform translateY(75%)
    &&--hidden
      display none
    &--active
      > a
        font-weight bold

    
