mixin aside-menu(menu = {})

  .aside-menu
    +aside-header({'title':menu.name}).aside-menu__title
    ul.aside-menu__list
      each item in menu.items
        -
          const itemClass = [
            'aside-menu__item',
            item.hidden ? 'aside-menu__item--hidden' : '',
          ]
        li(class != itemClass)
          a(href= item.url) !{item.name}
          if item.children
            ul.aside-menu__list.aside-menu__list--sub
              each child in item.children
                -
                  const subItemClass = [
                    'aside-menu__item',
                    child.hidden ? 'aside-menu__item--hidden' : '',
                  ]
                li(class != subItemClass)
                  a(href= child.url) !{child.name}
