.master-info
  &__announcement
    position relative
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    column-gap 2rem
    margin-top 1rem
    padding 2rem
    background-color #f9eadd75
    z-index -1
    @media(min-width point-m)
      margin-left -2rem
    @media(min-width point-s)
      .list-marked
        margin-bottom 0
  &__experience
    position relative
    margin-right 5rem
    text-align center
    @media(max-width point-m - 1)
      margin 0 auto
    z-index 1
  &__year
    margin-y 0.25rem
    font-size 2.5rem
    line-height 1
    font-weight 700
    color #a05d5a
    @media(max-width point-s - 1)
      transform scale(.7)
  &__image
    @media(max-width point-s - 1)
      order 2
