.product-recommended
  --slider-arrow-color #b81f33
  --slider-arrow-color-hover #b81f33b1
  &__inner
    display flex
    flex-direction column
    flex-grow 1
    padding-top 1rem
    padding-x 0.75rem
    @media(max-width point-s - 1)
      padding-top 0.5rem
  &__description
    margin-bottom 1rem
    font-size 0.875rem
    line-height 1.2
    @media(max-width point-s - 1)
      margin-bottom 0.5rem
  &__link
    font-weight 700
    color #222
    text-decoration none
    &:hover 
      color #b81f33
  &__features
    display flex
    align-items center
    column-gap 1.25rem
    margin-bottom 1rem
    @media(max-width point-l - 1)
      flex-direction column
      align-items flex-start
      row-gap 0.8rem
    @media(max-width point-s - 1)
      row-gap 0.625rem
      margin-bottom 0.75rem
  &__color-block
    display flex
    align-items center
    gap 0.5rem
  &__length
  &__color
  &__clarification
    font-size 0.875rem
    line-height 1.2
    font-weight 700
    color #7D7D7D
    @media(max-width point-s - 1)
      font-size 0.75rem
      line-height 1
  &__length
    position relative
    padding-left 1.875rem
    white-space nowrap
    &::before
      position absolute
      top -1px
      left 0
      content ''
      width 1.5rem
      height 1.5rem
      mask-image url(../images/svg-sprites/inner.svg#arrows)
      mask-repeat no-repeat
      mask-size cover
      mask-position center
      background-color #7D7D7D
      @media(max-width point-s - 1)
        top 0
        width 1rem
        height 1rem
  &__clarification
    width 50%
    margin-left auto
    font-size 0.75rem
    line-height 1.3
    text-align right
    @media(max-width point-l - 1)
      width 100%
      text-align left
  &__price-block
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between
    column-gap 0.5rem
    row-gap 0.2rem
    margin-bottom 1rem
  &__price
    font-size 1.25rem
    line-height 1
    font-weight 700
    color #222222
    text-align center
    white-space nowrap
    @media(max-width point-l - 1)
      text-align left
  &__availability
    margin-bottom 0
    font-size 0.75rem
    line-height 1.3
    font-weight 700
    color #008000
  &__image 
    & img
      display block
      width 100%
      aspect-ratio 266/190
      object-fit contain
    @media(min-width point-l)
      clip-path inset(0.75rem 0.75rem 0 0.75rem)
      transition clip-path 0.4s ease-in-out
    @media(max-width point-l - 1)
      padding-top 0.75rem
      padding-x 0.75rem
  &__buy
    display flex
    align-items center
    gap 1rem
    justify-content center
    margin-top auto
    padding-x 0.75rem
    padding-bottom 1.25rem
    @media(max-width point-l - 1)
      flex-wrap wrap
    @media(max-width point-s - 1)
      row-gap 0.75rem
  &__value
    display flex
    align-items center
    column-gap 0.25rem
  &__change
    position relative
    display block
    padding 0
    width 1.5rem
    height 1.5rem
    border none
    background-color transparent
    transition opacity .4s
    @media(max-width point-l - 1)
      width 2rem
      height 2rem
    &:hover
      opacity 0.75
      transition-duration 0.1s
    &:active
      opacity 1
      transition-duration 0.1s
    &::before
      position absolute
      content ''
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 0.75rem
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      background-color #222222  
    &--dec
      &::before
        height 0.125rem
        mask-image url(../images/svg-sprites/inner.svg#minus)
    &--inc
      &::before
        height 0.75rem
        mask-image url(../images/svg-sprites/inner.svg#plus)
  &__field
    padding 0.375rem
    width 2.75rem
    font-weight 700
    text-align center
    border 1px solid #CCCCCC
    border-radius 2px
    &::-webkit-outer-spin-button
    &::-webkit-inner-spin-button
      -webkit-appearance none
    &
    &:hover
    &:focus 
      appearance none
      -moz-appearance textfield
  &__button
    width 100%
    padding 0.5rem 0.8rem
  & .slider__wrapper
    padding-top 5px
  &__slide.swiper-slide
    position relative
    display flex
    flex-direction column
    height 100%
    transition transform 0.3s ease-in-out
    &::before
      content ''
      position absolute
      inset 0
      bottom 2px
      box-shadow 0px 0px 0px 1px #ccc inset
      z-index -1
    &.swiper-slide-visible + &.swiper-slide-visible
      &::before
        margin-left -1px
    @media(min-width point-l)
      &:hover
        transform translateY(-5px)
        transition-duration 0.2s
        & .product-recommended__image
          clip-path inset(1px 1px 0 1px)
          transition clip-path 0.2s ease-in-out
