.article-announcement
  &__image
    float left
    width 12rem
    max-height 12rem
    margin-right 1.5rem
    margin-bottom 1.5rem
    display flex
    align-items flex-start
    justify-content center
    position relative
    &--border
      img
        border 1px solid #f0f0f0
    @media screen and (max-width point-s)
      float none
      margin-right 0
      max-width 100%
    a&::after
      content ''
      position absolute
      bottom basePadding
      right basePadding
      width 1.5rem
      height 1.5rem
      display block
      background url('../images/zoom-in.svg')
      background-size contain
      filter invert(1) drop-shadow(0 0 2px #2d2d2d)
    img
      max-width 100%
      max-height 12rem
      display block
      margin-x auto
  &::after
    content ''
    display block
    clear both
