.hair-extention-contacts
  &__row
    background-color #f7f7f7
  &__map
    padding 0.6666rem
    background-color #fff
    border 2px solid #dab686
    margin-left -(basePadding)
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
      margin-right (-(basePadding))
    img
      display block
      width 100%
  &__phone
    font-size font-xxxl
    white-space nowrap
  &__entrance
    position relative
    border 5px solid #fff
    box-shadow 0 0 basePadding rgba(0,0,0,.1)
    margin-y basePadding 
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
      margin-x (-(basePadding))
    img
      display block
      width 100%
    span
      position absolute
      right 0
      bottom 0
      padding  0 8px 0 16px
      font-family fontHeader
      font-size font-l
      font-style italic
      line-height line-l
      background-color #fff
      border-radius 0.3333rem 0 0 0
