.wholesale-header
  h1 Оптовая продажа славянских волос для наращивания
  +grid({'align':'center'})
    +grid__item({'m':10,'xs':12})
      .wholesale-header__subheader Цена от производителя с оптовой скидкой
      .wholesale-header__clarification В зависимости от суммы покупки предоставляются различные оптовые скидки от 25% до 35%.
    +grid__item({'m':2,'xs':12}).wholesale-header__price
      a(href='#getprice').btn Скачать прайс
