include ../action-banner/action-banner

-
  var slides = [
    {
      'title':'Акция на карду для работы с волосами',
      'info':'',
      'clarification':'',
      'class':'aktsiya-na-kardu-dlya-raboty-s-volosami',
      'countDate':'2020, 02, 01',
      'countNum':'4',
      'background':'aktsiya-na-kardu-dlya-raboty-s-volosami'
    },
    {
      'title':'Подарок при покупке от 15000 руб.',
      'info':'',
      'clarification':'',
      'class':'podarok-pri-pokupke-ot-15000-rub',
      'countDate':'2020, 02, 01',
      'countNum':'5',
      'background':'podarok-pri-pokupke-ot-15000-rub'
    },
    {
      'title':'Распродажа инструментов для наращивания волос',
      'info':'',
      'clarification':'',
      'class':'rasprodazha-instrumentov-dlya-narashchivaniya-volos',
      'countDate':'2020, 02, 01',
      'countNum':'6',
      'background':'rasprodazha-instrumentov-dlya-narashchivaniya-volos'
    },
    {
      'title':'Скидка 25% на волосы для наращивания',
      'info':'',
      'clarification':'',
      'class':'skidka-25-na-volosy-dlya-narashchivaniya',
      'countDate':'2020, 02, 01',
      'countNum':'7',
      'background':'skidka-25-na-volosy-dlya-narashchivaniya'
    },
  ]
.home-slider.js-slider
  //- ul.home-slider__list.fotorama(data-width='100%' data-ratio='1064/288')
  ul.home-slider__list.js-slider__list
    each slide in slides
      li.home-slider__item.js-slider__item
        +action-banner(slide)
    li.home-slider__item.js-slider__item.banner-tapes
      +grid({ nopadding:true }).banner-tapes__grid
        +grid__item({ m:12 }).banner-tapes__inner.header-contacts
          +img({
            name: 'action-1',
            path: '/images/banner-tapes/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
          })(alt= 'Акция' ).banner-tapes__action-image
          .banner-tapes__promo
            .banner-tapes__discount #[span 45] #[span ₽]
            .banner-tapes__text вместо 55&nbsp;₽ за&nbsp;капсулу за&nbsp;наращивание от&nbsp;ТОП&nbsp;мастера Елены #[strong до&nbsp;конца месяца]!
          .banner-tapes__clarification Нарасти роскошные натуральные волосы мечты быстро и абсолютно незаметно
          a(href='tel:+79817245628').banner-tapes__phone.header-contacts__phone +7 (981) 724-56-28
          a(onclick="Comagic.openSitePhonePanel()").button.banner-tapes__button Заказать обратный звонок

        //- +grid__item({ m:12 })
          +img({
            name: 'tapes-1',
            path: '/images/banner-tapes/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Ленты' ).banner-tapes__image
