.product-main
  padding (basePadding*2) (basePadding*2) 0
  background-color #f9f3e3
  &__header
    font-size 1.4rem
    line-height 2.1rem
    margin-bottom 0.5rem
    margin-top 1.75rem
    font-family fontHeader
    &:first-child
      margin-top 0
  .btn
    padding .5rem 2rem
