include /blocks/slider/slider

.product-gallery(id="our-hair-irl" data-anchors="hidden" data-startAnimation="false" data-leftAlign="false")
  +slider.product-gallery__slider
    - for(let i=0; i<6; i++)
      +slide.product-gallery__slide
        a(href="/images/our-hair-irl/our-hair-irl-19.jpg" data-fancybox="our-hair-irl")
          img(src="/images/our-hair-irl/our-hair-irl-19.jpg" alt="Наши волосы в реальной жизни" title="Наши волосы в реальной жизни") 
