.header-address
  align-self stretch
  padding basePadding
  margin-left auto
  min-width 16rem
  p
    font-size font-xs
    line-height line-xs
    text-align center
    margin-bottom 0
    // a
    //   display inline-block
    //   margin-bottom .375rem
    //   font-size font-m
  &__city
    display inline-block
    margin-bottom .375rem
    font-size font-m
    font-weight 700
    color #cb072f
  &__tabs
    display flex
    font-size font-s
    margin-bottom (basePadding/4)
  &__tab
    margin-right basePadding
    padding (basePadding/3) (basePadding/2)
    border 1px solid transparent
    flex-shrink 0
    &:last-child
      margin-right 0
    @supports (text-decoration-style dashed)
      text-decoration underline
    &--active
      border 1px solid #dab686
      @supports (text-decoration-style dashed)
        text-decoration none
  &__contents
    margin-y auto
  &__item
    display none
    font-size font-xs
    line-height line-xs
    &--active
      display block
