mixin listFeatures(arg = {list, settings})
  -
    var settings = arg.settings
    let xsWidth = 12
    let hdWidth
    let xlWidth
    let lWidth
    let mWidth
    let sWidth
  if settings
    if settings.cols
      if settings.cols.hd
        - hdWidth = 12/settings.cols.hd
      if settings.cols.xl
        - xlWidth = 12/settings.cols.xl
      if settings.cols.l
        - lWidth = 12/settings.cols.l
      if settings.cols.m
        - mWidth = 12/settings.cols.m
      if settings.cols.s
        - sWidth = 12/settings.cols.s
      if settings.cols.xs
        - xsWidth = 12/settings.cols.xs
  if attributes.class === undefined
    - attributes.class = ''
  .list-features(class= attributes.class)&attributes(attributes)
    +grid({'tag':'ul'}).list-features__list
      each item in arg.list
        +grid__item({'tag':'li','hd':hdWidth,'xl':xlWidth,'l':lWidth,'m':mWidth,'s':sWidth,'xs':xsWidth}).list-features__item
          if item.title
            .list-features__item-title !{item.title}
          if item.body
            .list-features__item-body !{item.body}
