mixin table-price(table)
  
  table.table-price
    if table.header
      tr.table-price__row
        each item in table.header
          th.table-price__cell.table-price__cell--header !{item}
    each row in table.rows
      tr.table-price__row
        each item in row
          td.table-price__cell !{item}
      
