.banner-feedback
  background url(../images/banner-feedback/banner_s.webp)
  background-repeat no-repeat
  background-size cover
  background-position center
  @media(min-width point-m)
    background url(../images/banner-feedback/banner_m.webp)
    background-repeat no-repeat
    background-size cover
    background-position center
  &__inner
    text-align center
    @media(min-width point-s)
      text-align left
  &__title
    &::after
      top calc(100% + 8px)
      left 50%
      transform translateX(-50%)
      content '– 5%'
      display flex
      justify-content center
      width 131px
      padding-block 4px
      font-size 44px
      rotate -10deg
      color #ffffff
      background-color #AE0A31
      @media(min-width point-s)
        top -10px
        left calc(100% + 30px)
        transform unset
