.banner-feedback
  &__inner
    display flex
    flex-direction column
    align-items center
    padding-block 40px
    padding-inline 0
    @media(min-width point-s)
      align-items flex-start
    @media(min-width point-m)
      padding-left 40px
      padding-block 110px 148px
    @media(min-width point-l)
      padding-left 96px
      padding-block 110px 148px
  &__title
    position relative
    margin-bottom 120px
    font-size 30px
    font-weight 700
    text-transform uppercase
    @media(min-width point-s)
      margin-bottom 40px
    &::after
      position absolute
  &__text
    margin-bottom 20px
    font-size 20px
    font-weight 600
