.wholesale-properties
  +grid
    +grid__item({'s':6,'xs':12}).wholesale-properties__item
      .wholesale-properties__title Выберите тип волос
        a(href='#product-choose-category').wholesale-properties__link ?
      select(name='customPrice[][18]').wholesale-properties__select
        option(value='8723') на капсуле (люкс)
        option(value='8724') на капсуле (премиум)
        option(value='') в срезе (люкс)
        option(value='') в срезе (премиум)
    +grid__item({'s':6,'xs':12}).wholesale-properties__item
      .wholesale-properties__title Количество упаковок
      .product-quantity
        .product-quantity__counter
          input(type='button' value='-').quantity-controls.quantity-minus
          input(id='quantity_box' type='text' name='quantity[]' value='1').quantity-input
          input(type='button' value='+').quantity-controls.quantity-plus
        .product-quantity__desc цена указана за&nbsp;упаковку (100&nbsp;г)
    +grid__item({'s':6,'xs':12}).wholesale-properties__item
      .wholesale-properties__title Выберите длину
        a(href='#product-choose-length').wholesale-properties__link ?
      select(name='customPrice[][18]').wholesale-properties__select
        option(value='8723')  40см. (9680р.) 
        option(value='8724')  45см. (10120р.) 
    +grid__item({'s':6,'xs':12}).wholesale-properties__item
      .wholesale-properties__title Ваша скидка
      select(name='customPrice[][18]').wholesale-properties__select
        option(value='8723') 12%
        option(value='8723') 15%
        option(value='8724') 20%
  .wholesale-properties__item
    .wholesale-properties__title Выберите цвет
      a(href='#product-choose-color').wholesale-properties__link ?
    .wholesale-properties__color-list
      .wholesale-properties__main-color 
        .other-customfield
          span(data-tooltip= 'светлый блонд пепельный').other-customfield-dec
          img(src= '/images/stories/virtuemart/palette/1.jpg')
        +textMarked({ tag:'span', size:'xs' }).text-align--center светлый блонд пепельный
      .wholesale-properties__list
        -
          var colors = [
            '1','1B','2','3','3B','4','4B','5','5B','6',
            '8','10','12','16','16B','18','19','20','20B','22',
            '22B','24','24B','28','33','33B','61','71B','77','81',
            '81B','83','87','88','810','91','903','97','135','135B',
            '201','602','613','100','000','110','110B','220','330','440',
            '550','660','990'
          ]
        each color, index in colors
          - var image = '/images/stories/virtuemart/palette/' + color + '.jpg'
          label.other-customfield
            if index === 0
              input(checked='checked' type='radio' value='8678' name='customPrice[0][22]')
            else
              input(type='radio' value='8678' name='customPrice[0][22]')
            span(data-tooltip= 'светлый блонд пепельный').other-customfield-dec
            img(src= image)
            //- span.vm-img-desc !{color}
            span.customPrice
