.wholesale-properties
  &__item
    margin-bottom (basePadding*1.5)
  &__title
    display flex
    column-gap .375rem
    font-size font-m
    line-height line-m
    margin-bottom 0.5rem
    font-weight bold
  &__list
    position relative
    display flex
    flex-wrap wrap
    align-content flex-start
    gap 0.5rem
    padding-bottom 1rem
    @media(max-width point-s - 1)
      grid-column 1/-1
      grid-row 2/3
    .other-customfield
      display flex
      flex-direction column
      align-items center
      position relative
      width 30px
      height 30px
      input[type='radio']
        display none
        &:checked ~ .other-customfield-dec
          box-shadow 0 0 5px 1px #FF3300
          display block
      .vm-img-desc
        font-size font-xs
        line-height line-xs
      @media(max-width point-m - 1)
        width 44px
        height 44px
  &__color-list
    display grid
    grid-template-columns min-content 1fr
    grid-template-rows repeat(2,min-content)
    gap 1.5rem
  &__main-color
    display flex
    flex-direction column
    align-items flex-start
    row-gap 0.25rem
    width min-content
    & .other-customfield
      width 90px
      height 90px
    img
      width 100%
    @media(max-width point-s - 1)
      grid-column 1/-1
      grid-row 1/2
  &__link
    display inline-block
    padding-x 0.5rem
  .other-customfield-dec
    position absolute
    width 34px
    height calc(100% + 0.25rem)
    top -2px
    left -2px
    @media(max-width point-m - 1)
      left 0
      width 44px
      height 44px
