.hair-extention
  &-types
    /*h2
      margin-bottom 24px
      text-align center
      font-family 'Georgia', 'Times New Roman', serif
      font-size 24px
      font-weight bold
      line-height 30px*/
  &-type
    h3
      text-align center
      background-color #f1e7d3
      border-radius 0.25rem 0.25rem 0 0
      margin-bottom 0
      padding (basePadding*2)
    &__inner
      margin-bottom (basePadding*2)
      padding (basePadding*2)
      border 1px solid #dab686
    &__description
      margin-bottom basePadding
    &__clarification
      margin-bottom basePadding
      padding basePadding 0
      font-family fontHeader
      font-size font-l
      line-height line-l
      font-style italic
      border-top 1px solid #dab686
      border-bottom 1px solid #dab686
    &__image
      margin-bottom (basePadding*2)
      img
        width 100%
    &__time
      padding-left 64px
      font-size font-l
      line-height (line-l*2)
      color #423231
      background url('/images/hair-extention/clock.png') no-repeat center left
      
