@font-face
  font-family 'Fira Sans'
  src url("../fonts/FiraSans-SemiBold.woff") format("woff")
  font-weight 600
  font-style normal
  font-display swap

@font-face
  font-family 'Fira Sans'
  src url("../fonts/FiraSans-Regular.woff") format("woff")
  font-weight 400
  font-style normal
  font-display swap

@font-face
  font-family 'Fira Sans'
  src url("../fonts/FiraSans-MediumItalic.woff") format("woff")
  font-weight 500
  font-style italic
  font-display swap
  
@font-face
  font-family 'Helvetica Neue Cyr'
  src url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff")
  font-weight 700
  font-style normal
  font-display swap

.banner-new-year
  display flex
  flex-direction column
  justify-content center
  height 586px
  font-family 'Fira Sans', Arial, Helvetica, sans-serif
  color #FFFFFF
  background-image image-set(url('../images/banner-new-year/banner-new-year_l.webp') 1x, url('../images/banner-new-year/banner-new-year_l@2x.webp') 2x)
  background-repeat no-repeat
  background-position center
  background-size cover
  background-color #E3D4B7
  overflow hidden
  @media(min-width point-l)
    padding-left 6.8rem
  @media(max-width point-l - 1)
    height auto
    padding-left 4.8rem
    background-image image-set(url('../images/banner-new-year/banner-new-year_m.webp') 1x, url('../images/banner-new-year/banner-new-year_m@2x.webp') 2x)
    aspect-ratio 1/0.53
  @media(max-width point-m - 1)
    padding-left 3rem
    background-image image-set(url('../images/banner-new-year/banner-new-year_s.webp') 1x, url('../images/banner-new-year/banner-new-year_s@2x.webp') 2x)
    aspect-ratio 1/0.54
  @media(max-width point-s - 1)
    padding-left 0.75rem
    aspect-ratio 1/0.8
  &__inner
    position relative
    z-index 0
    &::before
      position absolute
      content ''
      left -330px
      width 993px
      aspect-ratio 1/0.26
      background radial-gradient(50% 50% at 50% 50%, #BCA188 0%, rgba(188, 161, 136, 0) 100%)
      border-radius 50%
      z-index -1
      @media(max-width point-l - 1)
        left -210px
        width: 702px
      @media(max-width point-m - 1)
        top 13%
        left -133px
        width 439px
      @media(max-width point-s - 1)
        top -12%
        left -100px
        width 351px
        aspect-ratio 1/0.5
  &__title
    margin-bottom 0.75rem
    font-family 'Fira Sans', 'Times New Roman', Times, serif
    font-size 1.8rem
    line-height 1.2
    font-weight 500
    font-style italic
    color #E3D4B7
    @media(max-width point-l - 1)
      margin-bottom 0.5rem
      font-size 1.25rem
    @media(max-width point-m - 1)
      font-size 0.8rem
    & span 
      font-size 2.2rem
      @media(max-width point-l - 1)
        font-size 1.6rem
      @media(max-width point-m - 1)
        font-size 1rem
  &__discount
    margin-bottom 0.875rem
    font-size 3.125rem
    font-weight 600
    line-height 1.2
    @media(max-width point-l - 1)
      margin-bottom 0.625rem
      font-size 2.25rem
    @media(max-width point-m - 1)
      font-size 1.4rem
    @media(max-width point-s - 1)
      margin-bottom 0.875rem
      font-size 1.25rem
    & span 
      font-size 4rem
      font-weight 600
      color #B81F33
      @media(max-width point-l - 1)
        font-size 2.8rem
      @media(max-width point-m - 1)
        font-size 1.875rem
      @media(max-width point-s - 1)
        font-size 1.625rem
  &__promocode
    margin-bottom 2.375rem
    font-family 'Helvetica Neue Cyr', Arial, Helvetica, sans-serif
    font-size 1.375rem
    line-height 1.6
    font-weight 700
    @media(max-width point-l - 1)
      margin-bottom 1.625rem
      font-size 1rem
    @media(max-width point-m - 1)
      margin-bottom 0.75rem
      font-size 0.875rem
      line-height 1.1
    & span 
      margin-left 0.8rem
      padding 0.625rem 0.875rem
      color #755D35
      letter-spacing 0.03em
      background linear-gradient(180deg, #FCF4E4 0%, #E3D4B7 120.21%)
      border-radius 8px
      @media(max-width point-l - 1)
        margin-left 0.6rem
        padding 0.4rem 0.625rem
        border-radius 6px
      @media(max-width point-m - 1)
        margin-left 0.2rem
        padding 0.25rem 0.375rem
        border-radius 4px
  &__duration
    font-size 1.125rem
    line-height 1.1
    font-weight 400
    color #F1EDE4
    z-index 2
    @media(max-width point-l - 1)
      font-size 1rem
    @media(max-width point-m - 1)
      width 50%
      font-size 0.75rem
