.catalog-product
  position relative
  display flex
  flex-direction column
  align-items center
  height 100%
  overflow hidden
  @media(max-width point-l - 1)
    height 100%
    padding-x 0.5rem
    padding-y 1.125rem
    border 1px solid #ccc
  @media(min-width point-l)
    padding-x 0.75rem
    padding-top 1.375rem
    padding-bottom 1rem
    margin-x -0.75rem
    margin-y 0
    border-bottom none
    border-left none
    border-right none
    transition transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out
    &::before
    &::after
      content ''
      position absolute
      top 0
      width 100%
      z-index -1
    &::before
      height calc(100% - 3rem)
      border-left 1px solid #ccc
      border-right 1px solid #ccc
    &::after
      left 0
      height 100%
      border-bottom 1px solid #ccc
      transform translateY(-3rem)
    &:hover
      position relative
      background-color #fffefd
      box-shadow 0 0 0 1px #ccc, 0px 14px 8px 0px rgba(174, 172, 168, 0.05), 0px 8px 36px 0px rgba(174, 172, 168, 0.70)
      transform translateY(-5px)
      border-top none
      z-index 100
      transition-duration 0.2s
      & .catalog-product__buy
        opacity 1
        pointer-events auto
        transition opacity 0.2s ease-in-out
      & .catalog-product__image
        clip-path polygon(1% 0, 99% 0, 99% 100%, 1% 100%)
        transition clip-path 0.2s ease-in-out
      &::before
      &::after
        border-bottom none
        border-left none
        border-right none
  &__image
    img 
      display block
      height auto
    &--not-hair
      img
        aspect-ratio 1/1
        object-fit contain
    &:hover + .catalog-product__inner .catalog-product__link
      color #b81f33
    @media(min-width point-l)
      margin-x -1rem
      margin-top -1.375rem
      margin-bottom 0
      clip-path polygon(6% 6%, 94% 6%, 94% 100%, 6% 100%)
      transition clip-path 0.4s ease-in-out
      & img 
        width 280px
  &__buy
    @media(min-width point-l)
      width 100%
      opacity 0
      pointer-events none
      transition-duration 0.1s
      z-index 100
  &__inner
    display flex
    flex-direction column
    flex-grow 1
    padding-top 1rem
    @media(max-width point-s - 1)
      padding-top 0.5rem
  &__description
    margin-bottom 1rem
    font-size 0.875rem
    line-height 1.2
    @media(max-width point-s - 1)
      margin-bottom 0.5rem
  &__link
    font-weight 700
    color #222
    text-decoration none
    &:hover 
      color #b81f33
  &__features
    display flex
    align-items center
    column-gap 1.25rem
    margin-top auto
    margin-bottom 1rem
    @media(max-width point-l - 1)
      flex-direction column
      align-items flex-start
      row-gap 0.8rem
    @media(max-width point-s - 1)
      row-gap 0.625rem
      margin-bottom 0.75rem
  &__color-block
    display flex
    align-items center
    gap 0.5rem
  &__length
  &__color
  &__clarification
    font-size 0.875rem
    line-height 1.2
    font-weight 700
    color #7D7D7D
    @media(max-width point-s - 1)
      font-size 0.75rem
      line-height 1
  &__length
    position relative
    padding-left 1.875rem
    white-space nowrap
    &::before
      position absolute
      top -1px
      left 0
      content ''
      width 1.5rem
      height 1.5rem
      mask-image url(../images/svg-sprites/inner.svg#arrows)
      mask-repeat no-repeat
      mask-size cover
      mask-position center
      background-color #7D7D7D
      @media(max-width point-s - 1)
        top 0
        width 1rem
        height 1rem
  &__clarification
    width 50%
    font-size 0.75rem
    line-height 1.3
    text-align right
    @media(max-width point-l - 1)
      width 100%
      text-align left
  &__price-block
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between
    column-gap 0.5rem
    row-gap 0.2rem
    margin-top auto
    margin-bottom 1rem
  &__price
    font-size 1.25rem
    line-height 1
    font-weight 700
    color #222222
    text-align center
    white-space nowrap
    span 
      font-weight 700
    @media(max-width point-l - 1)
      text-align left
  &__availability
    margin-bottom 0
    font-size 0.75rem
    line-height 1.3
    font-weight 700
    color #008000
