.staff-specialist
  background-color #f1e7d3
  margin-x 0
  padding-x (basePadding*2)
  margin-bottom (basePadding*2)
  &__photo
    padding-x 0
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
  &__text
    padding (basePadding*2)
    @media screen and (max-width point-m)
      padding 0
  &__title
    font-weight bold
      font-size 1rem
      margin-bottom 1rem
      line-height 1.5rem
    &--eng
      &::after
        display inline-block
        content ''
        background-image url('../images/english.svg')
        background-size contain
        background-position right
        background-repeat no-repeat
        width 2rem
        height font-m
        margin-left basePadding
