.page-cols
  padding-y (basePadding*2)
  &__main
    @media screen and (max-width point-m)
      order 2
      margin-bottom (basePadding*2)
  &__aside
    @media screen and (max-width point-m)
      order 3
      &--s-first
        order 1
