.hair-extention-review
  padding basePadding
  margin-bottom (basePadding*2)
  line-height line-m
  font-style italic
  font-family fontHeader
  color #423231
  background-color #fdfcf8
  border 1px solid #dcbb8e
  &__title
    font-size font-xl
    line-height line-xl
    font-weight bold
    margin-bottom font-xs
