mixin youtube-responsive(videoId, description)
  -var src = 'https://www.youtube.com/embed/' + videoId
  .youtube-responsive
    .youtube-responsive__iframe(data-yt-id= videoId)&attributes(attributes)
      //iframe(src= src allowfullscreen)
    if description
      .youtube-responsive__desc !{description}
