+grid({align: center,nopadding:true}).banner-buy-hair
  +grid__item({m:5,s:4,xs:12}).hidden-xs
    .banner-buy-hair__picture
  +grid__item({m:7,s:8,xs:12})
    .banner-buy-hair__info
      h1 Покупаем волосы
        br
        strong дорого!
      p
        a(href='#' onclick='Comagic.openSitePhonePanel()').btn Продать волосы сейчас
