.search-form
  display flex
  position relative
  width 100%
  max-width 100%
  &__input
    position relative
    z-index 1
    width 100%
    font-size font-xs
    line-height line-xs
    padding 0.1875rem 0.5rem
  &__submit
    position absolute
    right 0
    top 0
    z-index 2
    width 1.5rem
    height 1.5rem
    border 0
