.text-marked
  &--size--s
    font-size font-s
    line-height line-xs
  &--size--xs
    font-size font-xs
    line-height line-xs
  &--size--l
    font-size font-l
    line-height line-l
  &--color--green
    color green
  &--color--red
    color red
  &--color--beige
    color #a05d5a
