.icon-block
  --icon-size 3.5rem
  display flex
  align-items center
  gap 0.625rem
  height 100%
  min-height 8rem
  padding 1rem
  line-height 1.5rem
  background-color #f9eadd
  &::before
    content ''
    width var(--icon-size)
    height var(--icon-size)
    flex-shrink 0
    mask-image var(--before-background-image)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    background-color #ad0a31
  for icon in hair-extension hair checklist like insurance full-service quality-assurance female-hairs professionals color-palette
    &--{icon}
      --before-background-image url('../images/svg-sprites/inner.svg#icon-' + icon)
