.header-nav
  &__list
    position relative
    display flex
    border 1px solid #dab686
    margin-left -(basePadding)
    margin-right -(basePadding)
    padding-x(basePadding)
    flex-wrap wrap
    & > ^[-1]__item
      font-size font-s
      line-height line-s
      flex-grow 0
      position relative
      z-index 1
      border-right 1px solid #dab686
      &:last-child
        border-right none
      > a
      > .separator
        border-bottom none
        padding 0.5rem (basePadding)
        display inline-block
        width 100%
        text-align center
  &__sublist
    transform scale(0)
    position absolute
    top 2.34rem
    left 0
  &__sublist-2
    transform scale(0)
    position absolute
    top 0
    left 18rem
