.header-nav
  &__list
    background-color #f7f0ca
    background-image linear-gradient(to bottom, #f7f0ca 0%, #e6cda7 100%)
    border-radius 0.1666rem
    z-index 1000
    & > ^[-1]__item
      border-right 1px solid #dab686
      &:hover
        z-index 2
        & ^[-3]__sublist
          transform scale(1)
          transition none
          opacity 1
        > a
        > .separator
          color #ffffff
          background-color #e3012d
          transition none
      > a
      > .separator
        text-decoration none
        border-bottom none
        padding 0.5rem (basePadding)
        display inline-block
        width 100%
        text-align center
        color #000000
        transition .4s color, .4s background-color
  &__sublist
    display flex
    flex-direction column
    transform-origin 0 0
    opacity 0
    transition .4s transform, .2s opacity
    width 18rem
    background-color #e3012d
    padding 0 0 basePadding
    & > ^[-1]__item
      padding-right basePadding
      padding-left basePadding
      font-size font-s
      line-height line-s
      border-bottom 1px solid rgba(0,0,0,.1)
      a
        text-align left
        padding 0.375rem 0
        display inline-block
        text-decoration none
        border-bottom none
        color #ffffff
        &:hover
          color #ffa2b4
    & .header-nav__sublist-2
      & a
        font-weight 700
        color #000
        &:hover
          color #cb072f
    & li:hover > .header-nav__sublist-2
      transform scale(1)
      transition none
      opacity 1
  &__sublist-2
    display grid
    grid-template-columns repeat(4, auto)
    gap 1.5rem
    width max-content
    max-width calc(62.5rem - 18rem)
    padding 0 basePadding basePadding
    color #000
    background-color #f7f7f7
    transform-origin 0 0
    opacity 0
    transition .4s transform, .2s opacity
    @media(max-width point-l - 1)
      grid-template-columns: repeat(2, auto)
      width max-content
      max-width calc(46rem - 18rem)
    & span
      display block
      padding 0.375rem 0
      font-weight 700
  &__sublist-3
    & .header-nav__item
      padding 0
      & a
        font-weight 400
        text-decoration underline
        padding 0.1rem 0
        &:hover
          color #cb072f
