.home-menu-info
  display flex
  margin-x -(basePadding)
  &__item
    padding-x (basePadding)
    a
      font-size font-s
      line-height line-xs
      position relative
      display flex
      align-items center
      &::before
        width 2rem
        height 2rem
        display block
        content ''
        background-size contain
        background-position left
        background-repeat no-repeat
        margin-right (basePadding/2)
        transition filter .4s
      &:hover
        &::before
          filter grayscale(1)
          transition none
    &--how-to-order
      a
        &::before
          background-image url('../images/header-menu-info/how-to-order.png')
          @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
            background-image url('../images/header-menu-info/how-to-order@2.png')
    &--how-to-pay
      a
        &::before
          background-image url('../images/header-menu-info/how-to-pay.png')
          @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
            background-image url('../images/header-menu-info/how-to-pay@2.png')
    &--delivery
      a
        &::before
          background-image url('../images/header-menu-info/delivery.png')
          @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
            background-image url('../images/header-menu-info/delivery@2.png')
