.home-menu-info
  display flex
  margin-x -(basePadding)
  &__item
    padding-x (basePadding)
    a
      font-size font-s
      line-height line-xs
      position relative
      display flex
      align-items center
      &::before
        width 2rem
        height 2rem
        display block
        content ''
        margin-right (basePadding/2)
