.home-menu-info
  &__item
    a
      &::before
        background-size contain
        background-position left
        background-repeat no-repeat
        transition filter .4s
      &:hover
        &::before
          filter grayscale(1)
          transition none
    &--how-to-order
      a
        &::before
          background-image url('../images/header-menu-info/how-to-order.png')
          @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
            background-image url('../images/header-menu-info/how-to-order@2.png')
    &--how-to-pay
      a
        &::before
          background-image url('../images/header-menu-info/how-to-pay.png')
          @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
            background-image url('../images/header-menu-info/how-to-pay@2.png')
    &--delivery
      a
        &::before
          background-image url('../images/header-menu-info/delivery.png')
          @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
            background-image url('../images/header-menu-info/delivery@2.png')
