-
  var whyWe = [
    {
      'image':'/images/hair-extention-2/why-we-01.jpg',
      'title':'Ассортимент волос',
      'desc': [
        '<strong>Подберем</strong> волосы на месте.',
        '<strong>Огромный ассортимент</strong> волос в наличии <strong>от 40 до 85 см</strong>, все цвета&nbsp;&mdash; <strong>47 оттенков</strong>.',
        'Изготовим любой оттенок на заказ.'
      ]
    },
    {
      'image':'/images/hair-extention-2/why-we-02.jpg',
      'title':'Разные методики',
      'desc': [
        'Выполним 3 вида наращивания на выбор: <strong>на трессах, капсульное, ленточное</strong>.'
      ]
    },
    {
      'image':'/images/hair-extention-2/why-we-03.jpg',
      'title':'Гарантия',
      'desc': [
        'Даем <strong>гарантию на работу</strong>&nbsp;&mdash; 1 месяц, <strong>гарантию на качество волос</strong>&nbsp;&mdash; 2-3 месяца. '
      ]
    },
    {
      'image':'/images/hair-extention-2/why-we-04.jpg',
      'title':'Качество волос',
      'desc': [
        'Предложим <strong>качественные славянские волосы</strong> собственного производства, без силикона и перевертышей.'
      ]
    },
    {
      'image':'/images/hair-extention-2/why-we-05.jpg',
      'title':'Низкие цены',
      'desc': [
        'Цены на волосы - самые низкие в городе, от производителя без посредников.'
      ]
    },
    {
      'image':'/images/hair-extention-2/why-we-06.jpg',
      'title':'Сертифицированные мастера',
      'desc': [
        'Нарастим волосы <strong>профессионально</strong>. Мастера имеют соответствующие <strong>сертификаты</strong>. Сами обучаем других мастеров наращиванию.'
      ]
    }
  ]
