mixin list-starred(arg = {list, settings})
  -
    var settings = arg.settings
    var cellClassList= []
  if settings
    if settings.cols
      if settings.cols.hd
        - hdWidth = 12/settings.cols.hd
      if settings.cols.xl
        - xlWidth = 12/settings.cols.xl
      if settings.cols.l
        - lWidth = 12/settings.cols.l
      if settings.cols.m
        - mWidth = 12/settings.cols.m
      if settings.cols.s
        - sWidth = 12/settings.cols.s
      if settings.cols.xs
        - xsWidth = 12/settings.cols.xs
  each item in cellClassList
    - 
      cellClassString = cellClassString + item + ' '
  if attributes.class === undefined
    - attributes.class = ''
  +grid({'tag':'ul'}).list-starred(class= cellClassString + attributes.class)
    each item in arg.list
      +grid__item({'tag':'li','hd':hdWidth,'xl':xlWidth,'l':lWidth,'m':mWidth,'s':sWidth,'xs':xsWidth}).list-starred__item !{item}
