extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Английское наращивание волос
          .article-announcement
            .article-announcement__image
              +img({
                name: 'anglijskoe-1',
                path: '/images/info/narashchivanie-volos/metodiki/anglijskoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Пряди для наращивания' title='Пряди для наращивания').article-illustration
            p Есть&nbsp;ли заманчивей идея, чем однажды проснуться с&nbsp;шикарной шевелюрой. Английское наращивание волос за&nbsp;3-4 часа добавит длину и&nbsp;объем волосам, чтобы создавать невероятные прически.
            p Техника появилась более 30&nbsp;лет назад, когда британский парикмахер разработал формулу клея для сращения донорских и&nbsp;волос клиента. Относится к&nbsp;горячим методам, где используется натуральный кератин и&nbsp;клеевой пистолет. Процедура безопасна, так как температура плавления кератина ниже, чем температура нагрева утюжка для выпрямления.
          
          <hr id="system-readmore" />

          h2 Что такое английское наращивание волос?
          p Метод подразумевает формирование клеевого соединения мастером. Для сращения используется тугоплавкая органическая смола на&nbsp;базе кератина в&nbsp;виде палочки. Во&nbsp;время процедуры кератиновая палочка вставляется в&nbsp;пистолет для нагревания, затем горячий состав капается на&nbsp;пряди для плотного покрытия. Места крепления зажимаются парикмахерскими щипцами до&nbsp;полного застывания.
          p Английская технология менее практична, если сравнивать с&nbsp;итальянской, из-за капсул, которые больше размером, так как мастер вручную формирует крепления. Поэтому доступны не&nbsp;все виды укладки. Продолжительность ношения наращения не&nbsp;больше 3&nbsp;месяцев.
          +img({
            name: 'anglijskoe-2',
            path: '/images/info/narashchivanie-volos/metodiki/anglijskoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Кератиновые стержни' title='Кератиновые стержни').article-illustration.article-illustration--border
          h2 Преимущества и&nbsp;недостатки метода
          ul.list-marked
            li Видимое удлинение шевелюры и&nbsp;дополнительный объем;
            li Большой выбор наращиваемого материала;
            li Естественность прически, поскольку соединения находятся близко к&nbsp;корням и&nbsp;обеспечивают свободное движение локонов; 
            li Наращивания можно завивать, выпрямлять утюжком (обходя места крепления) и&nbsp;укладывать как натуральные волосы; 
            li Низкие эксплуатационные расходы&nbsp;&mdash; нет необходимости в&nbsp;посещении салона до&nbsp;коррекции;
            li Пряди формируют вручную, поэтому в&nbsp;одном пучке можно объединить волоски разных оттенков;
            li Срок службы расширений до&nbsp;шести месяцев при правильной установке и&nbsp;последующем уходе.
          h3 Недостатки
          ul.list-marked
            li Невозможность нарастить челку;
            li Присутствие термического воздействия;
            li Ограничения в&nbsp;уходе: с&nbsp;аккуратностью используют маски и&nbsp;бальзамы, запрещена сушка феном на&nbsp;максимальном режиме, расчесываются предельно осторожно, чтобы не&nbsp;разрушить крепление;
            li При некачественной смоле волоски слипаются;
            li Запрещено посещение парилен и&nbsp;солярия.

          h2 Какие волосы используются для английского наращивания
          h3 Славянские
          p Тип волос, происходящий из&nbsp;славянских регионов, славится мягкостью, шелковистостью и&nbsp;впечатляющей прочностью. В&nbsp;отличие от&nbsp;других типов, у&nbsp;славянских волос естественная гладкая текстура, которая идеально сочетается с&nbsp;большинством типов европейских локонов. Процесс сбора гарантирует, что славянский материал для наращивания сохраняет жизненную силу и&nbsp;прочность. Отбираются только здоровые пряди, выдерживающие укладку, окраску и&nbsp;ежедневное ношение.
          h3 Европейские
          p Европейский материал занимает почетное второе место по&nbsp;качеству после славянских прядей. Текстура и&nbsp;качество европейских волос позволяют расширениям сочетаться с&nbsp;разными типами волос. Европейский материал не&nbsp;обрабатывают химически, что позволяет выпрямлять, завивать и&nbsp;красить его в&nbsp;процессе наращивания.
          p #[strong Волосы Remy.] Когда европейские или славянские волосы называются remy, это значит, что у&nbsp;них правильная ровная кутикула и&nbsp;нет силиконового покрытия, которым, как правило, покрывают низкокачественные накладные пряди для искусственной гладкости. Когда это покрытие стирается, волоски начинают запутываться.
          p #[strong Virgin Hair]&nbsp;&mdash; Это 100&nbsp;% гладкий и&nbsp;мягкий натуральный материал. У&nbsp;накладных прядей из&nbsp;virgin hair более тонкая плотность, волоски не&nbsp;смешаны с&nbsp;шерстью животных или синтетикой.

          h2 Как проводится процедура английского наращивания?
          p Следует заметить, что с&nbsp;помощью этого способа наращивают пряди только на&nbsp;затылке, челку и&nbsp;волосы на&nbsp;височной области таким образом не&nbsp;наращивают из-за размера капсул.
          h3 Инструменты и&nbsp;материалы
          p Для наращивания потребуются кератиновые клеевые палочки, клеевой пистолет для плавления кератина и&nbsp;натуральные срезы волос. Также для защиты кожи от&nbsp;горячего кератина используют пластиковые кольца, в&nbsp;которые вставляется наращиваемая прядь.
          +img({
            name: 'anglijskoe-3',
            path: '/images/info/narashchivanie-volos/metodiki/anglijskoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Клеевой пистолет' title='Клеевой пистолет').article-illustration.article-illustration--border
          h3 Пошаговый процесс
          ol.list-numbered
            li Глубокое очищение кожи головы обезжиривающим шампунем и&nbsp;сушка волос;
            li Разделение волосяного полотна горизонтальным пробором;
            li Наращиваемая прядь продевается в&nbsp;отверстие защитного диска и&nbsp;закрепляется зажимами;
            li В&nbsp;клеевой пистолет вставляется кератиновая палочка;
            li На&nbsp;обрабатываемую прядь ближе к&nbsp;корням наносится небольшое количество расплавленной смолы;
            li На&nbsp;расстоянии 1&nbsp;сантиметра от&nbsp;корней мастер прижимает искусственную прядку специальными щипцами или капсула формируется вручную;
            li Эти манипуляции проводятся попрядно по&nbsp;горизонтальному ряду.
          p Весь процесс занимает до&nbsp;трех часов. 
          +img({
            name: 'anglijskoe-4',
            path: '/images/info/narashchivanie-volos/metodiki/anglijskoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Технология английского наращивания волос' title='Технология английского наращивания волос').article-illustration

          h2 Особенности коррекции
          p Коррекция понадобится, когда локоны отрастут, и&nbsp;станут заметны смоляные капсулы. На&nbsp;продолжительность результата сказывается мастерство парикмахера, состояние собственных прядей, скорость волосяного роста, качество используемых материалов.
          p Мастер наносит на&nbsp;кератиновое крепление размягчающий состав (ремувер), после размягчения связей свободно отсоединяет накладные пряди, стягивая их&nbsp;вниз. Снятые локоны очищаются и&nbsp;расчесываются. Затем снова сращивают с&nbsp;натуральным прядями кератиновым клеем.

          h2 Как ухаживать за&nbsp;наращенными волосами?
          ul.list-marked 
            li Избегайте теплового повреждения. Тепло ослабляет крепление. Если требуется термоукладка, то&nbsp;на&nbsp;волосяное полотно наносится термозащита. Не&nbsp;допускается контакт тепла и&nbsp;кератиновых капсул.
            li Деликатно расчесывайте. Для этого используйте специальную щетку. Расчесывать начинают с&nbsp;концов. Не&nbsp;оставляйте прядки спутанными, сразу распутывайте.
            li Мойте голову аккуратно. Слишком частое мытье ослабит связи, достаточно 2-3 раза в&nbsp;неделю. При мытье используйте сульфат-свободные шампунь и&nbsp;кондиционер, нежно массируя кожу головы и&nbsp;избегая мест крепления.
            li Защищайте волосы от&nbsp;солнца. Продолжительное пребывание под палящим солнцем приводит к&nbsp;выцветанию и&nbsp;иссушению локонов.
          p Перед сном рекомендуется наращение завязывать в&nbsp;свободный хвост или заплести в&nbsp;косу, чтобы предотвратить спутывание.

          h2 Сравнение английского метода с&nbsp;итальянским
          p #[strong Итальянская технология] подразумевает соединение собственных и&nbsp;искусственных волос кератиновой капсулой, которая чаще уже закреплена на&nbsp;кончике донорского пучка. Кератин размягчают нагретыми щипцами и&nbsp;скатывают вместе с&nbsp;волосками в&nbsp;плоскую неощутимую горошинку. Метод трудоемкий, но&nbsp;фиксация прядей надежнее, чем в&nbsp;английской технологии.
          p #[strong Английский метод] подразумевает скрепление собственных и&nbsp;донорских прядей растопленной смолой, которая подается из&nbsp;парикмахерского пистолета. При соединении волос образуется прозрачная капсула, размер которой больше соединения при итальянском наращивании. Поэтому есть ограничения в&nbsp;прическах, не&nbsp;наращивается челка и&nbsp;виски. 
          p Подходящий вариант подбирает мастер с&nbsp;учётом состояния натуральной шевелюры, а&nbsp;также пожеланий клиента. Зачастую эти методы сочетаются.

          h2 Возможные противопоказания
          ul.list-marked 
            li Индивидуальная непереносимость компонентов кератинового клеящего состава;
            li Признаки интенсивного выпадения волос;
            li Жар и&nbsp;лихорадка;
            li Химиотерапевтическое лечение;
            li Травмирование кожи головы, псориаз, себорея и&nbsp;другие кожные патологии.

          h2 Часто задаваемые вопросы и&nbsp;ответы
          +accordionItem('<h3>Как мыть голову с&nbsp;английским наращиванием?</h3>')
            p Регулярное мытье шампунем и&nbsp;кондиционером&nbsp;&mdash; важнейший этап ухода за&nbsp;кератиновым соединением и&nbsp;наращением. При мытье шампунем делайте небольшие круговые движения, избегая грубого трения в&nbsp;месте крепления. Всегда просушивайте место крепления сразу после душа, так как влага способствует потере связей.
          +accordionItem('<h3>Сколько держится английское наращивание?</h3>')
            p Наращивание английским методом подразумевает крепление волосяного среза к&nbsp;волосяному стержню с&nbsp;помощью белковой связи, которая после затвердевания надежно скрепляет пряди. Английское наращивание продержится 3-5&nbsp;месяцев.
          +accordionItem('<h3>Портит&nbsp;ли английское наращивание собственные волосы?</h3>')
            p Индустрия красоты часто сталкивается с&nbsp;беспокойством клиентов по&nbsp;поводу безопасности наращивания. Является&nbsp;ли наращивание волос кератином опасным для волос в&nbsp;долгосрочной перспективе? Короткий ответ&nbsp;&mdash; нет! Английское наращивание безопасно для большинства типов волос, если выполнять ряд правил.
            ul.list-marked 
              li Наращивание и&nbsp;коррекцию доверяют квалифицированному стилисту;
              li Используйте только качественные волосы и&nbsp;продукты;
              li Выполняйте рекомендации парикмахера по&nbsp;дальнейшему уходу.
          +accordionItem('<h3>Английский метод используют для мелирования?</h3>')
            p Да, если для фиксации выбрать пряди на&nbsp;несколько тонов светлее.
