extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Бионаращивание волос
          .article-announcement
            .article-announcement__image
              +img({
                name: 'bio-1',
                path: '/images/info/narashchivanie-volos/metodiki/bio-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Пряди для био наращивания волос' title='Пряди для био наращивания волос').article-illustration
            
            p При регулярном химическом и&nbsp;термическом воздействии волосы теряют исходную структуру, становятся тонкими и&nbsp;ломкими. Чтобы сохранить их&nbsp;здоровье, для увеличения объема, густоты и&nbsp;длины шевелюры выбирают безопасное биопротеиновое наращивание. Продолжительный сеанс окупается высококачественным результатом.
          
          <hr id="system-readmore" />

          h2 Что такое био наращивание волос
          p Это экологичная техника наращивания прядей без кератиновых капсул или плетения. Биопротеиновый материал не&nbsp;утяжеляет волосы клиента, подходит обладательницам пересушенных и&nbsp;ослабленных локонов.

          h3 Технология наращивания
          p Для наращивания биопротеиновых волос берут тонкие полоски накладных прядок, которые крепятся рядами между натуральными. При этом наращение располагают сверху. Фиксация биогелем делает переход между прядями естественным, придает прическе гармоничный вид, снижает нагрузку на&nbsp;волосяные фолликулы.
          +img({
            name: 'bio-2',
            path: '/images/info/narashchivanie-volos/metodiki/bio-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Один из этапов био наращивания волос' title='Один из этапов био наращивания волос').article-illustration
          h3 Преимущества биоматериала
          p Биоволосы&nbsp;&mdash; это уникальное биоволокно, созданное японскими технологами из&nbsp;микробиологического белка&nbsp;&mdash; биопротеина. По&nbsp;структуре бионаращивание волос похоже на&nbsp;мягкие и&nbsp;воздушные славянские срезы, поразительные свойства которых сохраняются продолжительное время. Синтетический заменитель визуально сложно отличить от&nbsp;собственной шевелюры. Сохраняет эстетичный вид на&nbsp;протяжении всей носки.
          h3 Отличие био наращивания от&nbsp;традиционных методов
          p Помимо качественного биосостава наращиваемого материала метод отличается от&nbsp;иных технологий местом крепления не&nbsp;в&nbsp;нижнем, а&nbsp;в&nbsp;верхнем слое волосяного полотна.

          h2 Материалы для био наращивания
          h3 Биопротеиновые волосы
          p У&nbsp;волос из&nbsp;биопротеина для наращивания нет искусственного блеска, поэтому результат выглядит натурально. Биоволосы не&nbsp;ломаются и&nbsp;не&nbsp;секутся. Это лучшая альтернатива натуральным прядям на&nbsp;сегодняшний день, которая визуально и&nbsp;тактильно неотличима от&nbsp;собственной шевелюры. При соблюдении правил ухода не&nbsp;превращаются в&nbsp;мочалку. Срок носки до&nbsp;6&nbsp;месяцев.
          h3 Особенности работы с&nbsp;биопротеиновым волокном
          p Красить био волосы для наращивания нельзя, но&nbsp;допустимо тонировать.
          p Идеально смотрятся на&nbsp;прямых локонах. Обладательницам кудрявой и&nbsp;пористой структуры стержней рекомендовано предварительно пройти процедуру выпрямления ботоксом или кератином. Тогда наращение не&nbsp;будет отличаться, а&nbsp;сольется с&nbsp;собственным полотном волос.
          p Материал гипоаллергенный, поэтому процедуру проводят людям с&nbsp;высоким риском развития аллергической реакции. Биопротеиновые волоски не&nbsp;путаются и&nbsp;не&nbsp;секутся, цвет не&nbsp;вымывается. Используется для изготовления всех видов лент, прядок на&nbsp;заколках, голливудского и&nbsp;капсульного наращивания биопротеиновых волос, афроплетения.
          p Хорошо держит форму, если прядки завить при 170 градусах и&nbsp;дать остыть&nbsp;&mdash; волны сохранят упругость до&nbsp;выпрямления.
          h3 Фиксирующий биогель
          p Это медицинский гипоаллергенный полимер на&nbsp;протеиновой основе. Материал нетоксичный и&nbsp;гипоаллергенный, полностью безопасный для кожи головы и&nbsp;структуры волосяного стержня. Биогель действует аналогично клею. Он&nbsp;прочно, но&nbsp;при этом бережно фиксирует пряди.

          h2 Процедура бионаращивания
          p Поэтапность выполнения рассмотрим на&nbsp;примере ленточного наращивания биопротеиновых волос.
          ul.list-marked
            li #[strong Подбор материала], соответствующего структуре волос клиента. Прогрев биоленты (одна биолента занимает до&nbsp;3-8 рядов капсул).
            li #[strong Закрепление прядей.] Лента приклеивается на&nbsp;ровный (горизонтальный на&nbsp;затылке, вертикальный на&nbsp;макушке) пробор. Снимается защитный слой. Перекрывается верхним тонким слоем волос и&nbsp;фиксируется нажатием.
            li #[strong Укладка] в&nbsp;соответствии с&nbsp;пожеланиями клиента.
          +img({
            name: 'bio-3',
            path: '/images/info/narashchivanie-volos/metodiki/bio-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Последующий этап био наращивания волос' title='Последующий этап био наращивания волос').article-illustration
          h2 Преимущества био технологии
          ul.list-marked
            li Безопасность методики. Процедура рекомендована для ослабленных, истонченных и&nbsp;редких волос, так как корни не&nbsp;получают дополнительной нагрузки. Полимер не&nbsp;влияет негативно на&nbsp;кожу головы и&nbsp;шевелюру.
            li Качество материалов. При наращивании используются высококачественные биоволосы. Для скрепления применяется безопасный клеевой состав, гарантирующий деликатное, но&nbsp;надежное крепление.
            li Продолжительность ношения. Накладные пряди сохраняют свойства до&nbsp;6&nbsp;месяцев, а&nbsp;на&nbsp;коррекцию достаточно потратить час.
            li Отсутствие дискомфорта. После процедуры разрешено посещать бассейн, парильни. Крепление неощутимо, поэтому во&nbsp;время сна и&nbsp;ношения головных уборов отсутствуют неприятные ощущения

          h2 Возможные недостатки и&nbsp;ограничения
          ul.list-marked
            li Коррекция раз в&nbsp;1-2&nbsp;месяца;
            li Несмотря на&nbsp;большую схожесть, биопротеиновое наращение отличается от&nbsp;природного волоса;
            li Стоит избегать воздействия ультрафиолета.

          h2 Последующий уход
          h3 Мытье головы
          ul.list-marked
            li Голову моют вертикально под душем, предварительно расчесав. Желательно не&nbsp;наклонять голову вперед или запрокидывать назад.
            li Обильно намочите голову теплой водой. Моющее средство выбирают из&nbsp;линейки для наращенных прядей. У&nbsp;обычных шампуней избегают воска, силикона и&nbsp;масел в&nbsp;составе.
            li Выдавите на&nbsp;ладонь небольшое количество шампуня и&nbsp;смешайте с&nbsp;водой, взбивая пену. Пенную смесь нанесите на&nbsp;кожу головы мягкими движениями, распределяя по&nbsp;волосяному полотну. После смывания моющего состава промокните вымытые пряди полотенцем.
          h3 Расчесывание
          p Необходимо часто расчесываться, не&nbsp;менее 3-5 раз в&nbsp;день. Расчесывают только высушенные пряди, чтобы избежать спутывания. Подождите, когда шевелюра просохнет, и&nbsp;после этого начинайте деликатно расчесываться, продвигаясь вверх от&nbsp;кончиков. При этом одной рукой держите расческу, а&nbsp;другой придерживайте пряди корней.
          h3 Как избежать спутывание
          p Уход за&nbsp;биопротеиновыми наращенными волосами включает регулярное расчесывание для предупреждения спутывания. Также используют антистатический несмываемый уход или спрей-кондиционер. Распылив антистатик, дают волосяному полотну просохнуть. Подобные составы обеспечивают легкое скольжение расчески, не&nbsp;допуская спутывания волосков за&nbsp;счет снятия электризации.
          h3 Укладка
          p #[strong Выпрямление.] Стайлинг&nbsp;&mdash; важный пункт в&nbsp;уходе за&nbsp;биопротеиновыми наращенными волосами на&nbsp;капсулах. Важно выпрямлять пряди каждые 5-10 дней утюжком или феном по&nbsp;круглой расческе. После мытья на&nbsp;волосяное полотно наносят термозащиту (избегая места крепления), на&nbsp;кончики&nbsp;&mdash; специальное масло. Если волосяной покров чистый, достаточно обработать кончики маслом и&nbsp;пройтись щипцами.
          p #[strong Завивка.] Для завивки разделите волосяное полотно на&nbsp;пряди, расчешите прядку и&nbsp;накрутите ее&nbsp;на&nbsp;плойку, (важно соблюдать температурный режим). Полученный завиток не&nbsp;раскручивают (даже можно зафиксировать зажимом) до&nbsp;остывания. Не&nbsp;допускают соприкосновения горячей поверхности термоинструмента с&nbsp;местами крепления.
          h3 Коррекция
          p Корни растут и&nbsp;со&nbsp;временем места креплений опускаются вниз. По&nbsp;технологии биоволосы носятся в&nbsp;среднем 1-2 месяца при соблюдении рекомендаций. При правильном подходе и&nbsp;качественном сырье биоволосы служат до&nbsp;4&nbsp;коррекций.

          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Как спать после наращивания?</h3>')
            p Шевелюра перед сном расчесывается и&nbsp;заплетается в&nbsp;свободную косу.
          +accordionItem('<h3>Можно&nbsp;ли краситься после бионаращивания?</h3>')
            p Биоволосы краситель не&nbsp;испортит, но&nbsp;и&nbsp;не&nbsp;даст нужного эффекта. Поэтому предпочтительно краситься до&nbsp;наращивания, а&nbsp;затем подбирать биоматериал соответствующего тона под новый цвет кончиков.
          +accordionItem('<h3>Когда мыть голову после процедуры?</h3>')
            p Первый раз голову моют через два дня после процедуры для надежной фиксации крепления.
          +accordionItem('<h3>Допустимо био наращивание беременным?</h3>')
            p Да, так как для этого используются только безопасные и&nbsp;гипоаллергенные материалы.
          +accordionItem('<h3>Используют утюжок или плойку на&nbsp;бионаращении?</h3>')
            p Да, при нагреве не&nbsp;выше 160-170&nbsp;градусов.
          +accordionItem('<h3>Почему биопротеиновые волосы становятся колючими?</h3>')
            p Причиной спутывания чаще становится электризация, агрессивное расчесывание, натирание об&nbsp;одежду. Искусственный волосок вытягиваться и&nbsp;начинает виться на&nbsp;кончиках, создавая ощущение, что наращение стало жестким.
          +accordionItem('<h3>Чем биопротеиновый материал отличается от&nbsp;натуральных срезов?</h3>')
            p Биоволосы&nbsp;&mdash; бюджетный аналог человеческих волос. Несмотря на&nbsp;визуальную и&nbsp;тактильную схожесть, биоматериал быстро теряет привлекательный вид.
