extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Бразильское наращивание волос
          .article-announcement
            .article-announcement__image
              +img({
                name: 'brazilskoe-1',
                path: '/images/info/narashchivanie-volos/metodiki/brazilskoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Волосы для бразильского наращивания волос').article-illustration
            p Если хотите изменить свой стиль с&nbsp;минимальным повреждением шевелюры, бразильское наращивание волос&nbsp;&mdash; то, что вам нужно. Техника относится к&nbsp;холодному виду наращивания, что характеризует ее&nbsp;как безопасную процедуру. Результат выглядит естественно, а&nbsp;пряди неощутимы на&nbsp;голове и&nbsp;смотрятся эффектно. Метод родом из&nbsp;Бразилии, где танцовщицы перед карнавалом, используя цветные прядки, создавали себе невероятные прически. Этот простой и&nbsp;эффектный способ крепления донорских прядок сегодня применяют по&nbsp;всему миру.
          
          <hr id="system-readmore" />

          h2 Что такое бразильское наращивание?
          p Бразильское наращивание волос&nbsp;&mdash; это техника придания шевелюре дополнительного объема и&nbsp;длины без клея, тепла или колец. Бразильский метод наращивания не&nbsp;требует сложного ухода и&nbsp;не&nbsp;утяжеляет прическу. Чтобы получить эффект удлинения, донорские пряди вплетаются в&nbsp;волосы клиента близко к&nbsp;корням и&nbsp;скрепляются эластичной нитью, которая изначально вплетается в&nbsp;косичку. Толщина наращиваемой пряди регулируется персонально.
          p Такое крепление может продержаться до&nbsp;трех месяцев. Донорские волосы используются повторно, что делает метод экономически эффективным. Бразильская технология крепления подходит для домашнего исполнения, так как не&nbsp;требует стационарного оборудования и&nbsp;профессиональных инструментов.
          +img({
            name: 'brazilskoe-2',
            path: '/images/info/narashchivanie-volos/metodiki/brazilskoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Суть бразильского наращивания волос' title='Суть бразильского наращивания волос').article-illustration
          h2 Плюсы узелкового наращивания
          p Техника не&nbsp;использует химические составы, поэтому допустима для беременных и&nbsp;кормящих женщин, аллергиков.
          ul.list-marked
            li Низкий риск повреждения шевелюры;
            li Видимое увеличение объема и&nbsp;длины;
            li Использование натуральных и&nbsp;искусственных прядей для вплетения;
            li Простота исполнения;
            li Безопасность для собственных волос;
            li Отсутствие возрастных ограничений;
            li Допустимо применение фена, укладочных и&nbsp;окрашивающих средств.
          p У&nbsp;метода один недостаток&nbsp;&mdash; продолжительность процедуры до&nbsp;4&nbsp;часов, так как плетение тонких косичек, работа кропотливая. При редких волосах противопоказаны высокие прически после наращивания, так как редкие прядки не&nbsp;скроют крепления.

          h2 Кому подойдет бразильское наращивание
          p Хотя узелковое крепление подходит всем типам волос, метод чаще используется для локонов средней толщины и&nbsp;длиной не&nbsp;менее 12-15&nbsp;см. Стилисты равномерно распределяют бразильские узелковые наращивания по&nbsp;всей поверхности головы для естественного вида. Прядки оставляют сверху и&nbsp;по&nbsp;бокам для маскировки креплений, что упрощает создание желаемого стиля.
          p Важно понимать, что локоны должны быть в&nbsp;хорошем состоянии. Если они ослабленные или поврежденные, потратьте время на&nbsp;то, чтобы вернуть им&nbsp;здоровье, прежде чем приступать к&nbsp;наращиванию.

          h2 Противопоказания
          ul.list-marked
            li Длина прически короче 15&nbsp;см;
            li Педикулез;
            li Ожоги, царапины и&nbsp;другие повреждения кожных покровов;
            li Истончение и&nbsp;выпадение волос;
            li Прохождение химиотерапевтического или антибактериального лечения.

          h2 Как проводится процедура
          h3 Необходимые материалы
          p Основной материал для узелкового наращивания&nbsp;&mdash; донорские прядки. Берется длина среза на&nbsp;10&nbsp;см длиннее желаемого результата. Запас необходим для крепления. Для эффекта удлинения подбирается цвет, приближенный к&nbsp;цвету кончиков, чтобы скрыть переход. Это могут быть и&nbsp;светлые оттенки для эффекта мелирования или цветные&nbsp;&mdash; для колорирования. Вплетаемые синтетические нити для крепления выбирают в&nbsp;тон донорских прядок. Их&nbsp;длина 35&nbsp;см. После завязывания вплетений нити обрезаются.
          h3 Подготовительный этап
          p Сначала дважды моются волосы обезжиривающим шампунем без использования кондиционеров, муссов, гелей или масел, чтобы смыть поверхностные загрязнения. Кутикула должна оставаться открытой, это облегчит сцепление волос клиента с&nbsp;донорскими. После мытья шевелюра просушивается с&nbsp;помощью брашинга и&nbsp;фена.
          h3 Основной этап
          ol.list-numbered
            li Отступив от&nbsp;волосяного края 3-4&nbsp;см, делается горизонтальный пробор;
            li Верхний ряд волосяного полотна закрепляется, чтобы не&nbsp;мешал;
            li С&nbsp;середины ряда сложенные пополам вплетают донорские локоны (метод похож на&nbsp;вплетение канекалона) и&nbsp;дальше плетут тугую косичку, где 2&nbsp;прядки донорские, а&nbsp;одна&nbsp;&mdash; собственная;
            li Заканчивают плетение, не&nbsp;доходя до&nbsp;середины края роста волос;
            li Прядки оборачиваются несколько раз и&nbsp;завязываются на&nbsp;2-3 узла синтетической нитью; 	
            li Вплетение повторяют по&nbsp;всему ряду;
            li Косички плетутся одинаковой длины и&nbsp;толщины;
            li Затем корректируют торчащие прядки для получения естественного результата.

          h3 Особенности вплетения наращиваний
          ul.list-marked
            li От&nbsp;края волос отступают 4-5&nbsp;см;
            li Если в&nbsp;зоне висков густота покрова меньше затылочной, то&nbsp;область не&nbsp;удлиняют;
            li Чтобы скрыть крепления, оставляют плотный верхний слой волосяного полотна;
            li Донорские прядки вплетают с&nbsp;промежутками и&nbsp;без;
            li После каждой кладки пряди фиксируют лаком.
          p Большее количество креплений располагают на&nbsp;затылке и&nbsp;в&nbsp;височной зоне при достаточной густоте шевелюры. Теменная область при узелковом методе крепления не&nbsp;затрагивается.
          h3 Последующий уход
          p Несмотря на&nbsp;плотность узелковое крепление требует деликатного ухода, чтобы не&nbsp;ослабить крепление.
          ul.list-marked
            li Моют волосы запрокинув голову назад;
            li Предпочтение отдают безсульфатному шампуню, образующему меньше пены;
            li Косички и&nbsp;узелки не&nbsp;трут при мытье;
            li Бальзам при необходимости наносят ниже узелков;
            li После мытья волосы промакивают полотенцем, но&nbsp;не&nbsp;трут;
            li Расчесываются расческой с&nbsp;натуральной щетиной или редкими зубьями;
            li Волосы окрашивают до&nbsp;наращивания, если это сделать после, то&nbsp;в&nbsp;узелках останутся непрокрашенные зоны.
          p Солнце, соленая и&nbsp;хлорированная вода&nbsp;&mdash; враги наращенных прядей. Находясь на&nbsp;пляже, защищайте волосы шляпой или шарфом, а&nbsp;в&nbsp;бассейне&nbsp;&mdash; шапочкой.

          h2 Виды волос для бразильского наращивания
          h3 Натуральные
          p При наращивании натуральных волос, вы&nbsp;будете наслаждаться фактом, что донорские локоны дают то&nbsp;же ощущение, текстуру и&nbsp;даже оттенок, что и&nbsp;собственные.
          ul.list-marked
            li Натуральный материал естественным образом смешивается;
            li Используется до&nbsp;6&nbsp;месяцев;
            li Для ухода применяют привычные продукты;
            li Допустимы термоукладка и&nbsp;окрашивание.

          h3 Искусственные
          p Искусственное волокно иначе ведут себя при наращивании, но&nbsp;из-за доступности пользуются спросом. Искусственные прядки предпочтительны для кратковременного преображения или &laquo;примерки&raquo; нового образа.
          ul.list-marked
            li Из-за неестественного блеска искусственный материал отличается от&nbsp;собственных локонов;
            li Недопустим нагрев и&nbsp;окрашивание;
            li Непродолжительный срок службы, так как волокна начнут пушиться и&nbsp;растрепываться после третьего мытья;
            li Трудоемкий уход так как для этого не&nbsp;подходят привычные средства.

          h3 Какой донорский материал выбрать
          p Для наращивания предпочтительны славянские волосы, не&nbsp;подвергавшиеся обработке химическими составами. После наращивания такие волосы смотрятся естественно, сохраняют мягкость и&nbsp;шелковистость. При правильном уходе используются повторно. При ношении качественных донорских локонов человек не&nbsp;испытывает дискомфорт.

          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Кому стоит избегать бразильское наращивание?</h3>')
            p Тем, кто недавно столкнулся с&nbsp;потерей волос из-за теплового или химического повреждения. Ослабленные поврежденные пряди не&nbsp;выдержат вес донорского материала и&nbsp;выпадение усилится.
          +accordionItem('<h3>Сколько времени занимает процедура?</h3>')
            p Если ищете быстрое решение, то&nbsp;узелковое наращивание не&nbsp;для вас. Вплетение и&nbsp;крепление прядок занимает до&nbsp;4-6&nbsp;часов.
          +accordionItem('<h3>Сколько носится бразильское наращивание?</h3>')
            p У&nbsp;этого метода самый непродолжительный период носки&nbsp;&mdash; 3-5 недель в&nbsp;среднем.
          +accordionItem('<h3>Как снимать наращение?</h3>')
            p Разрезать нитки в&nbsp;узелках и&nbsp;расплести косички. Для коррекции добавляют новые нитки к&nbsp;донорским прядям для фиксации.
          +accordionItem('<h3>Какие преимущества у&nbsp;бразильского наращивания перед капсульным методом?</h3>')
            p Безопасность для здоровья шевелюры, так как не&nbsp;используются нагретые капсулы. По&nbsp;этой&nbsp;же причине метод считается гипоаллергенным. У&nbsp;ряда людей возникает аллергия на&nbsp;состав капсулы.
          +accordionItem('<h3>Можно&nbsp;ли плавать в&nbsp;бассейне с&nbsp;наращенными волосами?</h3>')
            p Да, но&nbsp;предварительно защитив их&nbsp;шапочкой.
          +accordionItem('<h3>Как часто делают узелковое наращивание?</h3>')
            p Бразильский метод хоть и&nbsp;относится к&nbsp;безопасным технологиям, его не&nbsp;рекомендуют проводить часто. Так как узелки и&nbsp;косички не&nbsp;дают полноценно ухаживать за&nbsp;шевелюрой. Из-за чего есть риск истончения и&nbsp;выпадения собственных локонов. Поэтому после снятия требуется 2-4&nbsp;недели, чтобы волосы &laquo;отдохнули&raquo;.
