extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Частичное наращивание волос
          .article-announcement
            .article-announcement__image
              +img({
                name: 'chastichnoe-1',
                path: '/images/info/narashchivanie-volos/metodiki/chastichnoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Частичное наращивание волос' title='Частичное наращивание волос').article-illustration
            p Чтобы удлинить челку или добавить объем макушке для завершенного вида прически, воспользуйтесь услугой &laquo;частичное наращивание волос&raquo;. Метод востребован у&nbsp;клиентов, столкнувшихся с&nbsp;потерей объема, неудачной стрижкой или окрашиванием, механическим или термическим повреждением шевелюры в&nbsp;определенной зоне. Важный критерий зональной коррекции&nbsp;&mdash; подбор натурального материала, идеально подходящего под родную структуру волос.
          
          <hr id="system-readmore" />
          h2 Что такое частичное наращивание волос?
          p Это неполное наращивание, увеличивающее длину или объем прически не&nbsp;по&nbsp;всей голове равномерно, а&nbsp;зонально. Метод интересен желающим нарастить только длину, тогда прядки крепятся на&nbsp;затылке. Зональная коррекция подойдет для создания эффекта контуринга при наращивании отдельных светлых прядок у&nbsp;лица. Частичный подход к&nbsp;удлинению дает возможность примерить желаемый образ, прежде чем решиться на&nbsp;кардинальные перемены.

          h3 Коррекция височной области
          p Помогает справиться с&nbsp;проблемой недостаточной длины и&nbsp;объема на&nbsp;висках. Самым удобным и&nbsp;незаметным вариантом для удлинения или придания объема вискам считается микрокапсульная техника. Для этого используются тоненькие донорские пряди и&nbsp;разогретая кератиновая капсула минимального размера. Невесомая нанокапсула и&nbsp;тонкий срез минимизируют нагрузку на&nbsp;волосяные фолликулы и&nbsp;избавляют от&nbsp;несовершенств прически.
          h3 Коррекция челки
          p Коррекция длины, объема, формы или цвета челки позволяет экспериментировать с&nbsp;разными образами и&nbsp;стилями, скрывает неудачно подстриженную или окрашенную челку. Для удлинения челки чаще применяют микрокапсульный метод и&nbsp;крепление на&nbsp;заколках.
          h3 Коррекция затылка
          p Частичное удлинение затылка, как правило, используют для увеличения длины шевелюры или создания объемного затылка. Наращение дает видимые и&nbsp;продолжительные результаты, когда нет терпения отращивать собственные волосы, а&nbsp;выглядеть сногсшибательно хочется уже сейчас. Наращенные пряди надежно скроют шрамы, создадут запоминающийся образ. В&nbsp;приоритете ленточный, капсульный или пришивной на&nbsp;косичку методы.
          +img({
            name: 'chastichnoe-2',
            path: '/images/info/narashchivanie-volos/metodiki/chastichnoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='1-й пример частичного наращивания волос' title='1-й пример частичного наращивания волос').article-illustration

          h2 Преимущества частичного наращивания
          ul.list-marked
            li Отдельно наращивается зона челки, висков или затылка;
            li Быстрая коррекция неудачных экспериментов с&nbsp;новым образом;
            li Маскировка поредения одной области:
            li Прическа с&nbsp;красочными эффектами без вреда для шевелюры;
            li Безопасность и&nbsp;экологичность;
            li Техническая вариативность метода.

          h2 Технологии частичного наращивания
          h3 Капсульная
          p Горячий капсульный метод&nbsp;&mdash; самая востребованная технология, так как дает естественный и&nbsp;продолжительный результат. Метод предполагает скрепление донорского материала и&nbsp;волос клиента расплавленным кератином, сформированным в&nbsp;капсулу.
          p Чем профессиональнее выполнена работа, тем естественнее результат. Кератиновые связи остаются незаметными, а&nbsp;выбор прически не&nbsp;имеет ограничений. Прочное крепление не&nbsp;повредит горячая сушка феном, ограничений по&nbsp;мытью головы тоже нет, на&nbsp;коррекцию приходят раз в&nbsp;3,5-4&nbsp;месяца.

          h3 Микрокапсульная
          p Принцип микрокапсульной технологии идентичен капсульному&nbsp;&mdash; родные и&nbsp;донорские пряди скрепляются миниатюрными капсулами. От&nbsp;классического капсульного отличается размером капсул и&nbsp;рабочего пинцета. Крепления размером 3&nbsp;мм уменьшают вес создаваемого наращения, снижая риск нежелательных последствий для корневой системы волос. Размер микрокапсулы позволяет скорректировать такие деликатные зоны как челка и&nbsp;виски. Правильно подобранные прядки наращения не&nbsp;отличаются от&nbsp;собственных.

          h3 Ленточная
          p Конкурентом капсульной технологии выступает ленточный метод, не&nbsp;оставляющий простора для фантазии стилиста, но&nbsp;безопасный для собственных локонов. Ведь для крепления используется не&nbsp;нагрев или кератин, а&nbsp;гипоаллергенный клей. На&nbsp;преображение уйдет не&nbsp;больше часа. Ленточное расширение по&nbsp;строению напоминает сэндвич&nbsp;&mdash; родная прядка располагается между двух клейких лент с&nbsp;донорским материалом. Имея трессы с&nbsp;прядями нужного цвета и&nbsp;оттенка, процедуру легко проводить дома.

          h3 Пряди на&nbsp;заколках
          p Волосы на&nbsp;заколках невероятно популярны, ведь метод успешно выполняет главную функцию наращивания&nbsp;&mdash; создает длинные и&nbsp;объемные локоны, которые становятся главным украшением девушки. Техника безопасна и&nbsp;не&nbsp;разрушает структуру стержня. В&nbsp;комплект для наращивания входят заколки с&nbsp;накладными прядями разной длины, ширины и&nbsp;формы.
          p К&nbsp;затылку логичнее прикрепить широкие полоски, а&nbsp;ближе к&nbsp;вискам&nbsp;&mdash; узкие. Это помогает хорошо замаскировать&nbsp;их, создав эффект натуральности.
          +img({
            name: 'chastichnoe-3',
            path: '/images/info/narashchivanie-volos/metodiki/chastichnoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Особенности частичного наращивания волос' title='Особенности частичного наращивания волос').article-illustration
          
          h2 Используемые волосы для наращивания
          h3 Натуральные
          p Перед началом процедуры мастер тестирует состояние шевелюры клиента, выбирает донорский материал. Для этого он&nbsp;оценивает не&nbsp;только цвет, но&nbsp;и&nbsp;структуру. Натуральные волосы дают максимально естественный результат, служат дольше, уход за&nbsp;ними не&nbsp;обременителен. Материал славянского происхождения ценится выше. Это фантастический выбор для тех, кто ищет высококачественные, прочные и&nbsp;долговечные расширения. Славянские срезы не&nbsp;путаются, их&nbsp;можно красить, укладывать щипцами и&nbsp;мочить.
          h3 Искусственные
          p Изготавливаются из&nbsp;разных синтетических волокон. Проще говоря, это тонкий пластик (акрил, нейлон, полиэстер), который изготавливают так, чтобы он&nbsp;выглядел как натуральные волосы. Для этого пластик нагревают и&nbsp;пропускают через крошечные трубочки, формирующие тонкую нить, которая выглядит и&nbsp;ощущается как волосы. Синтетический материал не&nbsp;выдерживает нагрев и&nbsp;негативно реагирует на&nbsp;красители, поэтому требует деликатного ухода. Больше подходит для кратковременных изменений&nbsp;&mdash; частичное наращивания волос лентами для длины или прядки на&nbsp;заколках.

          h2 Уход за&nbsp;наращением
          h3 Рекомендации по&nbsp;уходу
          h4 Мытье головы
          p Наращение требует особого ухода, так как стержни не&nbsp;получают питания в&nbsp;отличие от&nbsp;собственных волос. Поэтому донорские волосы дополнительно питают и&nbsp;увлажняют. Для этого разработали специальные шампуни и&nbsp;бальзамы, питательные маски и&nbsp;другие безсульфатные продукты, которые помогает подобрать мастер по&nbsp;наращиванию.
          p Если приобрели обычный шампунь, разбавьте его перед использованием теплой водой для предотвращения сильного пенообразования. Моют голову стоя, не&nbsp;наклоняясь вперед.
          h4 Расчесывание
          p Расчесываются аккуратно, распутывая волоски, чтобы не&nbsp;повредить места креплений. Разработаны специальные расчески с&nbsp;натуральной щетиной, шариками или петельками на&nbsp;концах зубьев для расчесывания прикорневой зоны. Чтобы избежать спутывания, длинные локоны на&nbsp;ночь заплетают в&nbsp;свободную косу.
          h4 Посещение бани
          p В&nbsp;бане или сауне прячьте волосы под специальную шапочку, чтобы избежать перегрева локонов и&nbsp;расплавления креплений. Если пряди наращены по&nbsp;холодной технологии, то&nbsp;сауны, бани или солярии противопоказаны. Будьте осторожны при купании и&nbsp;плавании в&nbsp;морской воде.

          h3 Частота коррекций
          +grid
            +grid__item({ m:3, xs:12 })
              +img({
                name: 'chastichnoe-4',
                path: '/images/info/narashchivanie-volos/metodiki/chastichnoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='2-й пример частичного наращивания волос' title='2-й пример частичного наращивания волос').article-illustration
            +grid__item({ m:9, xs:12 })
              p Периодичность коррекции зависит от&nbsp;скорости роста волос, метода наращивания. Стандартно коррекцию проводят при:
              ul.list-marked 
                li капсульном наращивании раз в&nbsp;3,5-4&nbsp;месяца;
                li ленточном&nbsp;&mdash; раз в&nbsp;1-2&nbsp;месяца.
              p Частичное наращивание на&nbsp;заколках снимают каждый день перед сном.

          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Как использовать бальзам?</h3>')
            p Чтобы наращенные волоски не&nbsp;спутывались, не&nbsp;игнорируйте бальзам. Но&nbsp;наносите его ниже места крепления прядей.
          +accordionItem('<h3>Какой вид наращивания считается самым щадящим?</h3>')
            p Холодные методики с&nbsp;использованием лент и&nbsp;пришивание трессов к&nbsp;косичке-основе. Горячее частичное наращивание дает долговременные результаты, но&nbsp;для это используется горячая смола.
          +accordionItem('<h3>Какие противопоказания к&nbsp;частичному наращиванию?</h3>')
            p Любой тип наращивания не&nbsp;рекомендуется при алопеции, кожных болезнях и&nbsp;аллергии (к&nbsp;гипоаллергенным методам относится пришивание тресса на&nbsp;косичке). Наращивание способно вызвать дискомфорт, если вы&nbsp;склонны к&nbsp;мигреням.
          +accordionItem('<h3>Подходит&nbsp;ли частичное наращивание каждому?</h3>')
            p Наращивание противопоказано истонченным, ослабленным и&nbsp;очень коротким волосам.

