extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Французское наращивание волос
          .article-announcement
            .article-announcement__image
              +img({
                name: 'frantsuzskoe-1',
                path: '/images/info/narashchivanie-volos/metodiki/frantsuzskoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Пряди для французского наращивания волос' title='Пряди для французского наращивания волос').article-illustration
          
            p Французская техника наращивания подходит желающим увеличить длину и&nbsp;объем шевелюры без повреждения. Методика позволяет достичь естественного результата и&nbsp;подходит для волос разной структуры и&nbsp;цвета.
          <hr id="system-readmore" />

          h2 Что такое французское наращивание волос?
          p Французское наращивание волос&nbsp;&mdash; востребованная методика, относящаяся к&nbsp;холодным технологиям. Для крепления используется клей и&nbsp;аппарат для его фиксации, что минимизирует травматичность собственных волос, если сравнивать с&nbsp;горячими методами. Минимальная исходная длина прядей клиента&nbsp;&mdash; 20&nbsp;см.
          p #[strong Клей:] используется трехкомпонентный клеевой состав (клей, активатор и&nbsp;краситель). Тонирующее вещество облегчает адаптацию наращений под естественный цвет локонов клиента. Затвердевший клей в&nbsp;форме плоской капсулы не&nbsp;заметен постороннему взгляду и&nbsp;не&nbsp;чувствуется при расчесывании.
          p #[strong Инструменты:] для работы с&nbsp;капсулами используются щипцы, которые размягчают и&nbsp;фиксируют клей на&nbsp;волосах у&nbsp;корней.

          h2 Преимущества и&nbsp;недостатки французского наращивания
          h3 Преимущества
          ul.list-marked
            li #[strong Незаметность:] капсулы маленького размера формируют незаметные крепления;
            li #[strong Долговечность:] наращение при правильном уходе носят до&nbsp;3-4&nbsp;месяцев;
            li #[strong Безопасность:] процедура не&nbsp;травмирует волосы клиента;
            li #[strong Универсальность:] тонирование капсул делает метод доступным для любого цвета локонов;
            li Возможность регулировать плотность донорских прядок.

          h3 Недостатки
          ul.list-marked
            li #[strong Требования к&nbsp;длине:] для обладателей очень коротких волос (короче 20&nbsp;см) французское наращивание недоступно;
            li #[strong Уход:] хотя последующий уход несложен, донорские пряди требуют регулярного внимания для поддержания аккуратного вида.

          h2 Процесс выполнения французского наращивания
          h3 Консультация
          p Клиент предварительно консультируется с&nbsp;мастером, где оценивается состояние волосяное покрова и&nbsp;определяется подходящая процедура для наращивания. Мастер подбирает донорские пряди по&nbsp;типу, длине и&nbsp;цвету, готовит необходимые инструменты. 
          h3 Подготовка
          p На&nbsp;этом этапе голову моют профессиональным шампунем глубокой очистки, чтобы удалить частицы средств для укладки, пота и&nbsp;жира. Это важно для надежного сцепления капсул и&nbsp;волос. Нанесение кондиционеров или масок перед наращиванием не&nbsp;рекомендуется, так как возрастает вероятность сползания клеевых капсул.
          h3 Нанесение клея и&nbsp;крепление прядей
          p Концы расширения и&nbsp;пряди клиента совмещаются, в&nbsp;область сращения наносится специальный клей. Используя щипцы, мастер формирует из&nbsp;клея капсулы. Крепление начинается с&nbsp;затылочной области, волосы делятся на&nbsp;зоны для удобства работы.
          h3 Стрижка и&nbsp;укладка
          p После завершения крепления выполняется адаптационная стрижка, чтобы сравнять переходы между натуральными и&nbsp;наращенными волосами, чтобы придать естественный вид прическе.
          +grid({ paddingy:true })
            +grid__item({ m:6, xs:12 })
              +img({
                name: 'frantsuzskoe-2',
                path: '/images/info/narashchivanie-volos/metodiki/frantsuzskoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Технология французского наращивания волос' title='Технология французского наращивания волос')
            +grid__item({ m:6, xs:12 })
              +img({
                name: 'frantsuzskoe-3',
                path: '/images/info/narashchivanie-volos/metodiki/frantsuzskoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Один из этапов французского наращивания волос' title='Один из этапов французского наращивания волос')
          h2 Преимущества славянских волос для наращивания
          ul.list-marked
            li #[strong Естественный вид:] Славянские срезы гармонично сливаются с&nbsp;натуральными локонами, что делает их&nbsp;идеальным выбором для создания естественного образа.
            li #[strong Качество и&nbsp;текстура:] материал отличается мягкостью, блеском и&nbsp;шелковистостью. У&nbsp;локонов тонкая структура, позволяющая их&nbsp;легко укладывать без спутывания в&nbsp;процессе носки.
            li #[strong Долговечность:] славянские расширения сохраняют первоначальный вид даже после нескольких коррекций. При правильном уходе сохраняют свойства год и&nbsp;больше.
            li #[strong Разнообразие цветов:] волосы доступны в&nbsp;широком спектре оттенков, что упрощает выбор нужного цвета.
            li #[strong Минимальная обработка:] славянские срезы чаще поставляются неокрашенными, что способствует их&nbsp;естественному виду и&nbsp;качеству. Они проходят кропотливую ручную обработку, включая дезинфекцию и&nbsp;укладку.
            li #[strong Универсальность:] они подходят как для горячего, так и&nbsp;холодного наращивания.

          h2 Уход после французского наращивания
          ul.list-marked
            li Первые два дня нельзя мыть волосы, а&nbsp;после этого для мытья используют шампунь, разведенный в&nbsp;воде; 
            li Включают в&nbsp;уход маски и&nbsp;бальзамы, стараясь не&nbsp;попадать на&nbsp;места крепления; 
            li Вытирают расширения медленно и&nbsp;осторожно, но&nbsp;не&nbsp;скручивающими движениями;
            li Если после мытья волос образовались узелки, их&nbsp;распутывают пока волосы влажные; 
            li Расчесывают аккуратно мягкими движениями. 
          p Учтите, что морская вода разрушает состав клея, поэтому после купания обладательницу наращивания может ждать неприятный сюрприз. В&nbsp;число запретов попали баня и&nbsp;сауна. Горячий воздух вреден для капсул, он&nbsp;ослабляет крепление и&nbsp;донорские пряди начинают сползать вниз. Отсюда рекомендации мастеров держать фен на&nbsp;расстоянии от&nbsp;головы при сушке.

          h2 Французское наращивание vs&nbsp;капсульное
          p Французское и&nbsp;капсульное&nbsp;&mdash; это две популярные техники, у&nbsp;каждой свои особенности, преимущества и&nbsp;недостатки.
          h3 Французское
          p Технология: метод относится к&nbsp;холодным техникам и&nbsp;использует клей для фиксации прядей. Позволяет наращивать волосы длиной до&nbsp;80&nbsp;см и&nbsp;подходит для первоначальной длины не&nbsp;короче 20&nbsp;см.
          p Преимущества:
          ul.list-marked
            li незаметность: капсулы маленькие и&nbsp;плоские, что делает их&nbsp;практически невидимыми;
            li тонирование: клей содержит тонирующее вещество, что позволяет подбирать оттенок под цвет шевелюры клиента;
            li долговечность: наращение держится до&nbsp;3-4 месяцев при правильном уходе.
          p Недостатки:
          ul.list-marked
            li ограничения по&nbsp;длине;
            li чувствительность к&nbsp;повреждениям.

          h3 Капсульное
          p Технология: чаще это итальянское наращивание, относящееся к&nbsp;горячей технологии. В&nbsp;этом методе донорские пряди крепятся к&nbsp;собственным кератиновыми капсулами, которые плавятся термическими щипцами, чтобы обеспечить прочное соединение. Исходная длина&nbsp;&mdash; не&nbsp;менее 5&nbsp;см.
          p Преимущества:
          ul.list-marked
            li естественный вид: крепления незаметны и&nbsp;позволяют создавать разнообразные прически;
            li долговечность: расширение держится до&nbsp;6&nbsp;месяцев при правильном уходе;
            li универсальность: доступны разные стили укладок.
          p Недостатки:
          ul.list-marked
            li стоимость;
            li необходимость специального ухода.
          p Выбор между французским и&nbsp;капсульным техниками зависит от&nbsp;предпочтений клиента, состояния его волосяного покрова и&nbsp;желаемого результата. Французское подходит тем, кто ищет легкий незаметный вариант, тогда как капсульное предлагает большую универсальность и&nbsp;долговечность.

          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Делают французское наращивание на&nbsp;тонкие локоны?</h3>')
            p Да, это безопасный метод для тонких и&nbsp;ослабленных волос.
          +accordionItem('<h3>Сколько донорских прядей используется?</h3>')
            p Используется до&nbsp;200 донорских прядей, плотность среза регулируется.
          +accordionItem('<h3>Окрашивают наращенные волосы?</h3>')
            p Да, но&nbsp;процедуру желательно доверить мастеру, чтобы он&nbsp;оценил состояние родных и&nbsp;донорских локонов, подобрал подходящий состав для окрашивания и&nbsp;покрасил, избегая места крепления.
          +accordionItem('<h3>Делают химическую завивку после наращивания?</h3>')
            p При холодном наращивании клеем не&nbsp;рекомендуется делать химическую завивку, чтобы не&nbsp;повредить крепления.
