extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Волосы для наращивания в срезе'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Капсуляция волос для наращивания в Санкт-Петербурге 
          p Капсуляция волос для наращивания&nbsp;&mdash; это технология обработки #[a(href='/shop/volosy-dlya-narashchivaniya/slavyanskie/srezy/') среза] или использованных ранее прядей, чтобы сформировать на&nbsp;них #[a(href='/shop/volosy-dlya-narashchivaniya/na-kapsulah/') кератиновые капсулы]. 
          //- +figure({
          //-   img: 'kapsuliatciia-1',
          //-   path: '/images/uslugi/kapsuliatciia-volos/',
          //- })
          +img({
            name: 'kapsuliatciia-1',
            path: '/images/uslugi/kapsuliatciia-volos/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })

          h2 Актуальность услуги 
          p Эффект наращивания зависит от&nbsp;качества донорских прядей, за&nbsp;счет которых увеличивают длину и&nbsp;густоту волос. 
          p Если процедуру проводят по&nbsp;горячей технологии, то&nbsp;предварительно важно выполнить капсуляцию срезов или&nbsp;же перекапсулировать пряди, использованные для предшествующего наращивания (актуально на&nbsp;этапе коррекции). 
          p Процедура предполагает существенные временные затраты и&nbsp;владение определенным навыком. Частая ситуация, когда к&nbsp;мастеру наращивания волос приходят клиенты с&nbsp;уже купленным срезом, чтобы заказать капсуляцию и&nbsp;нарастить волосы. 
          p Чтобы облегчить работу мастерам, способствовать повышению качества их&nbsp;сервиса, компания &laquo;Волосы&nbsp;24&raquo; выполнит капсуляцию срезов и&nbsp;использованных ранее в&nbsp;процессе наращивания прядей. Услугу оказываем непосредственно на&nbsp;нашем производстве. 

          h2 Суть капсуляции волос
          p Капсулирование волос для наращивания предполагает использование расплавленного кератина, которым пропитывают верхнюю часть прядей (речь о&nbsp;месте фиксации донорской пряди к&nbsp;волосам клиента). 
          +figure({
            img: 'kapsuliatciia-2',
            path: '/images/uslugi/kapsuliatciia-volos/',
            alt: 'Кератин для наращивания',
          })
          p Размер капсулы подбираем по&nbsp;желанию заказчика, но&nbsp;в&nbsp;этом вопросе советуем ориентироваться на&nbsp;исходную густоту волос, стрижку и&nbsp;наши профессиональные рекомендации. Так, для каждой длины волос подбираем максимально безопасный вес пряди. В&nbsp;целом&nbsp;же на&nbsp;выбор доступны стандартные, микро- и&nbsp;нанокапсулы. 

          h3 Особенности капсуляции
          ol.list-numbered 
            li 
              p Чтобы выполнить процедуру, мастер разогревает термощипцы до&nbsp;нужного температурного режима, расплавляет несколько гранул кератина, после чего пропитывает им&nbsp;верхушки прядей, чтобы обеспечить стабильную фиксацию и&nbsp;избежать вычесывания волосков в&nbsp;дальнейшем.
              +figure({
                img: 'kapsuliatciia-3',
                path: '/images/uslugi/kapsuliatciia-volos/',
                alt: 'Термощипцы, используемые для капсуляции волос',
              })

            li Используя щипцы для формирования капсул, придает им&nbsp;необходимую форму, а&nbsp;также аппарат способствует уплотнению волосков и&nbsp;максимальной степени твердости кератина.
            li Обрезает кончик капсулы, после чего бережно складывает донорские пряди, расфасовывая их&nbsp;в&nbsp;упаковки по&nbsp;20&nbsp;штук. 

          h2 Подготовка к&nbsp;капсулированию волос в&nbsp;разных случаях
          h3 При покупке волос в&nbsp;срезе
          ol.list-numbered 
            li Обращаясь к&nbsp;нам, вы&nbsp;получаете помощь с&nbsp;подбором донорских прядей: учитываем ваши пожелания по&nbsp;длине либо наш мастер делится своими советами.
            li Подбираем подходящий оттенок волос, который совпадает с&nbsp;оттенком родной шевелюры (допустимо комбинировать несколько цветов). 
            li Рассчитываем вес, ориентируясь на&nbsp;необходимое количество прядей или&nbsp;же согласовываем нужный вес с&nbsp;клиентом.
            li Согласовываем необходимую величину прядей и&nbsp;капсул, которые необходимо создать.
            li Подбираем оттенок кератина, используя прозрачный либо цветной, в&nbsp;зависимости от&nbsp;рекомендаций мастера или пожеланий заказчика.

          h3 При передаче на&nbsp;капсуляцию среза волос, купленного в&nbsp;другом магазине
          ol.list-numbered 
            li Принимаем срез в&nbsp;работу.
            li Согласовываем величину капсулы и&nbsp;наполняемость пряди.
            li Подбираем необходимый оттенок кератиновых гранул. 
            li Рассчитываем ориентировочный срок ожидания готовности капсулированных прядей.
            li Если при анализе состояния волос, купленных в&nbsp;другом магазине, выяснилось наличие силикона, мастер использует специальный очищающий шампунь и&nbsp;обезжириватель, чтобы обеспечить улучшенное крепление кератина к&nbsp;прядям, за&nbsp;счет чего волоски будут прочно держаться и&nbsp;не&nbsp;вычесываться. 

          h3 При сдаче волос на&nbsp;перекапсуляцию 
          ol.list-numbered 
            li Принимаем капсулированные пряди в&nbsp;работу.
            li Обсуждаем величину капсулы, согласовывая необходимость объединения некоторых прядей, если они истончены. 
            li Выбираем подходящий цвет кератиновых гранул. 
            li Уведомляем о&nbsp;сроке выполнения заказа.
            li Обрезаем старые капсулы, покрываем верхушки волос расплавленным кератином, тщательно пропитывая пряди.
            li Используем щипцы для формирования капсул, чтобы придать им&nbsp;необходимую форму и&nbsp;прочно закрепить волоски.
            li Обрезаем кончики прядок, связываем их&nbsp;воедино. 

          h2 Преимущества услуги капсуляции
          ul.list-marked 
            li За&nbsp;счет профессионального капсулирования волос для наращивания кератином достигаются надежная и&nbsp;прочная фиксация донорских прядей.
            li Поскольку подобран оптимальный вес, а&nbsp;мастера вручную формируют капсулы, они не&nbsp;ощущаются, не&nbsp;создают дискомфортное ощущение во&nbsp;время ношения, а&nbsp;также исключено их&nbsp;склеивание, благодаря чему женщина, которой нарастили волосы, может вести активный образ жизни, посещать сауну, баню, купаться в&nbsp;море.
            li Длительный срок ношения. Кератиновые пряди сохранят безупречность прически в&nbsp;течение 2,5-3-х месяцев, подходят для 3-4&nbsp;коррекций. 
            li Аккуратные, крошечные по&nbsp;размеру капсулы способствуют тому, что границы между накладными и&nbsp;собственными прядями не&nbsp;видно.
            li Создание оптимального объема. Кератиновые пряди придают густоту шевелюре, даже в&nbsp;случае наращивания на&nbsp;длинные волосы.
            li Возможность ускорить длительность процедуры наращивания: для воплощения желаемого результата достаточно 3-4&nbsp;часов, в&nbsp;зависимости от&nbsp;количества прядей.
            li Кератиновые пряди&nbsp;&mdash; идеальное решение для наращивания даже на&nbsp;короткие волосы (от&nbsp;5-7&nbsp;сантиметров). 

          h2(style="margin-bottom: 1.25rem;") Почему капсуляцию волос для наращивания в&nbsp;Санкт-Петербурге лучше делать в&nbsp;компании &laquo;Волосы&nbsp;24&raquo;? 
          +grid({ tag: 'ul', paddingy:true })
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'hairExtension': true }) Используем отборные волосы собственного производства&nbsp;&mdash; натуральные славянские.
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'checklist': true }) Качество и&nbsp;соответствие санитарным нормам подтверждено экспертным заключением Роспотребнадзора. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'like': true }) Пряди окрашены бережным способом, сохранена структура и&nbsp;кутикула.
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'insurance': true }) Мы&nbsp;единственная компания, которая предлагает гарантию на&nbsp;волосы, действующую 1&nbsp;месяц с&nbsp;даты покупки. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({'fullService': true }) Производственный процесс организован по&nbsp;международным стандартам. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'hair': true }) Волосы не&nbsp;обработаны силиконом, без &laquo;перевертышей&raquo;, с&nbsp;плотным краем, одного тона от&nbsp;корней до&nbsp;кончиков, а&nbsp;также по&nbsp;максимуму сохранена структура волос. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'qualityAssurance': true }) Используем только сырье, в&nbsp;качестве которого убедились лично. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'femaleHairs': true }) Пряди нашего производства&nbsp;&mdash; шелковистые, не&nbsp;обработанные химическим способом, предназначенные для многократной капсуляции волос.

          h2 Цена на&nbsp;капсулирование волос в&nbsp;Санкт-Петербурге в&nbsp;компании &laquo;Волосы&nbsp;24&raquo;
          p Стоимость зависит от&nbsp;цены прядей, их&nbsp;количества, работы мастера. Цена капсуляции одной пряди составляет 15&nbsp;рублей, при капсуляции волос длиной до&nbsp;65&nbsp;см, и&nbsp;20&nbsp;руб.&nbsp;за&nbsp;прядь&nbsp;&mdash; при длине более 65&nbsp;см. Точную сумму рассчитаем в&nbsp;момент оформления заказа на&nbsp;услугу. 
          p Задать свои вопросы и&nbsp;сделать заказ&nbsp;Вы можете либо по&nbsp;e-mail: #[a(href='mailto:market@volosy24.ru') market@volosy24.ru], либо по&nbsp;тел.: #[a(href='tel:78126123736') +7 (812) 612-37-36].
