extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Кератиновое наращивание волос
          .article-announcement
            .article-announcement__image
              +img({
                name: 'keratinovoe-1',
                path: '/images/info/narashchivanie-volos/metodiki/keratinovoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              }).article-illustration
            p Кератиновое наращивание волос, как и&nbsp;другие техники, используют для удлинения и&nbsp;придания объема прическе. Вместо колец, нитей или клейкой ленты донорские пряди крепят расплавленным кератином. Метод славится прочным креплением, естественным видом и&nbsp;сроком службы до&nbsp;6&nbsp;месяцев, поэтому его выбирают большинство парикмахеров и&nbsp;клиентов. Индустрия красоты предлагает широкий выбор кератиновых наращиваний, что дает возможность выбрать идеальный вариант для своего типа волос.
          
          <hr id="system-readmore" />
          h2 Что такое кератиновое наращивание?
          p Кератиновую технику еще называют горячим методом наращивания, так как для скрепления прядок используется расплавленный горячий кератин. Капсулирование волос для наращивания кератином делают во&nbsp;время процедуры или берут уже готовые пряди с&nbsp;капсулой. После затвердения крепления остаются невидимыми и&nbsp;дают естественный результат. В&nbsp;зависимости от&nbsp;объема наращиваемого материала, процедура может занять до&nbsp;4&nbsp;часов.
          p По&nbsp;мере отрастания волос капсулы спускаются и&nbsp;прическе требуется коррекция (в&nbsp;среднем через 4&nbsp;месяца), чтобы крепления не&nbsp;бросались в&nbsp;глаза. 
          
          h2 Преимущества кератинового крепления
          p Это крепление представляет собой белковую связь, поэтому идентично молекулярной структуре волосяных стержней. Наращивание с&nbsp;кератиновой связью не&nbsp;только имитирует внешний вид и&nbsp;ощущение натуральных волос, но&nbsp;и&nbsp;ведет себя как натуральные волосы. Например, человеческие волосы расширяются и&nbsp;сжимаются на&nbsp;5&ndash;7&nbsp;%, когда мокрые. Кератиновое крепление делает то&nbsp;же самое&nbsp;&mdash; сужается, когда мокрое, и&nbsp;расширяется вместе с&nbsp;волосами после высыхания. 
          p Это сжимание и&nbsp;расширение позволяет креплению дышать вместе с&nbsp;натуральными прядями, что важно для предотвращения повреждения собственных волос.
          +img({
            name: 'keratinovoe-2',
            path: '/images/info/narashchivanie-volos/metodiki/keratinovoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          }).article-illustration
          h2 Виды кератинового наращивания
          p Существует два основных типа кератинового наращивания: горячее и&nbsp;холодное. При горячем кератин крепится к&nbsp;волосам с&nbsp;помощью тепла, а&nbsp;при холодном&nbsp;&mdash; с&nbsp;помощью ультразвуковых волн. Оба метода эффективны и&nbsp;имеют уникальные преимущества.
          
          h3 Горячий метод
          h4 Итальянский
          p Это классика кератинового наращивания. Техника подразумевает наращивание натуральных донорских прядей с&nbsp;основой на&nbsp;кератиновой капсуле природного происхождения. Используется материал разной длины и&nbsp;цвета, что дает возможность обрести роскошную шевелюру на&nbsp;продолжительное время с&nbsp;периодической коррекцией.
          
          h4 Английский
          p Вначале формируют необходимое количество пучков донорских волос нужной толщины, затем наносят расплавленный кератин на&nbsp;концы прядей. Концы покрывают полностью кератином, чтобы исключить вероятность выпадения наращения.
          p После этого специальными плоскогубцами запечатывают обработанные кератином концы наращенных волос. На&nbsp;следующем этапе пучки наращивания помещаются на&nbsp;волосы клиента близко к&nbsp;коже головы и&nbsp;аккуратно скрепляются методом нагрева клеевого кератинового вещества.
          
          h4 Микрокапсуляция
          p Это уникальная техника, позволяющая нарастить даже короткие стрижки. Рекомендуется для тонких, коротких или поврежденных локонов. Для процедуры используются тончайшие прядки и&nbsp;крошечные капсулы. Метод применяют даже для удлинения челки и&nbsp;висков. При этом капсулы остаются незамеченными. Благодаря малому весу не&nbsp;утяжеляют и&nbsp;не&nbsp;повреждают собственную шевелюру.
          +grid({ paddingy:true })
            +grid__item({ m:6, xs:12 })
              +img({
                name: 'keratinovoe-3',
                path: '/images/info/narashchivanie-volos/metodiki/keratinovoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })
            +grid__item({ m:6, xs:12 })
              +img({
                name: 'keratinovoe-4',
                path: '/images/info/narashchivanie-volos/metodiki/keratinovoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })
          h3 Холодный метод
          p Подобно горячим технологиям ультразвуковой основан на&nbsp;креплении донорских прядей кератиновыми капсулами. Но&nbsp;размягчается кератин не&nbsp;нагревательным прибором, а&nbsp;с&nbsp;помощью ультразвуковых импульсов. Главное достоинство ультразвукового наращивания&nbsp;&mdash; безопасность, а&nbsp;также высокая точность прикрепления за&nbsp;счет локальной подачи импульса. 
          
          h2 Как проводится процедура
          h3 Подготовительный этап
          p #[strong Волосы моются очищающим шампунем и&nbsp;высушиваются.] Очищающий шампунь смывает масла и&nbsp;остатки продуктов с&nbsp;волос, чтобы кератиновый клей прочно сцепился с&nbsp;локонами клиента. Наращения могут быстро выпасть, если вы&nbsp;не&nbsp;получится хорошего сцепления.
          p Все волосы собираются на&nbsp;макушке и&nbsp;с&nbsp;помощью расчески с&nbsp;гребнем или пальцами отделяется нижнюю прядь длиной 2,5&nbsp;см. Горизонтальная прядь волосяного полотна должна тянуться от&nbsp;одного уха до&nbsp;другого.
          
          h3 Наращивание
          p С&nbsp;помощью хвостика расчески отделяют тонкую прядку толщиной равной толщине наращивания, которая вставляется в&nbsp;круг шаблона, чтобы защитить кожу головы. Под прядкой оставляют слой волос, который будет маскировать место сращение при высоких прическах.
          ol.list-numbered
            li Донорскую прядь совмещают с&nbsp;собственной не&nbsp;дальше 2,5&nbsp;см от&nbsp;кожи головы. Кончик с&nbsp;кератином обращен в&nbsp;сторону корней.
            li Нагретым инструментом на&nbsp;5&nbsp;секунд обхватывают капсулу и&nbsp;прядку волос клиента. Расплавившийся кератин скрепляет накладные и&nbsp;родные пряди, его сжимают между пальцами и&nbsp;раскатывают.
            li Ряд за&nbsp;рядом и&nbsp;прядь за&nbsp;прядью стилист повторяет процесс, начиная сначала с&nbsp;затылка и&nbsp;продвигаясь к&nbsp;макушке и&nbsp;бокам головы. Верхние слои волос остаются нетронутыми, так как важно, чтобы они ниспадали на&nbsp;нижние слои для маскировки кератиновых связей.
            li В&nbsp;конце полной установки стилист смешивает наращенные и&nbsp;родные волосы для естественного результата. Адаптация наращивания включает филирование, завивку или выпрямление утюжком.
          p После завершения процедуры дайте кератиновому клею остыть минут&nbsp;30, прежде чем расчесывать волосы. Подождите 48&nbsp;часов, прежде чем мыть голову, чтобы связи надежно закрепились.
          
          h2 Плюсы и&nbsp;минусы кератинового наращивания
          h3 Преимущества
          ul.list-marked 
            li Естественный вид и&nbsp;ощущения;
            li Надежная фиксация;
            li Безопасность;
            li Универсальность;
            li Доступны разные варианты укладки;
            li Многоразовое использование донорских прядей;
            li При использовании микрокапсул уплотняют челку, макушку и&nbsp;зону висков.
          p Наращивания из&nbsp;высококачественных, натуральных волос прослужат до&nbsp;6-12 месяцев при правильном уходе и&nbsp;обслуживании. Это определенно отличная новость для тех, кто задавался вопросом, стоит&nbsp;ли кератиновое сращивание таких трат.
          h3 Недостатки
          ul.list-marked 
            li Продолжительность процедуры до&nbsp;3-4&nbsp;часов;
            li Специальные расчески и&nbsp;средства по&nbsp;уходу;
          
          h2 Последующий уход
          h3 Мытье
          p Мойте волосы 3-4 раза в&nbsp;неделю качественными средствами без сульфатов. Купите шампунь и&nbsp;кондиционер без сульфатов с&nbsp;большим количеством протеинов и&nbsp;увлажняющих ингредиентов, чтобы сохранить локоны здоровыми и&nbsp;сильными. Вымойте наращенные волосы: нанесите аккуратно взбитую пену шампуня на&nbsp;волосяное полотно сверху вниз и&nbsp;тщательно промойте. Нанесите кондиционер от&nbsp;середины стержня до&nbsp;кончиков и&nbsp;также тщательно промойте.
          ul.list-marked 
            li Сульфаты разрушают кератиновый клей и&nbsp;приводят к&nbsp;выпадению наращенных волосков.
            li На&nbsp;этикетке продукта, как правило, указано &laquo;без сульфатов&raquo;. Чтобы подтвердить это, проверьте ингредиенты на&nbsp;наличие лаурилсульфата натрия или лауретсульфата натрия.
          
          h3 Сушка
          p Тщательно высушите шевелюру феном на&nbsp;низкой температуре после мытья. Если хотите ограничить влияние термоинструментов, сначала дайте волосам подсохнуть на&nbsp;воздухе, а&nbsp;затем завершите сушку феном. Убедитесь, что корни тоже просушены. Во&nbsp;влажном состоянии пряди легко травмировать.
          
          h3 Расчесывание
          p Расчесывайте волосы щеткой для наращивания, чтобы предотвратить спутывание. Расчесываются хотя&nbsp;бы раз в&nbsp;день, чтобы избавиться от&nbsp;любых узлов и&nbsp;запутывания. 
          
          h2 Укладка
          p Укладывайте прическу привычным способом, используя легкие средства для укладки. Кератиновые накладные локоны укладывают так&nbsp;же, как собственные, так что не&nbsp;стесняйтесь экспериментировать с&nbsp;разными образами. Гель, мусс и&nbsp;другие средства для укладки безопасны в&nbsp;использовании, но&nbsp;придерживайтесь легких формул без содержания масел.
          ul.list-marked 
            li Накопление большого количества продуктов и&nbsp;масел ослабит кератиновые связи.
            li Наращения не&nbsp;будут видны, если шевелюра собрана в&nbsp;хвост, узел на&nbsp;макушке или другие прически. Стоит избегать полухвостов, так как крепления могут быть видны.
          
          h2 Как часто делать коррекцию?
          p Снимают кератиновое наращивание через 3&ndash;6 месяцев после установки. Крепления могут прослужить до&nbsp;6&nbsp;месяцев, если правильно за&nbsp;ними ухаживать. Но&nbsp;не&nbsp;превышайте отметку в&nbsp;6&nbsp;месяцев&nbsp;&mdash; это сильно нагружает и&nbsp;утяжеляет собственные локоны, что приведет к&nbsp;повреждению и&nbsp;выпадению волос.
          ul.list-marked 
            li Если хотите повторно сделать кератиновое наращивание, дайте волосяным луковицам отдохнуть 1&ndash;2 недели перед тем, как накладывать новые пряди.
          
          h2 Противопоказания
          ul.list-marked
            li Антибактериальная и&nbsp;химическая терапия;
            li Алопеция любой формы;
            li Несовершеннолетие;
            li Аллергия на&nbsp;компоненты кератинового крепления;
            li Период беременности и&nbsp;лактации;
            li Дерматологические болезни;
            li Открытые повреждения кожного покрова головы.
          h2 Часто задаваемые вопросы
          +accordionItem('<h3>Стандартные советы после кератинового наращивания?</h3>')
            ul.list-marked
              li Нормально, если первые несколько недель места крепления вызывают легкий дискомфорт;
              li Ограничьте плавание без шапочки, поскольку соленая и&nbsp;хлорированная вода способна ослабить связи между прядями;
              li Если волоски спутываются во&nbsp;время сна, заплетите их&nbsp;в&nbsp;свободную косу или соберите в&nbsp;высокий хвост вечером.
          +accordionItem('<h3>Используют повторно наращенные пряди?</h3>')
            p Да, кератиновые наращивания используются повторно до&nbsp;трех раз. Конечно, качество внешнего вида зависит от&nbsp;ухода и&nbsp;бережного отношения. Регулярное нежное расчесывание и&nbsp;правильное мытье продляет жизнь наращивания.
          +accordionItem('<h3>Окрашивают&nbsp;ли наращивание?</h3>')
            p Да, для окрашивания подходят средства с&nbsp;низким содержанием окислителя, не&nbsp;выше 3&nbsp;%. Лучше распрощаться с&nbsp;агрессивными красками. Вместо этого использовать профессиональные щадящие составы без аммиака. Достойной альтернативой стойким краскам выступают оттеночные шампуни, тоники и&nbsp;бальзамы.
          +accordionItem('<h3>Как снимать кератиновые крепления?</h3>')
            p Разделите волосы и&nbsp;заколите&nbsp;их, чтобы обнажить нижний ряд накладок. Покройте каждую капсулу гелем для удаления кератиновой связи, которые растворяют кератин и&nbsp;делают процесс удаления безболезненным. Зажмите склеенную область 8-10 раз инструментом для ослабления крепления и&nbsp;удаления кератина. Возьмите накладные пряди в&nbsp;области крепления и&nbsp;потяните вниз. Удалите с&nbsp;собственных и&nbsp;донорских волос остатки кератина расческой.
