extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Наращивание на косичках
          .article-announcement
            .article-announcement__image
              +img({
                name: 'na-kosichku-1',
                path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-na-kosichku/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Наращивание волос на косичку' title='Наращивание волос на косичку').article-illustration
            p Трудно не&nbsp;завидовать голливудским дивам, которые демонстрируют длинные и&nbsp;густые локоны. Наращивание волос на&nbsp;косички добавит вашей шевелюре пышность и&nbsp;длину, достойные красной дорожки. На&nbsp;сегодня это одна из&nbsp;безопасных техник, которая получила признание мастеров и&nbsp;клиентов. Ни&nbsp;одна другая технология не&nbsp;дает бережное, естественное, но&nbsp;при этом радикальное изменение прически.
          
          <hr id="system-readmore" />
          p Расширение на&nbsp;косичку укладывают, красят и&nbsp;ухаживают как за&nbsp;собственными волосами. Пряди выглядят бесшовно и&nbsp;естественно, что делает вплетение волос в&nbsp;наращивание любимым методом тех, кто ищет потрясающее преображение.

          h2 Немного истории
          p Впервые эта техника стала применяться для перевоплощения актрис Голливуда во&nbsp;время съёмок в&nbsp;кино (отсюда и&nbsp;второе название метода&nbsp;&mdash; голливудское наращивание). Для этого стилисты и&nbsp;парикмахеры прикрепляли вначале клейкими лентами, затем нитками наращивание на&nbsp;микрокосички, заплетенные из&nbsp;собственных волос на&nbsp;затылке. Такой метод предупреждает их&nbsp;дальнейшее спутывание и&nbsp;не&nbsp;влияет негативно на&nbsp;локоны клиентов.
          p За&nbsp;годы трансформаций техника получила мировое признание, стала удобнее и&nbsp;безопаснее, а&nbsp;время ношения прядей увеличилось.

          h2 Что такое наращивание волос на&nbsp;косички?
          p Наращивание волос плетением подразумевает пришивание тресса (пряди волос, скрепленные сверху тканевой полосой или строчкой) к&nbsp;заплетенным горизонтальным косичкам-основам на&nbsp;затылке. Метод чаще выбирают обладатели средней густоты и&nbsp;густой шевелюры, так как из&nbsp;тонких волосков не&nbsp;получится надежная основа для тресса, и&nbsp;есть вероятность повреждения стержней и&nbsp;луковиц в&nbsp;процессе носки наращения.
          p При наращивании трессами на&nbsp;горизонтальную косичку волосы не&nbsp;травмируются клеевыми составами и&nbsp;не&nbsp;подвергаются термическому воздействию, так как в&nbsp;процессе используется только хлопковая нить. Место плетения косичек меняют каждую коррекцию, чтобы не&nbsp;допустить утомляемость волосяных фолликулов. Коррекцию делают раз в&nbsp;1,5-2,5 месяца в&nbsp;зависимости от&nbsp;скорости волосяного роста.

          h3 Описание метода
          p Наращивание волос на&nbsp;косы включает:
          ol.list-numbered
            li плетение горизонтальной косы (для большей пышности прически плетут 2&nbsp;и&nbsp;более основы);
            li пришивание тресса к&nbsp;основе с&nbsp;помощью изогнутой иглы и&nbsp;ниток;
            li адаптационную стрижку, укладку или окрашивание.
          p В&nbsp;целом процедура занимает 1,5-3&nbsp;часа. Наращенные пряди красят, моют, укладывают и&nbsp;расчесывают. А&nbsp;благодаря тому, что при закреплении прядей не&nbsp;используются вредные вещества (например, клей), родные волосы не&nbsp;повреждаются. Наращенные таким образом натуральные локоны ничем не&nbsp;отличаются от&nbsp;настоящих: с&nbsp;ними можно плавать в&nbsp;бассейне, посещать сауну, наносить маски и&nbsp;бальзамы.
          h3 Виды волос для наращивания
          p #[strong Натуральные волосы]&nbsp;&mdash; лучший выбор для наращивания. Они выглядят так&nbsp;же, как собственные и&nbsp;поэтому уход не&nbsp;отличается от&nbsp;привычного: наращенные пряди моют, сушат и&nbsp;укладывают. После снятия расширения трессы используют повторно. При правильном уходе человеческие волосы сохраняют товарный вид до&nbsp;3-4&nbsp;коррекций.
          p #[strong Синтетические волокна] стоят дешевле, но&nbsp;не&nbsp;выглядят естественно и&nbsp;теряют привлекательный вид быстрее. Также не&nbsp;каждый материал можно подвергать нагреву. Чтобы не&nbsp;повредить структуру, при расчесывании используют щетку с&nbsp;мягкой щетиной. Несмотря на&nbsp;недостатки, синтетические волокна считаются отличным выбором временного преображения.
          +img({
            name: 'na-kosichku-2',
            path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-na-kosichku/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Способ наращивания волос на косичку' title='Способ наращивания волос на косичку').article-illustration

          h2 Преимущества и&nbsp;недостатки наращивания на&nbsp;косички
          h3 Преимущества
          ul.list-marked
            li #[strong Мгновенное преображение:] процедура добавляет сногсшибательный объем и&nbsp;длину за&nbsp;считанные минуты;
            li #[strong Естественность:] безупречное сочетание с&nbsp;собственными волосами дает максимально естественный результат;
            li #[strong Комфорт и&nbsp;безопасность:] безопасное наращивание волос на&nbsp;косички гарантирует плотное и&nbsp;комфортное прилегание наращения;
            li #[strong Вариативность укладки:] наращиванию трессов на&nbsp;основу доступно большинство вариантов укладки;
            li #[strong Многоразовое использование:] наслаждайтесь бесконечными возможностями укладки трессов с&nbsp;натуральными прядями;
            li #[strong Универсальность:] метод комбинируют с&nbsp;другими техниками наращивания для коррекции длины или объема челки и&nbsp;висков.
          p При наращивании волос на&nbsp;микрокосички не&nbsp;требуется перерыв между процедурами, так как косички не&nbsp;плетут на&nbsp;одном и&nbsp;том&nbsp;же месте, а&nbsp;перемещают вверх или вниз при коррекции.

          h3 Недостатки
          ul.list-marked
            li Не&nbsp;подходит для коротких стрижек, допустима длина прядей 10-15&nbsp;см;
            li Не&nbsp;увеличивает волосяную плотность в&nbsp;области висков и&nbsp;челки, поэтому миксуется с&nbsp;микрокапсулированием;
            li Не&nbsp;подходит для тугих и&nbsp;высоких причесок, из-за чего аккуратно подходят к&nbsp;выбору причесок с&nbsp;высокими хвостами и&nbsp;пучками.
          +img({
            name: 'na-kosichku-3',
            path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-na-kosichku/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Этапы наращивания волос на косичку' title='Этапы наращивания волос на косичку').article-illustration

          h2 Техника пришивания волос на&nbsp;косичку
          p Тресс изготавливается индивидуально под конкретного клиента. Затем его разрезают на&nbsp;части, которые одна за&nbsp;другой пришиваются к&nbsp;косичке. Одна косичка составляет один ряд. В&nbsp;среднем пришивают 3-5&nbsp;рядов, что зависит от&nbsp;пожеланий клиента и&nbsp;густоты его шевелюры.
          h3 Подготовительный этап
          p #[strong Волосы моются и&nbsp;кондиционируются.] Затем высушиваются феном и&nbsp;расчесываются. Наращивание не&nbsp;будет хорошо держаться на&nbsp;жирных прядях.
          p #[strong Делается пробор.] Волосяное полотно делится горизонтальным пробором в&nbsp;зоне затылка, где планируется наращивание. Делается еще один пробор, отступив немного от&nbsp;первого, чтобы создать тонкую &laquo;линию&raquo; волос для плетения косички-корнроу, которая послужит &laquo;якорем&raquo; для пришивания наращивания.

          h3 Плетение косичек
          p #[strong Берется три небольших одинакового размера прядки из&nbsp;оставленной полоски волос.] Важно, чтобы готовая коса не&nbsp;была громоздкой и&nbsp;не&nbsp;создавала выпуклость под накладными прядями, а&nbsp;также хорошо промывалась и&nbsp;сушилась.
          p #[strong Плетение.] Подводится правая прядь под центральную, затем левая перекидывается под той, которая теперь находится в&nbsp;центре. Схема &laquo;крест-накрест&raquo; повторяется вдоль всего пробора для создания одной непрерывной косы-корнроу. Плетение начинают с&nbsp;краев и&nbsp;двигаются к&nbsp;центру затылка. Косички плетутся туго, но&nbsp;так, чтобы клиент не&nbsp;чувствовал дискомфорт. В&nbsp;завершении концы скрепляются резинкой.

          h3 Закрепление трессов
          p #[strong Вдевается нить в&nbsp;иглу.] Отрезается нить длиной 120&nbsp;см и&nbsp;продевается в&nbsp;ушко изогнутой иглы. Нить тянется, пока не&nbsp;сложится пополам.Работают двойной нитью, связанной надежным узлом.
          p #[strong Пришивание трессов начинается от&nbsp;основания головы у&nbsp;затылка.] Шьют так, чтобы трессы располагались близко к&nbsp;голове без зазоров. Завязывают конец дважды для дополнительной безопасности. Края нити подстригаются на&nbsp;обоих концах расширения.
          p #[strong Адаптационная стрижка.] В&nbsp;зависимости от&nbsp;привычной прически, может потребоваться стрижка. Делается адаптационная стрижка или прическа, создающая новый образ.

          h2 Коррекция
          p Естественные локоны, прикрывающие область крепления трессов, не&nbsp;перестают расти, косичка ослабевает. Поэтому наращивание требует коррекции. В&nbsp;ходе этой процедуры пришитые пряди аккуратно снимаются, а&nbsp;косички, служащие основой, расплетаются. После этого заплетают косички на&nbsp;новом месте, к&nbsp;которым вновь пришивается тресс.

          h2 Последующий уход
          p #[strong Мойте голову деликатно.] Мойте и&nbsp;кондиционируйте волосы сверху вниз в&nbsp;вертикальном положение, но&nbsp;не&nbsp;вниз головой. Нанесите шампунь на&nbsp;ладони, взбейте и&nbsp;проведите ими по&nbsp;волосам.
          ul.list-marked
            li Выбирайте восстанавливающие влажность шампуни и&nbsp;кондиционеры. Несмываемый спрей-кондиционер отлично подойдет для обработки кончиков.
            li Будьте предельно осторожны, расчесываясь. Медленно двигайтесь от&nbsp;кончиков вверх, аккуратно по&nbsp;ходу распутывая узелки. Не&nbsp;дергайте, не&nbsp;трите и&nbsp;не&nbsp;чешите пряди.
          p #[strong Будьте сдержаны с&nbsp;количеством средств для укладки.] Используют мусс, гель и&nbsp;лак на&nbsp;наращенных прядях, если эти средства не&nbsp;содержат спирта. Лучше избегать блесков, блесток или масел.
          p #[strong Готовьтесь ко&nbsp;сну.] Перед сном заплетите шевелюру в&nbsp;две боковые косички или соберите их&nbsp;в&nbsp;свободный хвост, чтобы предотвратить запутывание. Если завили локоны, попробуйте спать на&nbsp;атласной подушке, чтобы кудри не&nbsp;распались.
          p #[strong Защищайте наращивание во&nbsp;время плавания.] Соленая и&nbsp;хлорированная вода сушат волосы, вызывая ломкость. Поэтому перед плаваньем надевайте защитную шапочку.
          ul.list-marked
            li Заплетите пряди перед купанием в&nbsp;косы, чтобы предотвратить запутывание.

          h2 Часто задаваемые вопросы и&nbsp;ответы
          +accordionItem('<h3>Можно&nbsp;ли делать прически на&nbsp;наращенные волосы?</h3>')
            p Часто женщины после процедуры предпочитают простые укладки. Но, как показывает практика, пришивное наращивание достойно переносит даже сложные варианты причесок, например, свадебные или вечерние.
            p Прически для длинного наращивания предполагают укладку при помощи утюжков, фена, закрепления шпильками и&nbsp;невидимками, так, чтобы крепление тресса оставалось незаметным.
          +accordionItem('<h3>Какое наращивание лучше капсульное или трессы на&nbsp;косичке?</h3>')
            p Если из&nbsp;наращенных прядей планируется делать тугие прически, то&nbsp;лучше выбрать капсульное, где крепления малозаметны. Однако капсулирование в&nbsp;среднем занимает 5&nbsp;часов, а&nbsp;пришивание прядей&nbsp;&mdash; час-полтора. Еще различается продолжительность ношения донорских прядей&nbsp;&mdash; голливудское наращивание требует коррекции каждые 1,5&ndash;2&nbsp;месяца, а&nbsp;капсульное&nbsp;&mdash; раз в&nbsp;4&ndash;5.
          +accordionItem('<h3>Делают хвост с&nbsp;расширением на&nbsp;косичке?</h3>')
            p Делают, но&nbsp;не&nbsp;всегда. Решение зависит от&nbsp;плотности волос в&nbsp;височной зоне. При достаточной густоте волосяное полотно перекроет место крепления тресса и&nbsp;хвост будет смотреться гармонично. Если плотность волос низкая, аккуратного и&nbsp;гладкого хвоста не&nbsp;получится.
          +accordionItem('<h3>Подходят&nbsp;ли наращивания для окрашивания?</h3>')
            p Да, но&nbsp;при окрашивании соблюдают ряд рекомендаций:
            ul.list-marked
              li используют малоконцентрированные составы красителей и&nbsp;уменьшают время окрашивания, так как трессы быстрее и&nbsp;ярче окрашиваются;
              li не&nbsp;меняют цвет накладных волос больше, чем на&nbsp;2&nbsp;тона; 
              li при желании кардинальных перемен делают это постепенно: меняя краситель на&nbsp;тон при каждом окрашивании;
              li красить начинают с&nbsp;корней.
          +accordionItem('<h3>Как снять наращенные трессы самостоятельно?</h3>')
            ol.list-numbered
              li Отделяем волосы на&nbsp;макушке и&nbsp;закалываем;
              li Смачиваем прядки, приглаживая пух, чтобы его не&nbsp;отрезать.;
              li Аккуратно, не&nbsp;спеша отрезаем нить по&nbsp;стежкам, снимаем тресс;
              li Распускаем и&nbsp;расчесываем косичку-основу;
              li Повторяем процедуру с&nbsp;остальными трессами.
          +accordionItem('<h3>Какие противопоказания для наращивания на&nbsp;косички?</h3>')
            p Как и&nbsp;любая техника удлинения наращивание на&nbsp;косичке противопоказано людям, столкнувшимся с&nbsp;проблемами облысения, проходящим химиотерапию или лечение антибиотиками, с&nbsp;повреждениями кожи: царапины, ожоги, раны и&nbsp;высыпания.
