extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Наращивание волос мелирование
          .article-announcement
            .article-announcement__image
              +img({
                name: 'melirovanie-1',
                path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-melirovanie/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Пряди для наращивания мелированных волос' title='Пряди для наращивания мелированных волос').article-illustration
            
            p Мелирование придает женским прическам глубину, подчеркивает уникальные тона и&nbsp;создает трехмерный эффект. Но&nbsp;в&nbsp;процессе осветления удаляется защитный слой с&nbsp;прядей, что приводит к&nbsp;пересушиванию и&nbsp;ломкости. Наращивание мелированных волос&nbsp;&mdash; простой способ добавить объем и&nbsp;глубину прическе без повреждения родных локонов.
          <hr id="system-readmore" />
          p Светлые прядки могут обрамлять лицо, создавая контраст с&nbsp;разными оттенками, или обыгрывают пикабу-стиль. При правильном выборе наращение будет соответствовать базовому цвету и&nbsp;сочетаться с&nbsp;натуральными волосами.

          h2 Что такое наращивание волос с&nbsp;мелированием?
          p Наращивание волос с&nbsp;мелированием&nbsp;&mdash; это яркий штрих к&nbsp;стильному образу. Метод предполагает дополнение прически осветленными или колорированными срезами на&nbsp;заколках, лентах или кератиновых капсулах.Такой способ позволяет освежить прическу, не&nbsp;повредив при этом родные локоны. Это процедура, которая никогда не&nbsp;разочарует результатом.
          +img({
            name: 'melirovanie-2',
            path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-melirovanie/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Пример наращивания волос мелированием' title='Пример наращивания волос мелированием').article-illustration
          h2 Виды наращивания с&nbsp;мелированием
          h3 Бронд
          p Светлый и&nbsp;темный блонд объединяются, чтобы создать эффект бронда, придающего шевелюре контрастные штрихи, в&nbsp;результате чего она светится как никогда прежде.
          h3 Омбре
          p Это техника, подразумевающая плавное растягивание цвета от&nbsp;темного к&nbsp;светлому. Омбре популярный выбор для наращивания, поскольку создает постепенный, естественный переход. 
          h3 Золотисто-русые пряди
          p Идеальны для придания солнечного вида каштановым или темным волосам.
          h3 Карамельные оттенки
          p Наполняют теплом и&nbsp;глубиной волны волос. Каштановым локонам создают мягкий, солнечный эффект. Карамельные блики добавляют света черным или темно-каштановым волосам.
          h3 Цветные акценты
          p Цветные пряди добавляют ярких красок в&nbsp;образ. Красочные акценты подходят для концертов, фестивалей, вечеринок и&nbsp;даже для поднятия настроения в&nbsp;обычный день.
          h3 Балаяж
          p Пряди, мелированные в&nbsp;технике балаяж, создают естественный градиентный эффект, который выглядит так, словно шевелюра выгорела на&nbsp;солнце.
          h3 Серебристый цвет
          p Серебристые локоны создают эффект льда, позволяя выглядеть дерзко. Независимо от&nbsp;возраста, серебристые блики мгновенно преображают образ.

          h2 Преимущества использования мелированного наращения
          ul.list-marked
            li #[strong Нет контакта с&nbsp;перекисью водорода и&nbsp;аммиаком]: с&nbsp;наращением легко добавлять блики без окрашивания собственной шевелюры;
            li #[strong Простота использования:] накладные волосы на&nbsp;лентах и&nbsp;заколках легко крепить самостоятельно, меняя образ по-желанию;
            li #[strong Естественность:] мелированные прядки органично смешиваются с&nbsp;родными;
            li #[strong Доступность:] мелирование с&nbsp;помощью донорских прядок эффективней с&nbsp;точки зрения бюджета, регулярных визитов в&nbsp;салон для поддержания эффекта;
            li #[strong Вариативность:] расширения доступны в&nbsp;разных цветах и&nbsp;стилях, натуральные пряди используют многократно;
            li #[strong Укладка:] после фиксации наращения доступны разные варианты укладки.

          h2 Методики наращивания с&nbsp;мелированием	
          h3 На&nbsp;заколках
          p Материал для наращивания представлен трессами разной длины и&nbsp;цвета на&nbsp;заколках. Их&nbsp;используют самостоятельно при необходимости. Подходят для незабываемого образа на&nbsp;вечеринку, выпускной и&nbsp;даже свадьбу. Перед сном заколки снимаются.
          h3 Halo	
          p Среди разных видов интеграции наращивание halo выделяется простотой крепления и&nbsp;ношения, незаметным видом. Уникальная конструкция проволоки позволяет пользователям без усилий накладывать или снимать пряди за&nbsp;2&nbsp;минуты. Невидимая проволока обеспечивает плавное смешивание светлых прядок с&nbsp;естественным цветом волос.
          p Проволока остается на&nbsp;месте и&nbsp;не&nbsp;давит на&nbsp;голову. Пряди накладок равномерно густые от&nbsp;корней до&nbsp;кончиков, что дополнительно увеличивает густоту прически. Леску с&nbsp;прядками снимают перед сном.
          h3 На&nbsp;лентах
          p Мелирование лентами представляет собой отличные от&nbsp;базового цвета оттенки, Трессы на&nbsp;лентах переливаясь добавляет глубину и&nbsp;движение волосяному полотну. Эффект мелирования лентами особенно красив, если носить его с&nbsp;волнами. Техника чаще востребована летом, так как добавляет теплоты образу. Ленты носят до&nbsp;2-2,5&nbsp;месяцев.
          h3 На&nbsp;кератиновых капсулах
          p Процедура заключается в&nbsp;соединении мелированных и&nbsp;родных прядей расплавленным кератином. В&nbsp;местах соединения образуются капсулы минимального размера, которые не&nbsp;доставляют неудобств во&nbsp;время носки и&nbsp;сна за&nbsp;счет небольшого веса. Наращение носят не&nbsp;менее 4&nbsp;месяцев. Используется только натуральный донорский материал. Нет ограничений в&nbsp;выборе прически.
          +grid({ paddingy:true })
            +grid__item({ m:6, xs:12 })
              +img({
                name: 'melirovanie-3',
                path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-melirovanie/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Одна из технологий наращивания мелированных волос' title='Одна из технологий наращивания мелированных волос')
            +grid__item({ m:6, xs:12 })
              +img({
                name: 'melirovanie-4',
                path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-melirovanie/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Другая технология наращивания мелированных волос' title='Другая технология наращивания мелированных волос')

          h2 Классификация волос для наращивания
          h3 Синтетические vs&nbsp;натуральные
          p #[strong Человеческие локоны] чаще используются для создания естественного образа, они движутся и&nbsp;ощущаются как собственные. Преимущество натурального материала в&nbsp;том, что с&nbsp;ним обращаются так&nbsp;же, как с&nbsp;родными волосами. Мытье, расчесывание и&nbsp;термоукладка делают ежедневное поддержание стиля необременительным.
          p #[strong Синтетический материал] изготавливается из&nbsp;полимерных волокон и&nbsp;требует большего ухода. Их&nbsp;часто нельзя укладывать с&nbsp;помощью нагрева, окрашивают по&nbsp;отдельному заказу&nbsp;и, что важно, за&nbsp;синтетическими волокнами ухаживают специальными моющими средствами, чтобы поддерживать гладкость.

          h3 Славянские vs&nbsp;европейские
          p Среди огромного выбора материалов для наращивания выше всего ценятся славянские волосы. Их&nbsp;выбирают из-за непревзойденного качества, упругости и&nbsp;естественности. Славянские срезы популярны у&nbsp;любителей и&nbsp;профессионалов в&nbsp;области наращивания.
          p Это материал, происходящий из&nbsp;славянских регионов, который славится мягкостью, шелковистостью и&nbsp;впечатляющей прочностью. В&nbsp;отличие от&nbsp;других типов волос, у&nbsp;славянских естественная гладкая и&nbsp;легкая текстура. Тщательный процесс отбора гарантирует сохранность жизненной силы и&nbsp;прочности волос продолжительное время при правильном уходе. Славянский материал достойно выдерживает укладку, окраску и&nbsp;ежедневное ношение.	
          p У&nbsp;европейских срезов качество ниже славянских из-за жесткой и&nbsp;пористой структуры. Часто европейские волосы окисляют и&nbsp;обрабатывают силиконом, поэтому со&nbsp;временем они теряют привлекательность и&nbsp;начинают запутываться.

          h2 Подбор волос для наращивания
          h3 Длина наращения
          p Если цель вместе с&nbsp;мелированием удлинить шевелюру, то&nbsp;при выборе придерживаются правила: длина донорских прядей не&nbsp;превышает длину собственных волос больше, чем на&nbsp;20&nbsp;см. Например, при короткой стрижке наращивают до&nbsp;плеча или чуть ниже.
          p Если дополнительная цель&nbsp;&mdash; объем, то&nbsp;допускается незначительная разница с&nbsp;собственными волосами. Негласное правило гласит: чем длиннее волосы, тем больший объем наращивают.
          h3 Количество донорских прядей
          p Количество прядей определяется густотой и&nbsp;длиной родных волос, их&nbsp;структурой. При средней плотности волосяного покрова и&nbsp;длины прически до&nbsp;плеча достаточно 200-250&nbsp;прядей. Если стоит задача только придать эффект мелирования, то&nbsp;выбирают необходимое количество срезов для естественного результата.

          h2 Советы по&nbsp;уходу
          h3 Искусственные пряди
          p #[strong Купите шампунь], специально разработанный для синтетических волокон. Шампунь для синтетических париков тоже подходит. Не&nbsp;нашли специальный, купите мягкий шампунь.
          p #[strong Расчешите спутанные волоски] расческой с&nbsp;широкими зубьями. Такая расческа не&nbsp;будет цеплять пряди зубьями. Работайте снизу вверх, аккуратно расчесывая волосяное полотно.
          p #[strong Наполните раковину или тазик теплой водой.] Смешайте колпачок шампуня с&nbsp;водой. Погрузите пряди в&nbsp;емкость, прополощите их&nbsp;без трения круговыми движениями.
          p #[strong Промойте срезы холодной водой], чтобы не&nbsp;изменить форму завитка, обработайте распутывающим кондиционером. Отжимают сжатием кулака, передвигаясь по&nbsp;длине пряди.Сушите на&nbsp;полотенце в&nbsp;горизонтальном положении.	

          h3 Натуральные срезы	
          p #[strong Обращайтесь с&nbsp;ними как с&nbsp;собственными волосами.] Если накладные пряди приклеены или пришиты, то&nbsp;их&nbsp;моют в&nbsp;душе в&nbsp;вертикальном положении. Используйте шампунь с&nbsp;увлажняющей формулой, чем активнее увлажняющая формула, тем лучше. Пряди на&nbsp;заколках и&nbsp;на&nbsp;леске снимаются и&nbsp;моются отдельно в&nbsp;емкости с&nbsp;водой.
          p #[strong Используйте кондиционер.] У&nbsp;каждой прядки защитный слой кутикулы, который не&nbsp;только защищает стержень, но&nbsp;и&nbsp;отражает солнечный свет, что придает шевелюре блеск. В&nbsp;течение дня кутикулярный слой разрушается, делая локоны вялыми и&nbsp;тусклыми. Кондиционеры возвращают прическе объем и&nbsp;блеск.

          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Как хранить удлинения?</h3>')
            p Связанные накладные пряди хранятся в&nbsp;оригинальной коробке. Возьмите резинку для волос и&nbsp;обмотайте ею&nbsp;основание прядки для мелирования в&nbsp;2,5-5&nbsp;см от&nbsp;утка и&nbsp;закрепите. Для хранения осторожно положите срезы в&nbsp;коробку, в&nbsp;которой они продавались. Если нет оригинальной коробки, используйте прочный пакет или контейнер.
          +accordionItem('<h3>Какие эффекты мелирования в&nbsp;тренде?</h3>')
            p Например, расплавленные блики. Затемненные корни никуда не&nbsp;денутся, но&nbsp;надо убедиться, что нет четкого разграничения. Осенью и&nbsp;зимой делают тонирование уже мелированных волос на&nbsp;один-два тона ниже, а&nbsp;также обогащают тона в&nbsp;более теплом направлении.
          +accordionItem('<h3>Как долго держится наращивание с&nbsp;мелированием?</h3>')
            p Зависит от&nbsp;используемой техники. Пряди на&nbsp;заколках и&nbsp;на&nbsp;леске снимают ежедневно перед сном. Ленты носят до&nbsp;2,5&nbsp;месяцев, капсульное крепление держится до&nbsp;4&nbsp;месяцев.
          +accordionItem('<h3>Допустима горячая укладка расширений?</h3>')
            p Да, если это натуральные срезы, главное избегать места крепления. Синтетические локоны чаще не&nbsp;выдерживают нагрева, только если это не&nbsp;термопластичные волокна.
