extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Наращивание волос гелем
          .article-announcement
            .article-announcement__image
              +img({
                name: 'gelem-1',
                path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-gelem/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Гель для наращивания волос' title='Гель для наращивания волос').article-illustration
          
            p Наращивание волос гелем выбирают, чтобы предотвратить повреждение собственной шевелюры. Что особенно важно для ослабленных или тонких прядей, которые могут пострадать при нагреве.
          <hr id="system-readmore" />

          h2 Что такое гелевое наращивание волос?
          p Это современный метод удлинения прически, подразумевающий прикрепление накладных прядей гипоаллергенным хирургическим гелем, который после затвердевания образует фиксирующую капсулу. Техника разработана с&nbsp;учетом безопасности и&nbsp;комфорта волос. Отличается от&nbsp;других методов тем, что пряди скрепляют без нагрева или клеевых составов, что делает его максимально щадящим для натуральных локонов. Наращивают гелем по&nbsp;контуру головы, в&nbsp;шахматном порядке (для объема), увеличивая длину до&nbsp;80&nbsp;см. 
          p Гелевое наращивание волос:
          ul.list-marked
            li увеличивает объем и&nbsp;длину прически;
            li меняет стиль, поэтому подходит для создания новых и&nbsp;ярких образов.
          p Во&nbsp;время процедуры мастер наносит специальный гель на&nbsp;накладные пряди и&nbsp;прикрепляет их&nbsp;к&nbsp;натуральным. Гель создает прочное соединение, которое позволяет носить наращение 4-6 месяцев до&nbsp;коррекции.

          h2 Преимущества и&nbsp;недостатки
          h3 Преимущества	
          ul.list-marked
            li #[strong Щадящее воздействие на&nbsp;волосы:] гель, используемый в&nbsp;процессе, не&nbsp;содержит активаторов и&nbsp;химических веществ, что делает его экологически чистым и&nbsp;безопасным для шевелюры.
            li #[strong Долговечность:] наращивание держится до&nbsp;6&nbsp;месяцев в&nbsp;зависимости от&nbsp;ухода и&nbsp;скорости волосяного роста.
            li #[strong Естественность:] гелевое наращивание сохраняет естественный внешний вид и&nbsp;сочетается с&nbsp;текстурой натуральных локонов.
            li #[strong Универсальность:] метод рекомендован разным типам волос, включая тонкие и&nbsp;слабые. Наращенные пряди можно окрашивать и&nbsp;укладывать привычными способами. Допустимо посещать сауны.
          h3 Недостатки
          ul.list-marked
            li #[strong Регулярная коррекция:] несмотря на&nbsp;долговечность, требуется регулярная коррекция, чтобы поддерживать аккуратный вид.
            li #[strong Чувствительность к&nbsp;уходу:] Для продления срока службы наращения соблюдают правила ухода, например, избегают сильного натяжения.

          h2 Технология проведения процедуры
          h3 Время процедуры
          p Гелевое наращивание занимает 4-6&nbsp;часов, точное время зависит от&nbsp;объема работы и&nbsp;типа используемых прядей. Мастер формирует небольшие капсулы из&nbsp;геля, которые крепятся к&nbsp;натуральным прядям, это требует терпения как мастера, так и&nbsp;клиента.
          h3 Используемый материал
          p Для гелевой техники удлинения применяется гель Le&nbsp;Cristal de&nbsp;Paris, в&nbsp;состав которого не&nbsp;входят активаторы, что отличает его от&nbsp;других двухкомпонентных составов.
          h4 Преимущества геля
          ul.list-marked
            li #[strong Безопасность:] гель не&nbsp;повреждает структуру стержня, так как не&nbsp;требует использования горячих инструментов для крепления.
            li #[strong Универсальность:] подходит для всех типов волос, используется даже для удлинения чёлки.
            li #[strong Долговечность:] эффект сохраняться до&nbsp;6&nbsp;месяцев, при этом волосы можно окрашивать и&nbsp;укладывать разными способами.
            li #[strong Легкость в&nbsp;уходе:] после снятия наращенных прядей состояние натуральных не&nbsp;ухудшается, если соблюдать принципы ухода.
          +img({
            name: 'gelem-2',
            path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-gelem/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Пряди для наращивания волос гелем' title='Пряди для наращивания волос гелем').article-illustration.article-illustration--border
          h3 Этапы наращивания гелем
          p #[strong Подбор прядей:] мастер выбирает пряди, максимально приближенные по&nbsp;цвету и&nbsp;структуре к&nbsp;натуральным локонам клиента. Натуральные волосы подвергают термообработке (сушке феном, выпрямлению), что открывает широкие возможности для экспериментов с&nbsp;укладками без риска их&nbsp;повреждения.
          p #[strong Процесс удлинения:] ближе к&nbsp;прикорневой зоне на&nbsp;место соединения наносят гель, из&nbsp;которого формируется маленькое зернышко нужной толщины и&nbsp;подходящего размера. Для этого не&nbsp;требуются специальные инструменты, что упрощает процесс.
          +img({
            name: 'gelem-3',
            path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-gelem/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Так выглядят капсулы на волосах при гелевом наращивании' title='Так выглядят капсулы на волосах при гелевом наращивании').article-illustration  
          h2 Отличие от&nbsp;горячих методов
          h3 Горячее наращивание 
          p Метод включает использование нагретого клея, чаще на&nbsp;основе кератина или смолы, для прикрепления накладных прядей к&nbsp;натуральным. Фиксируют щипцами, расплавляющими клей и&nbsp;формирующими капсулу.
          h4 Базовые характеристики
          ul.list-marked
            li #[strong Долговечность:] результат сохраняется до&nbsp;6&nbsp;месяцев, при этом пряди не&nbsp;выпадают даже при частом расчесывании;
            li #[strong Безопасность:] метод считается безопасным, так как современные технологии позволяют избежать повреждения волос;
            li #[strong Вариативность укладок:] наращения допустимо укладывать и&nbsp;подвергать химическим процедурам без риска повреждения;
            li #[strong Коррекция:] времязатратная процедура, для размягчения капсул используется ремувер, на&nbsp;действие которого требуется время.
          h3 Гелевое наращивание
          p Это холодная методика, при которой пряди крепятся застывающим гелем без использования тепла. Гель формируется в&nbsp;микрокапсулы, которые прикрепляются к&nbsp;натуральным волосам.
          h4 Базовые характеристики
          ul.list-marked
            li #[strong Безопасность:] процедура не&nbsp;требует нагрева, что повышает ее&nbsp;безопасность для собственной шевелюры;
            li #[strong Долговечность:] эффект стандартно держится 4&nbsp;месяца;
            li #[strong Универсальность:] метод совместим с&nbsp;любым типом волос, допускает окрашивание и&nbsp;укладку.
            li #[strong Коррекция:] гель легко, но&nbsp;долго размягчается раствором.
          p Выбор между этими методами зависит от&nbsp;индивидуальных предпочтений, состояния волосяного покрова и&nbsp;желаемого результата.

          h2 Ограничения и&nbsp;противопоказания
          ul.list-marked
            li Повреждение целостности кожи головы (процедуру проводят после заживления);
            li Антибиотико- или гормонотерапия (наращивание откладывают до&nbsp;конца курса лечения);
            li Проблемы с&nbsp;вегето-сосудистой системой (процедуру отменяют при тяжелом течении болезни);
            li Повышенная чувствительность кожи головы к&nbsp;компонентам клея (это абсолютное противопоказание).

          h2 Уход за&nbsp;наращением
          h3 Общие правила
          ul.list-marked
            li #[strong Правильное мытье.] Перед мытьем расчешите волосяное полотно, аккуратно распутывая узелки. Для мытья используют теплую воду. Моются держа голову прямо. Шампунь вспенивают в&nbsp;ладонях, нанося на&nbsp;корни, и&nbsp;распределяя по&nbsp;всей длине. Затем нанесите кондиционер на&nbsp;волосяное полотно, а&nbsp;маску только на&nbsp;кончики.
            li #[strong Безопасная сушка.] Промакивающими движениями полотенцем удалите излишки влаги, не&nbsp;растирая прядки. Предпочтительно волосяному полотну сохнуть естественно. Если есть необходимость сушить волосы или делать укладку феном, избегайте максимальных температур.
            li #[strong Расчесывание.] Расчесывают наращения после высыхания, начиная с&nbsp;кончиков, продвигаясь по&nbsp;направлению к&nbsp;корням. При этом придерживайте пряди у&nbsp;корней, чтобы резкие движения случайно не&nbsp;деформировали и&nbsp;не&nbsp;разрушили крепление.

          h3 Рекомендуемые средства
          h4 Шампуни
          ul.list-marked
            li Бессульфатные шампуни: они мягко очищают волосы и&nbsp;кожу головы, не&nbsp;повреждая крепления. Рекомендуются продукты на&nbsp;основе морских водорослей или с&nbsp;увлажняющими компонентами, такими как алоэ вера и&nbsp;D-пантенол.
            li Шампуни для окрашенных волос: эти средства защищают цвет накладных и&nbsp;собственных прядей, предотвращают вымывание пигмента.
            li Кондиционеры и&nbsp;бальзамы: используйте увлажняющие и&nbsp;восстанавливающие кондиционеры, которые распутывают волосы, наполняя их&nbsp;сиянием.
          h4 Маски
          p Восстанавливающие маски: продукты, содержащие кератин или масла (например, аргановое), помогут укрепить структуру волос. Важно: при нанесении обходите стороной крепления.
          h4 Несмываемые средства
          p Спреи для термозащиты: перед укладкой феном или утюжком используйте термозащитные составы, чтобы предотвратить повреждение высокими температурами.

          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Как снимают гелевые капсулы?</h3>')
            p Это процесс продолжительный, так как капсулы растворяют специальным составом. Снятие желательно доверить мастеру.
          +accordionItem('<h3>Гелем наращивают челку?</h3>')
            p Да, гелевая технология уплотняет и&nbsp;удлиняет тонкие височные зоны, челку и&nbsp;теменную зону близко к&nbsp;пробору.
          +accordionItem('<h3>Подходит&nbsp;ли гелевое наращивание для очень тонких волос?</h3>')
            p Да, метод безопасен для тонких и&nbsp;ослабленных волос, толщину среза регулируют, снижая нагрузку на&nbsp;корни.
          +accordionItem('<h3>Есть&nbsp;ли аллергические реакции на&nbsp;гель?</h3>')
            p Пряди закрепляют гипоаллергенным гелем, который применяют в&nbsp;хирургии для сращения костей, но&nbsp;сохраняется вероятность индивидуальной непереносимости.
          +accordionItem('<h3>Можно&nbsp;ли окрашивать наращенные волосы?</h3>')
            p Да, с&nbsp;новой прической допустимы любые манипуляции, включая окрашивание и&nbsp;химическую завивку.
