extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Наращивание волос на&nbsp;заколках
          .article-announcement
            .article-announcement__image
              +img({
                name: 'na-zakolkakh-1',
                path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-na-zakolkakh/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Пряди на заколках' title='Пряди на заколках').article-illustration
            p Наращивание волос на&nbsp;заколках&nbsp;&mdash; это экспресс-метод увеличения длины и&nbsp;объема прически. Пряди на&nbsp;заколках идеально подходят для случаев, когда необходимо временно преобразиться, например, на&nbsp;свадьбу, выпускной или вечеринку. После фиксации с&nbsp;накладными локонами обращаются так&nbsp;же, как с&nbsp;&laquo;родными&raquo;: завивают, заплетают, выпрямляют и&nbsp;т.&nbsp;д. 
          
          <hr id="system-readmore" />

          h2 Что такое наращивание на&nbsp;заколках?
          p Это краткосрочная и&nbsp;практичная альтернатива горячему и&nbsp;клеевому наращиваниям. Волосы на&nbsp;заколках очень удобны в&nbsp;использовании&nbsp;&mdash; их&nbsp;можно надевать и&nbsp;снимать без помощи парикмахера. Накладные пряди не&nbsp;носят каждый день, а&nbsp;надевают по&nbsp;случаю.
          p Накладные локоны на&nbsp;заколках еще часто называют трессами. Это пряди волос разной длины и&nbsp;ширины со&nbsp;специальными зажимами, помогающие прикрепить наращиваемые локоны к&nbsp;собственным. При правильно подобранном оттенке отличить накладные волосы от&nbsp;собственных невозможно, если те&nbsp;изготовлены из&nbsp;натуральных волос. Накладки могут представлять собой косички, гладкие пряди и&nbsp;даже челки, которые крепятся на&nbsp;пластиковую или металлическую основу с&nbsp;помощью зажимов.

          h2 Трессы: искусственные и&nbsp;натуральные
          h3 Натуральные
          p Мягкие, шелковистые и&nbsp;приятные на&nbsp;ощупь натуральные пряди выигрышно смотрятся распущенными. Бывают европейскими, азиатскими и&nbsp;славянскими. Чтобы избежать внешней дисгармонии, парикмахеры-стилисты советуют подбирать наращиваемый материал по&nbsp;типажу волос и&nbsp;мелировать. Первые изготавливаются чаще в&nbsp;Австрии и&nbsp;Германии, у&nbsp;них плотная структура, но&nbsp;тонкие и&nbsp;ломкие волоски, покрытые силиконом. Азиатские&nbsp;&mdash; жесткие и&nbsp;самые доступные, но&nbsp;подходят не&nbsp;всем.
          p Больше ценятся качественные славянские волосы на&nbsp;заколках, которые легко мыть и&nbsp;красить, они меньше путаются и&nbsp;долговечны при правильном уходе. Славянские наращивания устойчивы к&nbsp;термической обработке, легко подбираются под любой тип родных прядей.
          p Заколки представляют собой маленькие зажимы из&nbsp;металла, в&nbsp;ряде случаев с&nbsp;силиконовыми прокладками для надежной фиксации.

          h3 Искусственные
          p Локоны на&nbsp;заколках из&nbsp;винила, акрила и&nbsp;нейлона&nbsp;&mdash; прекрасная база для творческих экспериментов: создания оригинальных причесок, гофре и&nbsp;косичек, цветных эффектов, так как они доступней натуральных. Искусственным волокнам, кроме термофибры и&nbsp;монофибры, противопоказан нагрев. Синтетические пряди не&nbsp;дают такой естественный результат, как натуральные, быстрее теряют привлекательность и&nbsp;опрятность, поэтому требуют особого ухода.

          h2 Как подобрать трессы на&nbsp;заколках?
          p Для расширения вариантов укладки специалисты советуют покупать два набора: гладкие и&nbsp;волнистые трессы. Один набор состоит из&nbsp;8&nbsp;прядей, где самая широкая прядь&nbsp;&mdash; затылочная, средняя по&nbsp;ширине&nbsp;&mdash; боковая, а&nbsp;узкая с&nbsp;одним креплением&nbsp;&mdash; височная. Для эффекта пышности и&nbsp;праздничной укладки лучше закрепить весь комплект волос на&nbsp;заколках, а&nbsp;на&nbsp;каждый день&nbsp;&mdash; средние и&nbsp;узкие пряди.
          p При средней плотности собственных локонов предпочтение отдают комплектам трессов по&nbsp;100-120&nbsp;грамм. На&nbsp;густую шевелюру уйдет до&nbsp;140-180&nbsp;грамм. С&nbsp;длиной тоже определяются сразу: чуть ниже плеч&nbsp;&mdash; 40&nbsp;см, за&nbsp;линией груди&nbsp;&mdash; 50&nbsp;см, до&nbsp;талии и&nbsp;ниже&nbsp;&mdash; 60&nbsp;см и&nbsp;длиннее при росте 168-170&nbsp;см.
          +img({
            name: 'na-zakolkakh-2',
            path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-na-zakolkakh/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Набор для наращивания волос на заколках' title='Набор для наращивания волос на заколках').article-illustration

          h3 Трессы на&nbsp;креплениях омбре
          p Яркие и&nbsp;креативные пряди на&nbsp;заколках омбре&nbsp;&mdash; этот прошлогодний мастхэв, который остался на&nbsp;пике популярности и&nbsp;в&nbsp;новом сезоне. В&nbsp;тренде невероятные плавные переливы тонирования в&nbsp;границах одного цвета и&nbsp;контрастный двухцветный градиент. Вместе с&nbsp;плавными естественными переходами популярны оригинальные смелые цвета, которые гармонично вписываются в&nbsp;молодежные и&nbsp;необычные луки. В&nbsp;моде сочетание глубокого синего и&nbsp;голубого, белого и&nbsp;фуксии, фиолетового и&nbsp;сиреневого, рыжего и&nbsp;розового.

          h3 Цветные трессы
          p Хотите выглядеть эффектно, но&nbsp;жалеете свои локоны&nbsp;&mdash; прикрепите цветные накладные волосы на&nbsp;заколках для создания интересной и&nbsp;красочной прически. Яркие цвета не&nbsp;подходят для делового стиля, но&nbsp;сторонницы экспериментов выбирают их&nbsp;на&nbsp;время праздников, тематических вечеринок и&nbsp;клаб-шоу. Чтобы добиться желаемого разнообразия, мастера советуют выбирать наборы с&nbsp;цветными прядями на&nbsp;1-2&nbsp;заколках. Закрепляются трессы по&nbsp;всей голове в&nbsp;произвольном порядке.

          h2 Плюсы и&nbsp;минусы наращивания на&nbsp;заколках
          h3 Преимущества
          ul.list-marked
            li Оригинальность. Используя зажимы с&nbsp;прядями различной структуры (прямыми или волнистыми), можно создать новую и&nbsp;необычную укладку за&nbsp;считанные минуты;
            li Безопасность. В&nbsp;отличие от&nbsp;долговременных наращиваний, непродолжительное давление аксессуаров с&nbsp;накладными прядями не&nbsp;вредит структуре собственных локонов и&nbsp;не&nbsp;способствует их&nbsp;выпадению;
            li Доступность. Пучки доступны в&nbsp;любом магазине, где продаются аксессуары для волос;
            li Большой выбор. Легко выбрать подходящий по&nbsp;цвету и&nbsp;текстуре аксессуар.
          h3 Недостатки
          ul.list-marked
            li Необходимость каждый вечер снимать накладки.

          h2 Как наращивать трессы на&nbsp;заколках
          ol.list-numbered
            li #[strong Отделите волосы чуть ниже ушей, сделайте ровный ряд.] Соберите верхний слой волосяного полотна в&nbsp;пучок. Желательно еще раз расчесать свободные волосы, чтобы убедиться, что они не&nbsp;спутаны.
            li #[strong Вставьте в&nbsp;волосы прядь с&nbsp;тремя зажимами, сразу под пробором.] Возьмите тресс, в&nbsp;который вшито 3&nbsp;зажима. Откройте зажимы. Расположите прядь над горизонтальной частью и&nbsp;воткните гребни в&nbsp;волосы как можно ближе к&nbsp;корням, а&nbsp;затем защелкните. Начните сначала со&nbsp;средней пряди, затем сделайте по&nbsp;бокам. Располагайте трессы на&nbsp;расстоянии 2,5&nbsp;см от&nbsp;линии роста волос, чтобы они смотрелись естественно.
            li #[strong Создайте горизонтальный пробор на&nbsp;уровне середины ушей.] Соберите волосы выше пробора в&nbsp;пучок. Вставьте 4-зажимную прядь в&nbsp;корни чуть ниже пробора. Опять&nbsp;же, сначала вставьте средние зажимы, затем боковые.
            li #[strong Повторите процесс над ушами, используя более длинную прядь.] Вставьте самую длинную прядь в&nbsp;корни чуть ниже пробора выше ушей, начиная со&nbsp;средних зажимов и&nbsp;заканчивая внешними. Используйте тресс из&nbsp;пяти зажимов или более длинный из&nbsp;четырех.
            li #[strong Добавьте оставшиеся пряди с&nbsp;одним креплением в&nbsp;область с&nbsp;недостаточным объемом.] Как правило, их&nbsp;добавляют прямо над 2-зажимными трессами, по&nbsp;2&nbsp;с каждой стороны. При боковом проборе, вам понадобиться больше заколок на&nbsp;широкой стороне пробора.
          p После фиксации всех накладных прядей, волосы получают дополнительную длину и&nbsp;объем. Теперь пришло время выполнить красивую укладку. Есть много причесок, разработанных специально для накладных волос на&nbsp;заколках, которые дают максимально естественный вид и&nbsp;скрывают места крепления.
          +img({
            name: 'na-zakolkakh-3',
            path: '/images/info/narashchivanie-volos/metodiki/narashchivanie-volos-na-zakolkakh/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Процесс наращивания волос на заколках (пошаговые фото)' title='Процесс наращивания волос на заколках (пошаговые фото)').article-illustration
          h2 Варианты причесок
          p Плюс аксессуаров с&nbsp;накладными прядями в&nbsp;том, что их&nbsp;можно красить, выравнивать или завивать при желании. За&nbsp;счет этого расширяется спектр возможностей при выборе укладки.
          h3 Косы
          p #[strong Коса (вариант 1).] Собственные волосы собирают в&nbsp;высокий тугой хвост на&nbsp;затылке. После этого выделяют центральную прядь, к&nbsp;которой крепится зажим с&nbsp;прямыми локонами. Верхнюю часть заколки маскируется родными прядями и&nbsp;заплетается коса.
          p #[strong Коса (вариант 2).] В&nbsp;этом случае берется тресс с&nbsp;ярким цветом локонов. Затем хвост делится на&nbsp;две части: &laquo;цветную&raquo; и&nbsp;с&nbsp;натуральным оттенком, после чего заплетается коса.
          h3 Хвосты
          p #[strong Конский хвост.] Чтобы сделать хвост из&nbsp;волос на&nbsp;заколках, из&nbsp;собственных прядей собирают высокий хвост на&nbsp;затылке и&nbsp;закрепляют резинкой. После этого к&nbsp;резинке крепятся зажимы с&nbsp;дополнительными локонами. Чтобы замаскировать место &laquo;стыка&raquo;, выделяется из&nbsp;прически тонкая прядь, которой обматывают основание хвоста.
          p Мастера-стилисты предлагают ряд вариаций современных хвостов:
          ul.list-marked
            li высокий и&nbsp;низкий хвост, с&nbsp;одним или двумя узлами, перевернутый и&nbsp;оригинальный с&nbsp;косами, рыбка, по&nbsp;центру или смещенный на&nbsp;одну сторону;
            li свободный гладкий или кудрявый пышный хвост с&nbsp;начесом и&nbsp;без;
            li дополнительный акцент&nbsp;&mdash; эффектно уложенная прямая или косая челка.

          h2 Уход за&nbsp;волосами на&nbsp;заколках
          p Если за&nbsp;натуральными локонами требуется такой&nbsp;же уход как за&nbsp;собственной шевелюрой, то&nbsp;искусственные требуют особого подхода.
          h3 Как расчесывать
          p Наносите распутывающий спрей на&nbsp;искусственные волосы ежедневно перед тем, как расчесать. Спрей предотвратит запутывание и&nbsp;завивание локонов. Также используйте специально разработанную для таких волос расческу, так как стандартная щетка способна повредить&nbsp;их.
          h3 Как завивать
          p Завивайте наращенные пряди аккуратно. Большинство локонов продаются прямыми и&nbsp;остаются такими после мытья. При желании получить озорные завитки используйте бигуди. Нагрейте воды, не&nbsp;доводя до&nbsp;кипения, и&nbsp;опустите туда незафиксированные трессы, затем накрутите на&nbsp;бигуди.
          h3 Как мыть
          p Смывайте лак и&nbsp;другие продукты для стайлинга в&nbsp;конце дня при помощи щадящего шампуня и&nbsp;кондиционера. Пользуйтесь холодной водой. Купите шампунь, разработанный для синтетических париков, ведь накладки изготовлены из&nbsp;тех&nbsp;же волокон.
          p Не&nbsp;рекомендуется спать с&nbsp;накладными прядками. Если такое случилось, то&nbsp;соберите их&nbsp;в&nbsp;хвост или заплетите косичку, чтобы предотвратить запутывание.

          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Распространенные советы при наращивании заколками?</h3>')
            ul.list-marked
              li Если наращивание сползает, сначала распылите лак для волос на&nbsp;корни. Дайте лаку высохнуть, затем добавьте наращивание. 
              li Проконсультируйтесь с&nbsp;врачом при чрезмерной потере волос, прежде чем пробовать наращивание. В&nbsp;ряде случаев это неподходящее решение, способное ухудшить состояние.
              li Завивайте или выпрямляйте накладные натуральные пряди в&nbsp;соответствии с&nbsp;текстурой собственных волос.
              li Снимайте накладки перед сном. Если оставить их&nbsp;на&nbsp;время сна, заколки зацепившись за&nbsp;волосы, запутают или повредят&nbsp;их.
              li Не&nbsp;надевайте наращивание чаще 2&nbsp;раз в&nbsp;неделю. Вес дает дополнительную нагрузку на&nbsp;корни, поэтому постоянное ношение приведет к&nbsp;появлению залысин.
          +accordionItem('<h3>Как крепить заколки к&nbsp;гладкому волосяному полотну?</h3>')
            p Если собственные локоны прямые и&nbsp;гладкие, то&nbsp;волосы на&nbsp;металлических заколках будут соскальзывать вниз. Поэтому основу у&nbsp;корней предварительно слегка начесывают и&nbsp;сбрызгивают лаком, получившаяся &laquo;путаница&raquo; хорошо удержит заколку. Также накладную прядь крепят, &laquo;обмотав&raquo; шпильку собственными волосами несколько раз, а&nbsp;затем защелкнув.
          +accordionItem('<h3>Используют&nbsp;ли утюжок для выпрямления наращивания?</h3>')
            p Если это натуральные или термостойкие пряди, то&nbsp;да. Информация о&nbsp;термостойкости указывается на&nbsp;упаковке накладок.
          +accordionItem('<h3>Как снимать трессы?</h3>')
            p Снимайте накладные волосы в&nbsp;конце дня перед сном. Нащупайте донорскую прядь, просуньте пальцы в&nbsp;волосы и&nbsp;раскройте все зажимы на&nbsp;ней. Осторожно стяните тресс, затем переходите к&nbsp;следующей, продвигаясь сверху вниз.
          +accordionItem('<h3>Можно&nbsp;ли наращивать волосы на&nbsp;заколках самостоятельно?</h3>')
            p Да, процедура предусматривает самостоятельное крепление. Если предполагается сложная укладка, обращаются за&nbsp;помощью к&nbsp;стилисту.
          +accordionItem('<h3>Какие альтернативные методы наращивания предпочтительны для долгосрочного использования?</h3>')
            p Если в&nbsp;приоритете безопасность, то&nbsp;предпочтение отдают ленточному наращиванию, где накладные пряди крепятся к&nbsp;родным волосам клейкой полосой. Наращивание продержится 2-3&nbsp;месяца. Если важен продолжительный результат до&nbsp;6&nbsp;месяцев, то&nbsp;нет равных капсулированию прядей кератином. В&nbsp;результате получаются незаметные надежные крепления, что позволяет пробовать разные варианты укладки.
