extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Волосы для наращивания в срезе'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Лентирование волос для наращивания в&nbsp;Санкт-Петербурге
          p Лентирование волос для наращивания&nbsp;&mdash; это создание лент из&nbsp;волос нашего производства, которые предназначены для стандартного наращивания или&nbsp;же био либо королевского видов наращивания. 
          +img({
            name: 'lentirovanie-1',
            path: '/images/uslugi/promyshlennoe-lentirovanie-volos/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })

          h2 Особенности лентирования волос
          p В&nbsp;целом для изготовления лент для наращивания волос практикуют ручную работу или&nbsp;же задействуют специализированное оборудование, выполняя лентирование в&nbsp;промышленных масштабах. 
          p Оба способа превосходно себя зарекомендовали, востребованы, но&nbsp;у&nbsp;ручного лентирования волос выделяют весомое преимущество&nbsp;&mdash; получение максимально тонких лент.
          p В&nbsp;результате они совершенно не&nbsp;ощущаются в&nbsp;процессе наращивания и&nbsp;во&nbsp;время ношения, не&nbsp;создают дискомфортных ощущений у&nbsp;женщин, по&nbsp;сравнению с&nbsp;низкокачественными аналогами, созданными наспех, с&nbsp;использованием совершенно неподходящих клеящих составов.

          h2 Преимущества лент для наращивания волос нашего производства 
          ul.list-marked 
            li Производим ленты ручным способом, золотыми ручками наших опытных мастеров, задействуем нанотехнологии и&nbsp;современные подходы к&nbsp;лентированию. 
            li В&nbsp;результате мастера наращивания и&nbsp;их&nbsp;клиенты получают возможность обеспечить максимальный комфорт при ношении лент, что делает их&nbsp;совершенно незаметными. 
            li 
              p Предлагаем гибкие, тончайшие ленты, поскольку они произведены по&nbsp;уникальной технологии.
              +figure({
                img: 'lentirovanie-2',
                path: '/images/uslugi/promyshlennoe-lentirovanie-volos/',
                alt: 'Миниленты',
              })
            li Всегда ориентируемся на&nbsp;ваши потребности и&nbsp;пожелания, потому индивидуально подбираем полимер под каждый комплект лент. 
          p Такого эффекта достичь при машинном лентировании не&nbsp;удается: ленты получаются жестче, толще, поскольку сверху покрываются кератином либо&nbsp;же особой пластической массой. 

          h2 Особенности промышленного лентирования в&nbsp;компании &laquo;Волосы&nbsp;24&raquo;
          p Промышленное лентирование волос выполняем на&nbsp;собственном производстве: услугу оказывает компания &laquo;Волосы&nbsp;24&raquo;, в&nbsp;которой трудятся специалисты значительного опыта, создавая ленты, предназначенные для технологии холодного наращивания.
          p На&nbsp;производство принимаем заказы любого объема: изготовим комплект лент как для одного наращивания, так и&nbsp;выполним лентирование большого объема волос. 
          p Величина лент согласуется с&nbsp;клиентом: предлагаем изготовить миниленты размером #[a(href='/shop/volosy-dlya-narashchivaniya/microlenty/') 1&nbsp;сантиметр], стандартные #[a(href='/shop/volosy-dlya-narashchivaniya/na-lente/filter/width-is-3cm/') трехсантиметровые] и&nbsp;широкие стандартные, размером #[a(href='/shop/volosy-dlya-narashchivaniya/na-lente/filter/width-is-4cm/') 4&nbsp;сантиметра]. Перед началом выполнения услуги всегда готовы скорректировать размер по&nbsp;желанию заказчика.
          +grid({ paddingy:true })
            +grid__item({ m:6, xs:12 })
              +figure({
                img: 'lentirovanie-3',
                path: '/images/uslugi/promyshlennoe-lentirovanie-volos/',
                alt: 'Миниленты 1 см',
              })
            +grid__item({ m:6, xs:12 })
              +figure({
                img: 'lentirovanie-4',
                path: '/images/uslugi/promyshlennoe-lentirovanie-volos/',
                alt: 'Ленты 3 см',
              })
            +grid__item({ m:6, xs:12 })
              +figure({
                img: 'lentirovanie-5',
                path: '/images/uslugi/promyshlennoe-lentirovanie-volos/',
                alt: 'Ленты 4 см',
              })
          p Для изготовления лент принимаем волосы в&nbsp;срезе, на&nbsp;капсулах или выполняем повторное лентирование, если пряди ранее использовали для ленточного наращивания. 

          h3 Особенности перелентирования волос
          p Процедура предполагает обновление крепления ленты, когда старую срезают, а&nbsp;новую наносят на&nbsp;донорские пряди. Перелентирование выполняют ежегодно или если волосы стали вычесываться из&nbsp;ленты и&nbsp;требуется обновление клеевой основы.
          p На&nbsp;этот срок влияет частота наращивание и&nbsp;соблюдение правил ухода за&nbsp;накладными прядями. Например, если выполнять коррекцию наращивания с&nbsp;рекомендованной периодичностью, а&nbsp;именно раз в&nbsp;два месяца, лента останется пригодной в&nbsp;течение трех-пяти коррекций. 
          p Если визуально заметен износ ленты, обращаются за&nbsp;услугой перелентирования. Получается, ленточное наращивание удается носить сроком до&nbsp;года и&nbsp;более (речь о&nbsp;многократном применении одной ленты между коррекциями, когда меняется только клейкая лента для крепления), если своевременно и&nbsp;правильно заботиться о&nbsp;состоянии наращенных волос. 
          p Если обратиться в&nbsp;наш салон красоты Hair Care Center, то, кроме услуги профессионального перелентирования, мы&nbsp;выполним и&nbsp;ленточное наращивание силами наших топовых мастеров, причем по&nbsp;приемлемой стоимости, учитывая комплекс заказанных услуг. 
          +figure({
            img: 'lentirovanie-6',
            path: '/images/uslugi/promyshlennoe-lentirovanie-volos/',
            alt: 'Ленточное наращивание',
          })

          h3 Создание лент из&nbsp;капсул 
          p Предлагаем комфортную услугу&nbsp;&mdash; лентирование волос с&nbsp;кератиновыми капсулами. Достаточно передать нам комплект прядей на&nbsp;капсулах, который мы&nbsp;бережно обрежем, а&nbsp;затем сделаем из&nbsp;них ленты.
          p Предложенная услуга&nbsp;&mdash; удобное решение, чтобы получить дополнительный комплект лент, необходимый на&nbsp;период коррекции основного. 

          h4 Рекомендации по&nbsp;подготовке волос к&nbsp;лентированию
          p Волосы моют специальным шампунем (подойдет для жирных волос, поскольку пряди важно обезжирить), кончики покрывают маской либо бальзамом, дважды промывают в&nbsp;горячей воде, уделяя особое внимание верхушке прядей, где фиксируется лента.
          p Потом волосы высушивают естественным способом, тщательно расчесывают и&nbsp;собирают в&nbsp;пучок, стараясь придать максимальную ровность срезу.
          p Во&nbsp;время процедуры нужно избегать &laquo;перевертышей&raquo;, когда в&nbsp;пучок случайно попадают волосы, обращенные хвостом вверх, иначе результат ленточного наращивания не&nbsp;будет радовать, поскольку волосы начнут спутываться в&nbsp;процессе ношения. 

          h2(style="margin-bottom: 1.25rem;") Почему лентирование волос для наращивания в&nbsp;Санкт-Петербурге лучше проводить в&nbsp;компании &laquo;Волосы&nbsp;24&raquo;?
          +grid({ tag: 'ul', paddingy:true })
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'fullService': true }) Предлагаем комплекс услуг: промышленное лентирование, перелентирование, ремонт старых лент, которые поизносились, обучение ленточному наращиванию и&nbsp;проведение этой процедуры в&nbsp;нашем салоне красоты. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'checklist': true }) Используем волосы собственного производства, на&nbsp;которые распространяется 30-дневная гарантия, действует экспертное заключение Роспотребнадзора. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'hairExtension': true }) Для изготовления лент применяем пряди, которые не&nbsp;обработаны химическим способом, с&nbsp;сохраненной кутикулой и&nbsp;структурой.
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'colorPalette': true }) Подбираем оптимальный оттенок волос, совпадающий с&nbsp;цветом родной шевелюры, поскольку наша палитра достаточно обширна. Пряди окрашены бережным способом, с&nbsp;четким соблюдением технологии. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'professionals': true }) Лентирование проводят мастера, опыт которых насчитывает десятилетия, а&nbsp;еще они сами обучают наших студентов в&nbsp;рамках разноуровневых курсов от&nbsp;компании &laquo;Волосы&nbsp;24&raquo;.
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'insurance': true }) Организовали производственный процесс на&nbsp;основании международных стандартов качества.
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'like': true }) Используем только то&nbsp;сырье, в&nbsp;качестве которого мы&nbsp;убедились на&nbsp;личном опыте.

          h2 Цена на&nbsp;лентирование волос для наращивания в&nbsp;Санкт-Петербурге в&nbsp;компании &laquo;Волосы&nbsp;24&raquo;
          p На&nbsp;ценообразование влияет объем заказа, стоимость донорских прядей, их&nbsp;количество, работа мастера. 
          p Цена услуги составляет: при заказе объема от&nbsp;100&nbsp;г до&nbsp;1&nbsp;кг&nbsp;&mdash; 10&nbsp;тыс. рублей за&nbsp;100 грамм (если изготовление лент проводим из&nbsp;волос, предоставленных клиентом) или 65&nbsp;тыс. рублей (при работе с&nbsp;волосами нашего производства).
