extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Волосы для наращивания в срезе'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Ручное трессирование волос в&nbsp;Санкт-Петербурге 
          p Ручное трессирование волос&nbsp;&mdash; это услуга компании &laquo;Волосы&nbsp;24&raquo;, которая заключается в&nbsp;создании #[a(href='/shop/volosy-dlya-narashchivaniya/na-tressah/') трессов] для голливудского наращивания вручную нашими мастерами. 
          +img({
            name: 'tressirovanie-1',
            path: '/images/uslugi/ruchnoe-tressirovanie/',
            formats: [
              { ext: 'png', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })

          h2 Понятие трессов 
          p Активно использовать трессы начали в&nbsp;восьмидесятых годах, когда их&nbsp;признали первым несъемным вариантом загущения, удлинения волос и&nbsp;увеличения их&nbsp;объема. 
          p Появились они на&nbsp;замену шиньону, что стало удобным решением, избавив от&nbsp;необходимости часто надевать и&nbsp;снимать изделие из&nbsp;волос, в&nbsp;то&nbsp;время как его можно носить постоянно, достигнув превосходной длины и&nbsp;объема шевелюры.
          p Трессом называют полоску из&nbsp;соединенных между собой волос, которые сострочены на&nbsp;специализированных машинах или сплетены вручную. С&nbsp;английского название переводится как &laquo;прядь&raquo;. Различают изделия разной ширины: узкими увеличивают густоту и&nbsp;длину по&nbsp;бокам на&nbsp;височных зонах, а&nbsp;широкими&nbsp;&mdash; в&nbsp;области затылка.
          +figure({
            img: 'tressirovanie-2',
            path: '/images/uslugi/ruchnoe-tressirovanie/',
            alt: 'Трессы',
          })
          p В&nbsp;готовом виде трессы становятся идеальным материалом для наращивания волос трессовым методом, который рассматривают как наиболее простую, быструю в&nbsp;реализации, экологичную, комфортную и&nbsp;щадящую для волос процедуру. 

          h2 Способы производства трессов 
          p Практикуют машинное и&nbsp;ручное производство. Трессы, произведенные машинным способом, выглядят менее естественно, ощущаются на&nbsp;голове после наращивания, а&nbsp;также вариативны по&nbsp;толщине, но&nbsp;всегда уступают по&nbsp;этой характеристике изделиям, созданным вручную. 

          h3 Особенности ручного трессирования
          p Поскольку для плетения ручного тресса от&nbsp;мастера требуется особая концентрация внимания, усидчивость и&nbsp;значительный опыт работы, то&nbsp;готовое изделия получается не&nbsp;только достаточно надежным и&nbsp;прочным, но&nbsp;и&nbsp;аккуратным, изящным, тонким. 
          p Под надежностью понимают прочность закрепления волосков, поскольку они старательно прошиваются, а&nbsp;значит не&nbsp;вычесываются, потому подходят для многократного наращивания. 
          p Изделия подойдут как для процедуры голливудского наращивания, так и&nbsp;для изготовления волос на&nbsp;заколках. 
          p Если клиента интересует первый вариант, то&nbsp;в&nbsp;таком случае следует оформить индивидуальный заказ на&nbsp;изготовление трессов, когда мастера будут ориентироваться на&nbsp;важные параметры, включая необходимую длину, ширину изделий и&nbsp;их&nbsp;количество, и&nbsp;особенности изначальной стрижки.
          p Облегчить выбор необходимого количества волос помогут опытные мастера нашей компании, которые затем и&nbsp;займутся изготовлением трессов под заказ. 

          h2 Способы наращивания, для которых предназначены трессы
          h3 #[a(href='/uslugi/narashchivanie-volos/') Голливудское]
          p Пришло к&nbsp;нам из&nbsp;Голливуда, где ценили особую скорость смены образа, когда для наращивания отдельные пряди не&nbsp;подходили, в&nbsp;силу длительности процедуры, а&nbsp;предпочитали широкие полосы из&nbsp;волос, охватывающие всю окружность головы. 
          +figure({
            img: 'tressirovanie-3',
            path: '/images/uslugi/ruchnoe-tressirovanie/',
            alt: 'Голливудское наращивание',
          })

          h3 Бондинг 
          p Способ наращивания, когда волосы соединяют воедино не&nbsp;с&nbsp;помощью нитей, а&nbsp;при помощи специального клеевого состава, который окрашен в&nbsp;единый оттенок с&nbsp;прядями. В&nbsp;результате удается выйти на&nbsp;незаметный способ их&nbsp;фиксации. Сам&nbsp;же процесс приклеивания существенно ускоряет процесс.

          h3 Французское
          p Ключевое отличие заключается в&nbsp;способе фиксации: вместо пришивания нитей, трессы вплетают в&nbsp;тончайшие косички. Заплетают их&nbsp;максимально туго, создавая как в&nbsp;горизонтальном направлении, так и&nbsp;по&nbsp;диагонали. 
          +figure({
            img: 'tressirovanie-4',
            path: '/images/uslugi/ruchnoe-tressirovanie/',
            alt: 'Французское наращивание',
          })

          h2 Какой материал используют? 
          p Ручное трессирование выполняем из&nbsp;натуральных славянских волос, что дает следующие преимущества:
          ul.list-marked 
            li Разрешено применение любых средств для стайлинга.
            li Длительный срок использования. Сохранение исходных свойств, в&nbsp;особенности безупречного внешнего вида, в&nbsp;течение длительного времени.
            li Отсутствие сложностей в&nbsp;уходе. Уходовые процедуры остаются аналогичными, что и&nbsp;за&nbsp;собственными волосами. 
            li Максимально натуральный вид. Разницу между донорскими и&nbsp;собственными прядями практически не&nbsp;заметить. 
            li Славянские волосы максимально вариативны по&nbsp;структуре и&nbsp;цветовой гамме, потому процесс подбора нужного варианта существенно облегчается.

          h2 Почему волосы другого типа не&nbsp;подойдут?
          p Например, европейские волосы не&nbsp;рассматривают по&nbsp;причине чрезмерной жесткости, не&nbsp;сопоставимой с&nbsp;аналогичной характеристикой родных волос. А&nbsp;азиатские еще больше превосходят по&nbsp;степени жесткости, а&nbsp;также чрезмерно темные.

          h2 Преимущества технологии трессового наращивания
          p По&nbsp;сравнению с&nbsp;другими методами, у&nbsp;этого выделяют следующие преимущества:
          ul.list-marked 
            li экологичность;
            li максимально щадящее воздействие на&nbsp;шевелюру;
            li относительно низкая цена услуги;
            li элементарный уход;
            li отсутствие дискомфортных ощущений: и&nbsp;на&nbsp;этапе проведения процедуры, и&nbsp;в&nbsp;процессе ношения накладных прядей;
            li противопоказания практически отсутствуют;
            li отсутствуют ограничения по&nbsp;укладке и&nbsp;окрашиванию;
            li можно носить низкие прически, а&nbsp;также участки крепления незаметны при распущенных волосах;
            li процедура придает дополнительный объем;
            li элементарная коррекция и&nbsp;процесс снятия;
            li процедура проводится максимально быстро;
            li волоски прочно удерживаются, не&nbsp;вычесываются, а&nbsp;степень фиксации прочная в&nbsp;целом;
            li можно продолжать вести прежний активный образ жизни, в&nbsp;том числе купаться в&nbsp;бассейне, море, посещать сауну, баню.

          h2(style="margin-bottom: 1.25rem;") Почему заказать ручное трессирование в&nbsp;Санкт-Петербурге лучше в&nbsp;компании &laquo;Волосы&nbsp;24&raquo;?
          +grid({ tag: 'ul', paddingy:true })
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'hairExtension': true }) Для процедуры применяем волосы собственного производства, качество которых гарантируем (действует двухнедельная гарантия и&nbsp;получили экспертное заключение Роспотребнадзора).
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'like': true }) Они окрашены бережным способом, со&nbsp;строгим соблюдением технологии, кутикула и&nbsp;структура сохранены. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'femaleHairs': true }) Трессы изготавливаем из&nbsp;шелковистых, необработанных волос, что создает условия для многократного наращивания. 
            +grid__item({ tag: 'li', s:6, xs:12 })
              +iconBlock({ 'professionals': true }) Трессирование выполняют опытные мастера, которые сами обучают методу наших студентов. 

          h2 Цены на&nbsp;ручное трессирование волос в&nbsp;Санкт-Петербурге в&nbsp;компании &laquo;Волосы&nbsp;24&raquo;
          p Цена изготовления трессов для наращивания волос составляет 11&nbsp;000 рублей за&nbsp;100&nbsp;грамм. Стоимость создания накладок на&nbsp;заколках&nbsp;&mdash; 12&nbsp;000 рублей за&nbsp;100&nbsp;грамм, а&nbsp;если из&nbsp;волос, купленных в&nbsp;другой компании, а&nbsp;не&nbsp;заказанных на&nbsp;нашем производстве, то&nbsp;стоимость услуги достигнет 16&nbsp;000 рублей за&nbsp;100&nbsp;грамм. 
          p В&nbsp;качестве справки: в&nbsp;среднем для процедуры наращивания понадобится от&nbsp;80&nbsp;до&nbsp;100 грамм волос, при условии, что длина волос находится в&nbsp;диапазоне от&nbsp;45&nbsp;до&nbsp;55&nbsp;сантиметров. Из&nbsp;упомянутых параметров удается получить около 1&nbsp;метра тресса, изготовленного вручную. 
          p Нужное количество волос и&nbsp;ширину трессов подбираем в&nbsp;индивидуальном порядке, ориентируясь на&nbsp;исходную стрижку и&nbsp;длину шевелюры.
