extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Цветное наращивание волос
          .article-announcement
            .article-announcement__image
              +img({
                name: 'tsvetnoe-1',
                path: '/images/info/narashchivanie-volos/metodiki/tsvetnoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Пряди для цветного наращивания волос').article-illustration
            p Окрашивание&nbsp;&mdash; это захватывающий способ экспериментов с&nbsp;образами и&nbsp;стилями. Но&nbsp;среди всплеска цветов люди не&nbsp;задумываются о&nbsp;последствиях обесцвечивания и&nbsp;окрашивания, пока волосы не&nbsp;станут безжизненными и&nbsp;ломкими. До&nbsp;бесконечности можно перечислять причины, почему стоит избегать частого окрашивания&nbsp;&mdash; краткосрочный эффект не&nbsp;стоит того, чтобы рисковать здоровьем шевелюры.
          
          <hr id="system-readmore" />
          
          p Цветное наращивание волос&nbsp;&mdash; безопасная альтернатива окрашиванию. Методика позволяет экспериментировать с&nbsp;насыщенными оттенками без вреда для локонов. Благодаря наращиванию цветных прядок легко обрести яркий и&nbsp;стильный образ, который подчеркнет вашу уникальность и&nbsp;самовыражение.

          h2 Что такое цветное наращивание?
          p Наращивание цветных прядей волос&nbsp;&mdash; процедура, создающая эффект обесцвечивания или колорирования отдельных прядей без окрашивания. Стилист дополняет прическу прядками нужного цвета для получения желаемого эффекта. Это может быть чередование светлых и&nbsp;тёмных локонов, вкрапление нескольких ярких акцентов или причёска, переливающаяся всеми цветами радуги.
          +img({
            name: 'tsvetnoe-2',
            path: '/images/info/narashchivanie-volos/metodiki/tsvetnoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='1-й пример цветного наращивания волос' title='1-й пример цветного наращивания волос').article-illustration.article-illustration--wide
          h3 Роль цвета в&nbsp;прическах
          p Ищете&nbsp;ли вы&nbsp;незаметные изменения или смелую трансформацию, наращивание прядей волос другого цвета поможет добиться желаемого образа.
          ul.list-marked
            li #[strong Подчеркивание естественных черт.] Правильно подобранный колор выгодно подчеркнет цвет глаз или оттенок кожи. Например, каштановые тона подойдут для голубых глаз и&nbsp;оливковой кожи.
            li #[strong Создание контраста.] Контрастное сочетание цветов делает прическу объемной и&nbsp;динамичной.
            li #[strong Выражение индивидуальности.] Через цвет волос человек выражает исключительность. Смелые и&nbsp;яркие цвета отражают веселую и&nbsp;игривую натуру, а&nbsp;более естественные оттенки формируют классический и&nbsp;неподвластный времени образ.
            li #[strong Маскировка недостатков.] Определенные оттенки способны скрыть эстетические недостатки, такие как седина, отросшие корни или расслоившиеся кончики.
            li #[strong Способ заявить о&nbsp;себе.] Благодаря множеству цветов, техник и&nbsp;стилей, цвет волос помогает в&nbsp;создании смелого и&nbsp;модного образа.

          h3 Разновидности цветного наращивания
          ul.list-marked
            li Контрастное разбавление: цветное наращивание волос на&nbsp;темные волосы рыжих, белых прядей, а&nbsp;блондинкам&nbsp;&mdash; черные или фуксия.
            li Плавный переход одного оттенка в&nbsp;другой. Это могут быть светлые корни, плавно перетекающие в&nbsp;более темные пряди по&nbsp;длине или наоборот, а&nbsp;также создание других креативных вариантов цветовых сочетаний.
            li Эффект мелирования&nbsp;&mdash; наращивание белых прядей с&nbsp;более темными тонами.
            li Колорирование&nbsp;&mdash; способ наращивания, при котором мастер чередует пряди нескольких оттенков.
            li Скрытое наращивание волос цветное&nbsp;&mdash; это метод, при котором донорские цветные пряди скрыты под верхним слоем волосяного полотна. Яркие блики проявляются в&nbsp;движении.

          h2 Технологии цветного наращивания
          h3 Капсульное
          p Принцип капсульного удлинения заключается в&nbsp;применении предварительно разогретого клеящего состава для фиксации у&nbsp;корней с&nbsp;помощью специального пистолета или термощипцов. Важное преимущество капсульного наращивания цветных прядей&nbsp;&mdash; создания уникальных и&nbsp;сложных причесок. Связано это с&nbsp;тем, что в&nbsp;процессе используются тонкие разноцветные прядки, а&nbsp;фиксирующие капсулы остаются незаметными. Горячим методом наращивают волосы на&nbsp;челке, проборе, висках. 
          h3 Ленточное
          p Ленточный тип крепления относится к&nbsp;холодной технологии наращивания. Для его реализации используется специальная клейкая лента и&nbsp;цветные прядки. Ленточный метод&nbsp;&mdash; самый быстрый, а&nbsp;клеевой состав безопасен даже для беременных и&nbsp;аллергиков. С&nbsp;наращенными на&nbsp;ленту волосами нет ограничений в&nbsp;действиях, но&nbsp;выбор укладки ограничен.
          h3 Японское
          p Относится к&nbsp;холодному методу. В&nbsp;данной технике используются специальные металлические бусины, клипсы или зажимы. Наращивание цветного ряда волос фиксируется крепежами у&nbsp;корней. С&nbsp;помощью маленького крючка локоны продеваются в&nbsp;зажим или клипсу и&nbsp;закрепляются специальными щипцами. Клей и&nbsp;нагрев в&nbsp;данной технике не&nbsp;используется, а&nbsp;крепления подбираются в&nbsp;соответствии с&nbsp;цветом локонов. 

          h2 Идеи для цветного наращивания
          p Индустрия красоты предлагает бесчисленное количество цветных идей для наращивания: от&nbsp;утонченных и&nbsp;естественных до&nbsp;дерзких. 
          ul.list-marked
            li #[strong Балансировка:] техника постепенного &laquo;пляжного&raquo; мелирования, которая создает естественный вид выгорания;
            li #[strong Омбре:] постепенный переход цвета от&nbsp;одного оттенка к&nbsp;другому, как правило, от&nbsp;более темного оттенка у&nbsp;корней к&nbsp;более светлому на&nbsp;кончиках;
            li #[strong Dip dye:] забавный и&nbsp;игривый вариант dip dye предполагает добавление яркого оттенка на&nbsp;кончики волос;
            li #[strong Sombre:] тонкое, мягкое омбре, в&nbsp;котором сочетаются два цвета для придания естественного и&nbsp;сдержанного вида;
            li #[strong Мелирование:] наращенные светлые пряди на&nbsp;темных волосах придают прическе глубину и&nbsp;объем;
            li #[strong Цвета радуги:] игривый и&nbsp;смелый вариант прически rainbow hair предполагает сочетание нескольких ярких оттенков, таких как синий, розовый и&nbsp;фиолетовый в&nbsp;одной прическе;
            li #[strong Пастельные тона:] мягкие, бледные оттенки, такие как лавандовый, розовый и&nbsp;нежно-голубой создают нежный и&nbsp;необычный образ.
          p Это лишь несколько идей для цветного наращивания. Вариантов бесконечное множество, и&nbsp;выбор в&nbsp;конечном итоге сводится к&nbsp;личным предпочтениям и&nbsp;индивидуальному стилю.
          +img({
            name: 'tsvetnoe-3',
            path: '/images/info/narashchivanie-volos/metodiki/tsvetnoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='2-й пример цветного наращивания волос' title='2-й пример цветного наращивания волос').article-illustration.article-illustration--wide
          h2 Плюсы цветного наращивания
          ul.list-marked
            li #[strong Безопасность:] поскольку собственные волосы не&nbsp;подвергаются воздействию агрессивных составов, человек получает великолепные и&nbsp;яркие цвета без вреда для шевелюры. 
            li #[strong Вариативность:] большой выбор многоцветных расширений и&nbsp;техник.
            li #[strong Дополнительный объем:] помимо демонстрации красочного наращивания, накладные волосы добавляют объем и&nbsp;длину прическе.
            li #[strong Долговременный результат:] из&nbsp;наращенных волосков красящий пигмент практически не&nbsp;вымывается, так как они окрашиваются особым образом.

          h2 Противопоказания и&nbsp;ограничения
          ul.list-marked
            li Повреждение кожи головы;
            li Дерматологические проблемы;
            li Склонность к&nbsp;обильной потере волос;
            li Лечение антибиотиками;
            li Курс химиотерапии.

          h2 Как ухаживать за&nbsp;цветными прядями
          h3 Мытье
          p Сульфаты&nbsp;&mdash; это тип моющих компонентов, содержащихся во&nbsp;многих шампунях, которые ускоряют вымывание пигмента, повреждают защитный слой стержня. Чтобы избежать этого, при мытье используют безсульфатные моющие составы. Продукты без SLS содержат мягкие очищающие компоненты, которые не&nbsp;вымывают масла и&nbsp;пигмент, что делает их&nbsp;подходящим выбором для окрашенных локонов.
          p При мытье головы используйте теплую воду и&nbsp;не&nbsp;трите локоны сильно, так как это приводит к&nbsp;их&nbsp;запутыванию и&nbsp;повреждению. Нанесите небольшое количество шампуня на&nbsp;руки, вспеньте и&nbsp;аккуратно распределите по&nbsp;всей длине волосяного полотна. Тщательно промойте теплой водой, смывая шампунь.
          h3 Кондиционирование
          p Окрашенные наращенные локоны требуют больше влаги, чем собственные, поэтому регулярно их&nbsp;кондиционируйте. Используйте кондиционер, разработанный для окрашенного наращивания, чтобы сохранить насыщенность цвета, мягкость и&nbsp;гладкость. Нанесите кондиционирующий состав на&nbsp;волосяное полотно, оставьте на&nbsp;несколько минут, а&nbsp;затем смойте и&nbsp;высушите естественным способом.
          h3 Минимизируйте горячую укладку
          p Инструменты для термоукладки и&nbsp;фены, легко повреждают структуру окрашенного стержня, ускоряя выцветание и&nbsp;пересушивая пряди. Поэтому минимизируйте контакт волос с&nbsp;термоприборами. При тепловой укладке используйте термозащитные составы, чтобы защитить наращивание от&nbsp;теплового повреждения.
          h3 Защищайте наращенные пряди во&nbsp;время купания
          p Хлорированная и&nbsp;соленая вода опасны для цветного наращивания, приводя к&nbsp;быстрому выцветанию. Поэтому при посещении бассейна или пляжа надевайте защитную шапочку или собирайте локоны в&nbsp;высокий пучок или хвост, чтобы избежать контакта с&nbsp;водой.
          h3 Расчесывание
          p Регулярное расчесывание поможет волосам не&nbsp;запутываться и&nbsp;выглядеть ухожено. Расчесывают осторожно, чтобы не&nbsp;повредить наращенные прядки и&nbsp;предотвратить потускнение цвета. Используйте гребень с&nbsp;редкими зубьями, чтобы бережно распутывать наращивание, начиная с&nbsp;кончиков и&nbsp;постепенно поднимаясь вверх. Никогда не&nbsp;расчесывайте мокрые локоны.
          +img({
            name: 'tsvetnoe-4',
            path: '/images/info/narashchivanie-volos/metodiki/tsvetnoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='3-й пример цветного наращивания волос' title='3-й пример цветного наращивания волос').article-illustration.article-illustration--wide
          h2 Нюансы цветного наращивания
          ul.list-marked
            li Используйте пряди с&nbsp;затемненными корнями в&nbsp;тон собственных волос. Растяжку цвета делают плавной. Если нет готового наращивания, окрашивают прядки самостоятельно.
            li Если волосы на&nbsp;макушке короче, чем цветные пряди, то&nbsp;не&nbsp;делайте их&nbsp;верхним рядом. Нарастите вторым или третьим рядом сверху, чтобы избежать неестественного цветового перехода. Если длина макушки и&nbsp;цветных прядей одинаковая, допустимо наращивание верхним рядом.
            li Одинаковое количество прядей выглядит по-разному. Если нарастить на&nbsp;нижние ряды, прядки останутся незаметными, если ближе к&nbsp;верхним&nbsp;&mdash; то&nbsp;цветное наращивание выйдет на&nbsp;первый план.
            li Если сделать расстояние между прядками в&nbsp;1-2&nbsp;пальца, то&nbsp;получится эффект попрядного окрашивания. Если поставить в&nbsp;ряд, то&nbsp;получится эффект россыпи.

          h2 Почему предпочтительно наращивание в&nbsp;салоне?
          ul.list-marked
            li Сертифицированные мастера;
            li Бережное отношение к&nbsp;волосам клиента;
            li Возможность совмещения с&nbsp;другими процедурами;
            li Использование профессиональных продуктов и&nbsp;инструментов;
            li Ожидаемый результат;
            li Безопасность методов;
            li Гарантии на&nbsp;результат и&nbsp;качество волос.

          h2 Популярные вопросы и&nbsp;ответы
          +accordionItem('<h3>Какой вид наращивания щадящий?</h3>')
            p Холодный метод с&nbsp;использованием клея предпочтительнее, так как при горячем методе используется горячая смола, которая при несоблюдении технологии способна повредить волосяное полотно. Ультразвуковое, ленточное и&nbsp;афро-наращивание (процедура с&nbsp;использованием трессов) считаются безопасными.
          +accordionItem('<h3>Есть риск выпадения волос при наращивании?</h3>')
            p Слишком тугое крепление, тяжелые или неправильно наложенные прядки способны вызвать тракционную алопецию. Это тип облысения, вызванный чрезмерным натяжением корней. Чтобы предотвратить выпадение волос, мастер диагностирует состояние шевелюры и&nbsp;предлагает подходящий метод удлинения, оптимальное количество донорских прядок. Также важно следовать рекомендациям по&nbsp;уходу за&nbsp;волосами, не&nbsp;использовать агрессивные средства для укладки.
          +accordionItem('<h3>Как ухаживать за&nbsp;донорскими волосами после снятия?</h3>')
            p Донорские прядки после снятия аккуратно расчесывают и&nbsp;моют мягким шампунем, избегая спутывания или образования узлов. Срез сушат и&nbsp;плотно обвязывают конец резинкой. Оборачивают хлопчатобумажной тканью и&nbsp;хранят в&nbsp;сухом месте.
          +accordionItem('<h3>Используют цветные пряди многократно?</h3>')
            p Да, если это натуральные волосы, которые получают должный уход.
          +accordionItem('<h3>Как укладывать наращенные волосы?</h3>')
            p Допускается пользоваться термоприборами при нагреве до&nbsp;230&nbsp;градусов. При термоукладке избегайте контакта нагревательного прибора с&nbsp;креплением. При нанесении термозащитных продуктов не&nbsp;затрагивайте область крепления.          

