extends /blocks/layout/layout
include /blocks/figure/figure
include /blocks/icon-block/icon-block
include /blocks/accordion-item/accordion-item

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Кератиновое наращивание волос'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Временное наращивание волос
          .article-announcement
            .article-announcement__image
              +img({
                name: 'vremennoe-1',
                path: '/images/info/narashchivanie-volos/metodiki/vremennoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Пряди на заколках' title='Пряди на заколках').article-illustration
            
            p Бьюти-индустрия предлагает много полупостоянных вариантов изменения длины и&nbsp;объема. Но&nbsp;не&nbsp;каждая женщина согласна ежедневно тратить время на&nbsp;уход за&nbsp;наращением, поэтому предлагаем для создания нового неповторимого образа воспользоваться преимуществами временного наращивания.
          <hr id="system-readmore" />

          h2 Что такое временное наращивание?
          p Временное наращивание волос&nbsp;&mdash; это наращивание, при котором владелец надевает и&nbsp;снимает расширения по&nbsp;собственному желанию, например, накладные волосы на&nbsp;заколках. Временные технологии быстро меняют фронтальную линию, добавляют длину и&nbsp;объем прическе. Это отличный способ создания креативных образов и&nbsp;примерки новых стилей без долгосрочных обязательств. Под временным наращиванием, как правило, подразумевается наращивание на&nbsp;заколках, проволоках и&nbsp;лентах. Первые снимают в&nbsp;этот&nbsp;же день перед сном, ленты носят месяц.
          +img({
            name: 'vremennoe-2',
            path: '/images/info/narashchivanie-volos/metodiki/vremennoe-narashchivanie-volos/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' },
            ]
          })(alt='Один из примеров временного наращивания волос' title='Один из примеров временного наращивания волос').article-illustration

          h2 Почему выбирают временное наращивание
          ul.list-marked
            li С&nbsp;временным наращиванием легко менять образы;
            li Непродолжительное воздействие расширений не&nbsp;перегружает волосяные корни;
            li Удобство применения&nbsp;&mdash; донорские пряди прикрепляют и&nbsp;снимают в&nbsp;любое время и&nbsp;в&nbsp;любом месте;
            li Комфорт&nbsp;&mdash; наращения носят только при необходимости, например, на&nbsp;вечеринку;
            li Временные расширения из&nbsp;натуральных волос органично сливаются с&nbsp;собственными локонами.

          h2 Виды временного наращивания
          h3 На&nbsp;заколках
          p Это первое изобретение для преображения прически с&nbsp;богатой историей. Для наращивания используются пряди разной длины и&nbsp;ширины со&nbsp;специальными зажимами для крепления. Рекомендованы для всех типов волос. Перед сном снимаются.
          h3 Ленточное
          p Ленточный тип фиксации локонов относится к&nbsp;холодной технологии наращивания. Для крепления используется клейкая лента и&nbsp;донорские волосы. Наращивание лентами проводится быстро, в&nbsp;среднем за&nbsp;30-40&nbsp;минут. Клеевой состав безопасен, при необходимости удаляется специальным раствором. Пряди снимаю через 1-1,5 месяца самостоятельно, натуральный материал используется повторно. Противопоказаны высокие прически.
          h3 Пришивное
          p Пришитые трессы носят 1-1,5&nbsp;месяцев. Метод специально разрабатывали для защиты собственной шевелюры от&nbsp;негативного воздействия химикатов и&nbsp;высоких температур. Наращения держатся надежно, а&nbsp;места крепления не&nbsp;видны. Для фиксации плетутся тонкие косички брейды поперек затылка, встречающиеся посередине. К&nbsp;основе пришиваются пряди в&nbsp;виде тресса. К&nbsp;каждой косе пришивается один тресс.	
          p Трессы с&nbsp;натуральными прядями используются многократно. Противопоказаны высокие прически и&nbsp;пробор, обнажающие крепление.
          h3 Наращивание halo
          p Метод стал революционным решением для желающих добавить объем, длину или яркий цвет собственной шевелюре, не&nbsp;прибегая к&nbsp;традиционному наращиванию. Halo наращивание состоит из&nbsp;прозрачной лески, которая лежит на&nbsp;макушке с&nbsp;прикрепленными прядями, плавно сливающимися с&nbsp;натуральными локонами. Надевается при необходимости и&nbsp;снимается перед сном. Подходит для всех типов волос.
          p Устанавливаются накладки &laquo;ореол&raquo; просто. Сначала размещают проволоки в&nbsp;2,5-5&nbsp;см от&nbsp;фронтальной линии роста, позволяя трессам (сшитые в&nbsp;длинную полосу пряди) лежать на&nbsp;затылке. Проволоку регулируют для плотного прилегания. Когда ореол окажется на&nbsp;месте, расческой или пальцами натягивают натуральные волосы на&nbsp;проволоку, смешивая с&nbsp;наращением, чтобы замаскировать&nbsp;ее.
          +grid({ paddingy:true })
            +grid__item({ m:6, xs:12 })
              +img({
                name: 'vremennoe-3',
                path: '/images/info/narashchivanie-volos/metodiki/vremennoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Второй пример временного наращивания волос' title='Второй пример временного наращивания волос')
            +grid__item({ m:6, xs:12 })
              +img({
                name: 'vremennoe-4',
                path: '/images/info/narashchivanie-volos/metodiki/vremennoe-narashchivanie-volos/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt='Временное наращивание волос' title='Временное наращивание волос')

          h2 Выбор материала для расширения
          h3 Натуральные волосы
          ul.list-marked
            li #[strong Славянские]&nbsp;&mdash; это материал превосходного качества, поэтому самый востребованный. У&nbsp;славянских срезов гладкая кутикула и&nbsp;потрясающий вид без дополнительной обработки. При их&nbsp;изготовлении не&nbsp;нарушается чешуйчатый слой. Славянские волосы бывают прямыми, вьющимися и&nbsp;кудрявыми. Прядки легко сушить, укладывать и&nbsp;создавать оригинальные прически.
            li #[strong Европейские] импортируются не&nbsp;только из&nbsp;Европы, но&nbsp;и&nbsp;из&nbsp;Индии или Латинской Америки. Процесс создания прядей заключается в&nbsp;предварительном кислотировании, окрашивании и&nbsp;обработке силиконом. При этом верхний чешуйчатый слой полностью или частично удаляется.
            li #[strong Азиатские]&nbsp;&mdash; материал из&nbsp;Китая и&nbsp;Кореи. Технология производства заключается в&nbsp;очистке верхнего чешуйчатого слоя, шлифовке, покраске и&nbsp;покрытии силиконом. На&nbsp;первый взгляд срезы выглядят привлекательно, но&nbsp;до&nbsp;первого мытья. Затем они теряют блеск, путаются и&nbsp;электризуются.

          h3 Искусственные
          p Синтетические локоны изготавливаются из&nbsp;акриловых, полиэстеровых, канекалоновых или тойокалоновых волокон. Волокна укладываются в&nbsp;определенные текстуры и&nbsp;стили, а&nbsp;затем окрашиваются методом распыления или погружения в&nbsp;краситель. При этом получаются тона ярче, чем при окрашивании натуральных локонов.
          p Синтетические пряди гладкие и&nbsp;с&nbsp;равномерной толщиной от&nbsp;корней до&nbsp;кончиков. Поставляются предварительно уложенными. У&nbsp;них нет слоистой структуры кутикулы. Это делает синтетические волокна более блестящими, чем органические. Им&nbsp;не&nbsp;хватает движения и&nbsp;индивидуальности, которые возможны при стрижке и&nbsp;обработке человеческих волос.
          p Тепло, солнце, трение и&nbsp;ряд продуктов приводит к&nbsp;сухости и&nbsp;ломкости синтетического волокна.

          h2 Выбор подходящего наращивания
          h3 Плотность
          p Выбор временных расширений важен для достижения естественного и&nbsp;целостного вида. Обладательницам тонких прядей рекомендованы накладки низкой плотности, чтобы создать объем, не&nbsp;утяжеляя прическу. Тем, у&nbsp;кого средней густоты и&nbsp;густые волосы, допустимы более плотные накладки, создающие сбалансированное и&nbsp;пропорциональное усиление.
          h3 Цвет
          p Выбор оттенка, близкого к&nbsp;естественному цвету, гарантирует идеальное сочетание. Но&nbsp;для тех, кто хочет поэкспериментировать с&nbsp;цветом, временное наращивание добавит светлые, темные, разноцветные прядки без необходимости краситься.

          h2 Преимущества метода
          ul.list-marked
            li Возможность быстро изменить линию роста и&nbsp;объем волос. Это отличный способ создавать новые образы и&nbsp;проверять различные стили без долгосрочных обязательств.
            li Безопасность. Так как для крепления прядей не&nbsp;требуется нагрев, а&nbsp;время ношения непродолжительное, временные расширения безопасны для собственной шевелюры.
            li Использование любых по&nbsp;структуре и&nbsp;оттенку удлинений. Для временной коррекции используют натуральный и&nbsp;синтетический материал разных цветов. Натуральные волосы дают максимально естественный результат.
            li Выбор области и&nbsp;объема коррекции. Выбор количества прядей зависит от&nbsp;исходного состояния шевелюры и&nbsp;пожеланий клиента.

          h2 Уход за&nbsp;расширениями
          h3 Натуральные
          p #[strong Расчесывание.] Чтобы уменьшить и&nbsp;предотвратить спутывание, чаще расчесывайте наращения. Мастера рекомендуют расчесываться минимум два раза в&nbsp;день&nbsp;&mdash; утром и&nbsp;перед сном.
          p #[strong Мытье.] Рекомендуется мыть голову не&nbsp;чаще 2&nbsp;раз в&nbsp;неделю. Частое мытье грозит пересушиванием. Тщательно промывайте волосы, чтобы не&nbsp;оставалось остатков средства. Кондиционер наносят от&nbsp;середины волосяного полотна до&nbsp;кончиков, исключая кожу головы.

          h3 Синтетические
          p Мягкое мытье шампунем и&nbsp;регулярное кондиционирование сохраняют синтетические расширения гладкими и&nbsp;без узлов. Давая прядям высохнуть на&nbsp;воздухе, вы&nbsp;предотвратите повреждение от&nbsp;избыточного тепла. Аккуратно распутывайте волоски влажной щеткой от&nbsp;кончиков до&nbsp;корней во&nbsp;время кондиционирования.
          p На&nbsp;время сна и&nbsp;занятий спортом заплетайте волосы в&nbsp;свободную косу или высокий хвост. Храните в&nbsp;коробке, а&nbsp;не&nbsp;в&nbsp;подвешенном состоянии, чтобы предотвратить растягивание. Стирайте вручную, чтобы удалить масла и&nbsp;пот.

          h2 Часто задаваемые вопросы
          +accordionItem('<h3>Как хранить трессы для Halo наращивания?</h3>')
            p Хранение влияет на&nbsp;срок службы временных расширений. Трессы для ореолов хранят в&nbsp;прохладном, темном и&nbsp;сухом месте, чтобы предотвратить повреждение и&nbsp;выцветание. Использование шелковой или атласной сумки для хранения дополнительно защитит волоски от&nbsp;спутывания и&nbsp;завивания.
          +accordionItem('<h3>Моют&nbsp;ли искусственные пряди на&nbsp;заколках?</h3>')
            p Да, технология та&nbsp;же, что и&nbsp;при мытье париков. В&nbsp;тазике с&nbsp;теплой водой растворяют ложку шампуня, укладывают трессы на&nbsp;дно на&nbsp;15&nbsp;минут, заколки протирают губкой. Пряди вынимают и&nbsp;кладут на&nbsp;ровную поверхность на&nbsp;хлопковую ткань. Сушатся естественным методом.
          +accordionItem('<h3>Как часто делать коррекцию?</h3>')
            p Периодичность коррекции зависит от&nbsp;выбранной технологии. Наращивание Hola и&nbsp;на&nbsp;заколках снимают перед сном.
          +accordionItem('<h3>Как избежать видимости заколок в&nbsp;прическе?</h3>')
            p Оставлять сверху плотный слой волос.
          +accordionItem('<h3>Спят&nbsp;ли с&nbsp;временными наращиваниями?</h3>')
            p Да, если это ленточная или пришивная технология, их&nbsp;носят до&nbsp;1,5&nbsp;месяцев.
