.hair-extention-action
  padding (basePadding*2)
  background url('/images/hair-extention/action-bg.png') no-repeat left, linear-gradient(#ede5bf, #d6b384)
  background-size contain
  border-radius 4px
  padding-left 20rem
  @media screen and (max-width point-l)
    padding-left (basePadding*2)
    background linear-gradient(#ede5bf, #d6b384)
    justify-content center
  &__left
    
    @media screen and (max-width point-l)
      max-width 380px
      text-align center
      display flex
      flex-direction column
      align-items center
  &__right
    font-size font-m
    line-height line-m
    text-align center
    @media screen and (max-width point-l)
      max-width 320px
  &__title
    margin-bottom basePadding
    font-size (font-m*2)
    font-weight bold
    font-style italic
    line-height 1
    text-transform uppercase
    color #ad0a31
    text-shadow 1px 1px 2px #faf8e0
  &__info
    color #ad0a31
    font-size font-xl
    line-height line-xl
    margin-bottom (font-xl/2)
  &__info
    &_big
      font-size font-xl
      strong
        font-size font-xxxl
  &__gift
    display inline-block
    margin-bottom basePadding
    padding-top 4px
    color #ad0a31
    font-size font-l
    line-height 1
  &__counter
    p
      margin-bottom 8px
    .countdownHolder
      display flex
      margin-top font-xs
      text-align left
      @media screen and (max-width point-m)
        text-align center
      .position
        display inline-block
        height line-xxl
        overflow hidden
        position relative
        width line-xxl*(3/4)
      .digit
        background #b0986e
        box-shadow none
        position: absolute;
        display: block
        width line-xxl*(3/4)
        line-height line-xxl
        font-size font-xxl
        border-radius: 0.2rem
        text-align: center
        color: #fff
        letter-spacing: -1px
        @media screen and (max-width point-s)
          line-height line-xl
          font-size font-xl
            
      .digit.static
        background #b0986e
        box-shadow none
        display block
      .countDays::after
        font-size 12px
        content 'дней'
        display block
        text-align center
      .countHours::after
        font-size 12px
        content 'часов'
        display block
        text-align center
      .countMinutes::after
        font-size 12px
        content 'минут'
        display block
        text-align center
      .countSeconds::after
        font-size 12px
        content 'секунд'
        display block
        text-align center
      .countDiv
        display flex
        align-items center
        &::after
          margin-x .25rem
          line-height line-xxl
          font-size font-xxl
          content ':'
  &__phone
    padding-top 16px
    padding-bottom 16px
    font-size 30px
    line-height 1
    white-space nowrap
  &__form
    display flex
    flex-direction column
    align-items stretch
  &__input
    margin-top 8px
    margin-bottom 8px
    input
      padding 8px 24px
      line-height 22px
      font-size 16px
      width 100%
      border 1px solid #ddbc8e
      border-radius 4px
  &__submit
    button
      width 100%
      padding 8px 24px
      font-size 12px
      line-height 22px
      text-transform uppercase
      color #fff
      background #cc0033
      border none
      cursor pointer
      outline none
      transition background .2s
      &:hover
        background #990033
        text-shadow none
